<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:p="http://primefaces.org/ui"
      xmlns:f="http://xmlns.jcp.org/jsf/core">
    <h:head>
        <title>Facelet Title</title>
        <script src="../recursos/js/calendario.js"/>
        <link href="../recursos/css/estilos.css" rel="stylesheet"/>
        <link href="../recursos/css/metro-bootstrap.css" rel="stylesheet"/>
        <link href="../recursos/css/iconFont.css" rel="stylesheet"/>
        <link href="//fonts.googleapis.com/css?family=Comfortaa" rel="stylesheet" />
        <script type="text/javascript">
            function tab() {
                document.getElementById('formDatosPaciente:iddocumento').focus();
            }
        </script>

        <script type="text/javascript">
            $(document).keypress(
                    function (event) {
                        if (event.which == '13') {
                            event.preventDefault();
                        }


                    });
        </script>

    </h:head>
    <h:body>
        <p:growl autoUpdate="true" showDetail="true"/> 
        <br/>        
        #{citaController.findmedico()}
        <p:fieldset legend="Paciente">
            <h:form id="formDatosPaciente">
                <table>
                    <tr>
                        <td>
                            <p:outputLabel styleClass="labelFormularioBold" id="idtipodocumento" value="#{citaController.pacienteSeleccionado.tipoIdentificacion.descripcion}" rendered="#{citaController.hayPacienteSeleccionado}"/>
                            <p:inputText  styleClass="campoFormulario" id="iddocumento" size="25" value="#{citaController.identificacion}" >
                                <p:ajax event="blur" listener="#{citaController.findPaciente}" update=":formDatosPaciente :formCita"/>
                            </p:inputText>
                            <p:watermark for="iddocumento" value="Identificación paciente"/>
                            <p:commandButton
                                id="cbtnPaciente"
                                styleClass="campoFormulario"
                                title="Paciente"
                                onclick="PF('dlgPaciente').show();"
                                icon="ui-icon-search"
                                style="width: 23px; height: 23px;"/>                                
                            <p:outputLabel styleClass="labelFormularioBold" value="Paciente:" rendered="#{citaController.hayPacienteSeleccionado}" />
                            <p:outputLabel styleClass="labelFormulario" id="idpaciente" value="#{citaController.pacienteSeleccionado.primerNombre} #{citaController.pacienteSeleccionado.segundoNombre} #{citaController.pacienteSeleccionado.primerApellido} #{citaController.pacienteSeleccionado.segundoApellido}" rendered="#{citaController.hayPacienteSeleccionado}"/>
                            <p:outputLabel styleClass="labelFormularioBold" value="Género:" rendered="#{citaController.hayPacienteSeleccionado}"/>
                            <p:outputLabel styleClass="labelFormulario" id="idsexo" value="#{citaController.pacienteSeleccionado.sexo.observacion}" rendered="#{citaController.hayPacienteSeleccionado}"/>
                            <p:outputLabel styleClass="labelFormularioBold" value="Fecha Nacimiento:" rendered="#{citaController.hayPacienteSeleccionado}"/>
                            <p:outputLabel styleClass="labelFormulario"  id="idfecnac" value="#{citaController.pacienteSeleccionado.fechaNacimiento}" rendered="#{citaController.hayPacienteSeleccionado}">
                                <f:convertDateTime locale="es_CO" pattern="MM/dd/yyyy"/>   
                            </p:outputLabel>                                       
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <p:outputLabel styleClass="labelFormularioBold" value="Edad:" rendered="#{citaController.hayPacienteSeleccionado}"/>
                            <p:outputLabel styleClass="labelFormulario" id="idedad" value="#{citaController.pacienteSeleccionado.edad}" rendered="#{citaController.hayPacienteSeleccionado}"/>
                            <p:outputLabel styleClass="labelFormularioBold" value="G.S.:" rendered="#{citaController.hayPacienteSeleccionado}"/>
                            <p:outputLabel  styleClass="labelFormulario" id="idrh" value="#{citaController.pacienteSeleccionado.grupoSanguineo.descripcion}" rendered="#{citaController.hayPacienteSeleccionado}"/>
                            <p:outputLabel styleClass="labelFormularioBold" value="Estado Civil:" rendered="#{citaController.hayPacienteSeleccionado}"/>
                            <p:outputLabel  styleClass="labelFormulario" id="idecivil" value="#{citaController.pacienteSeleccionado.estadoCivil.descripcion}" rendered="#{citaController.hayPacienteSeleccionado}"/>
                            <p:outputLabel styleClass="labelFormularioBold" value="Lugar Nacimiento:" rendered="#{citaController.hayPacienteSeleccionado}"/>
                            <p:outputLabel styleClass="labelFormulario" id="idlugnac"  value="#{citaController.pacienteSeleccionado.provincia.descripcion} #{citaController.pacienteSeleccionado.canton.descripcion}" rendered="#{citaController.hayPacienteSeleccionado}"/>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <p:outputLabel styleClass="labelFormularioBold" value="Teléfono:" rendered="#{citaController.hayPacienteSeleccionado}"/>
                            <p:outputLabel styleClass="labelFormulario" id="idtel" value="#{citaController.pacienteSeleccionado.telefono}" rendered="#{citaController.hayPacienteSeleccionado}"/>
                            <p:outputLabel styleClass="labelFormularioBold" value="Dirección:" rendered="#{citaController.hayPacienteSeleccionado}"/>
                            <p:outputLabel  styleClass="labelFormulario" id="iddir" value="#{citaController.pacienteSeleccionado.direccion}" rendered="#{citaController.hayPacienteSeleccionado}"/>

                        </td>

                    </tr>

                </table>   
            </h:form>
        </p:fieldset>
        <!-- DETALLES DE LA CITA -->
        <p:fieldset legend="Detalles de la Cita">
            <h:form id="formCita" style="display: #{citaController.displayPaciente}">                
                <table>
                    <tr>
                        <td>
                            <p:outputLabel styleClass="labelFormularioBold" value="Motivo Consulta:"/>
                        </td>
                        <td colspan="2">
                            <p:selectOneMenu styleClass="campoFormulario" id="selecmotitconsultas" value="#{citaController.motivoConsultas}" style="width: 250px;">
                                <f:selectItem itemValue="0" itemLabel="..." />
                                <f:selectItems  value="#{citaController.listaMotivo}" /> 
                                <p:ajax event="change" update="@form"/>
                            </p:selectOneMenu> 
                        </td>
                    </tr>
                </table>


            </h:form>


        </p:fieldset>
        <!-- SELECCION DEL MEDICO -->                
        <p:fieldset legend="Detalles Medico">
            <h:form id="formmedico">
                <table>
                    <tr>
                        <td>
                            <p:inputText id="idcodmedico" styleClass="campoFormulario" value="#{citaController.id_medico}" size="25">
                                <p:ajax event="blur" listener="#{citaController.findmedico}" update="@form :formCalendarioCitas"/>
                            </p:inputText>
                            <p:watermark for="idcodmedico" value="Identificación Medico"/>
                            <p:commandButton 
                                title="Medico"    
                                styleClass="campoFormulario"
                                onclick="PF('dlgfindMedico').show();" 
                                icon="ui-icon-search"
                                style="width: 23px; height: 23px;"/>                
                            <p:outputLabel styleClass="labelFormularioBold" value="Dr(a):" rendered="#{citaController.hayMedicoSeleccionado}"/>
                            <p:outputLabel styleClass="labelFormulario" value="#{citaController.medicoSeleccionado.primerNombre} #{citaController.medicoSeleccionado.segundoNombre} #{citaController.medicoSeleccionado.primerApellido} #{citaController.medicoSeleccionado.segundoApellido}" rendered="#{citaController.hayMedicoSeleccionado}"/>
                            <p:outputLabel styleClass="labelFormularioBold" value="Especialidad:" rendered="#{citaController.hayMedicoSeleccionado}"/>
                            <p:outputLabel styleClass="labelFormulario" value="#{citaController.medicoSeleccionado.especialidad.descripcion}" rendered="#{citaController.hayMedicoSeleccionado}"/>
                            <p:outputLabel styleClass="labelFormularioBold" value="No Registro:" rendered="#{citaController.hayMedicoSeleccionado}"/>
                            <p:outputLabel styleClass="labelFormulario" value="#{citaController.medicoSeleccionado.registroProfesional}" rendered="#{citaController.hayMedicoSeleccionado}"/>
                            <br></br>
                            <br></br>
                            
                            <p:fileUpload id="subirOrdenTf" update="subirOrdenTf" rendered="#{citaController.esFisioterapia}" value="#{citaController.file}" fileUploadListener="#{citaController.manageFileTf}" auto="true" skinSimple="true" mode="advanced" multiple="false" label="Subir orden medica" disabled="#{citaController.estaSubido}" >
                            </p:fileUpload>                                                        
                        </td>

                    </tr>
                </table>
            </h:form>        
            <br/>
            <h:form id="formCalendarioCitas">
                <p:growl id="messages" showDetail="true" />
                <p:panel style="border: none" rendered="#{citaController.hayMedicoSeleccionado}">
                    <table>
                        <tr>
                            <td><p:outputLabel value="Asignado"/></td>
                            <td><div class="asignado" style="width: 40px; height: 20px; border-color: black; border: solid 1px; "><div class="fc-event-inner"></div></div></td>
                            <td><p:outputLabel value="Disponible"/></td>
                            <td><div class="disponible" style="width: 40px; height: 20px; border-color: black; border: solid 1px; "><div class="fc-event-inner"></div></div></td>
                        </tr>
                    </table>
                </p:panel>
                <br/>

                <p:schedule id="calendarioTurnos" draggable="false" resizable="false" value="#{citaController.evenModel}" widgetVar="agenda" locale="es" timeZone="America/Bogota" timeFormat="hh:mm" allDaySlot="false" rendered="#{citaController.hayMedicoSeleccionado}" minTime="6:00" maxTime="18:00" slotMinutes="5">
                    <p:ajax event="eventSelect" listener="#{citaController.onEventSelect}" update="@none"/>
                </p:schedule>
                <p:dialog id="pdialog" widgetVar="eventDialog" header="Detalles de la cita" modal="true" resizable="false">
                    <h:panelGrid id="eventDetails" columns="2">
                        <p:outputLabel for="title" value="No turno:" />
                        <p:inputText id="title" value="#{citaController.noTurno}" required="true" readonly="true"/>
                        <p:outputLabel for="paciente" value="Paciente:" rendered="#{citaController.rend}"/>
                        <p:inputText rendered="#{citaController.rend}" readonly="true" id="paciente" value="#{citaController.citaSeleccionada.idPaciente.nombreCompleto()}" size="60"/>
                        <p:outputLabel   styleClass="campoNoObligatorio" value="Paciente Subsecuente"/>
                        <p:selectBooleanCheckbox styleClass="campoFormulario" value="#{citaController.subsecuente}"/>
                        <p:commandButton 
                            id="btnCrearCita"
                            value = "Crear Cita"
                            rendered="#{citaController.rendBtnElegir}"
                            oncomplete = "PF('eventDialog').hide();"
                            actionListener="#{citaController.guardarCita}"
                            update = ":formDatosPaciente :formmedico :formCita :formCalendarioCitas :cancelar"
                            />                       
                        <h:panelGroup rendered="#{citaController.renderizarbotones}">
                            <p:commandButton rendered="#{!citaController.citaSeleccionada.cancelada}" style="font-size: 15px; width: 15px; height: 15px;left: 15px;" styleClass="icon-cancel fg-lightBlue bg-white no-border" title="Cancelar cita" value="&nbsp;" onclick="PF('dlgcancelar').show();" actionListener="#{citaController.seleccionarCita}" update=":cancelar">
                                <f:attribute name="id_cita" value="#{citaController.citaSeleccionada.idCita}"/>
                            </p:commandButton>                            
                        </h:panelGroup>
                    </h:panelGrid>
                </p:dialog>



            </h:form>
        </p:fieldset>


        <h:form id="formFindPaciente">
            <p:dialog header="Buscar Paciente" widgetVar="dlgPaciente" resizable="false" modal="true">
                <table>
                    <tr>
                        <td colspan="3">
                            <p:dataTable
                                id="tableElegirPaciente"
                                var="paciente" 
                                value="#{citaController.listPacientes}"
                                rowKey="#{paciente.idPaciente}"  
                                selection="#{citaController.pacienteSeleccionado}" 
                                paginator="true"
                                style="width: 600px;"
                                rows="10"
                                lazy="true"
                                paginatorPosition="bottom"                                
                                emptyMessage="No se encontraron pacientes"
                                scrollable="true" 
                                pageLinks="5"
                                widgetVar="pacientesTable"
                                selectionMode="single"
                                resizableColumns="true"
                                >
                                <p:column headerText="Nro Documento" width="25%"  filterBy="#{paciente.identificacion}" filterMatchMode="contains" filterStyle="width: 145px;">
                                    <h:outputText value="#{paciente.identificacion}"/>                                  
                                </p:column>
                                <p:column headerText="Nombre" width="44%" filterBy="#{paciente.primerNombre} #{paciente.segundoNombre} #{paciente.primerApellido} #{paciente.segundoApellido}" filterStyle="width: 250px;" filterMatchMode="contains">
                                    <h:outputText value="#{paciente.primerNombre} #{paciente.segundoNombre} #{paciente.primerApellido} #{paciente.segundoApellido}" />
                                </p:column>
                            </p:dataTable>
                        </td>
                    </tr>
                    <tr>
                        <td colspan="3">
                            <p:commandButton
                                id="cbtnPaciente2"
                                value="Cargar Paciente"
                                update = ":formFindPaciente :formDatosPaciente  :formCita"
                                actionListener="#{citaController.cargarPaciente()}"
                                oncomplete = "PF('dlgPaciente').hide();"                                
                                />

                            <p:commandButton
                                value="Crear Paciente"
                                actionListener="#{citaController.crearPaciente}"
                                />
                        </td>
                    </tr>
                </table>
            </p:dialog>
        </h:form>



        <br/>
        <h:form id="formFindMedico">
            <p:dialog header="Buscar Medico" widgetVar="dlgfindMedico" id="bmedico" resizable="false" modal="true">
                <table>
                    <tr>
                        <td colspan="3">
                            <p:dataTable 
                                id="tableMedicoEsp"
                                var="medico" 
                                value="#{citaController.listMedicos}"
                                rowKey="#{medico.idUsuario}"  
                                selection="#{citaController.medicoSeleccionado}" 
                                paginator="true"
                                style="width: 600px;"
                                rows="10"
                                widgetVar="medicosTable"
                                paginatorPosition="bottom"                                
                                emptyMessage="No hay medicos"
                                scrollable="true" 
                                rowsPerPageTemplate="5,10,15"
                                pageLinks="5"
                                lazy="true"
                                selectionMode="single"
                                resizableColumns="true">
                                <p:column headerText="Nombre" filterBy="#{medico.primerNombre} #{medico.segundoNombre} #{medico.primerApellido} #{medico.segundoApellido}"  filterMatchMode="contains" filterStyle="width: 250px;">
                                    <h:outputText value="#{medico.primerNombre} #{medico.segundoNombre} #{medico.primerApellido} #{medico.segundoApellido}" />
                                </p:column>
                                <p:column headerText="Especialidad" filterBy="#{medico.especialidad.id}" filterMatchMode="exact">
                                    <f:facet name="filter">
                                        <p:selectOneMenu onchange="PF('medicosTable').filter()" style="width: 250px;" >
                                            <f:selectItem itemLabel="..." itemValue="#{null}" noSelectionOption="true" />
                                            <f:selectItems  value="#{citaController.listEspecialidades}" />
                                        </p:selectOneMenu>
                                    </f:facet>        
                                    <h:outputText value="#{medico.especialidad.descripcion}" />
                                </p:column>                          
                            </p:dataTable>
                        </td>
                    </tr>
                    <tr>
                        <td colspan =" 3">
                            <p:commandButton
                                id="cbtnmedico"
                                value="Cargar Medico"
                                update = ":formmedico :formCalendarioCitas :formFindMedico"
                                actionListener="#{citaController.cargarMedico}"
                                oncomplete = "PF('dlgfindMedico').hide();"                                
                                />
                        </td>
                    </tr>               
                </table>
            </p:dialog>
        </h:form>


        <p:dialog  widgetVar="dlgcancelar" header="Cancelar Cita" modal="true" width="60%" resizable="false">
            <h:form id="cancelar">
                <h:panelGrid columns="2">
                    <p:outputLabel value="Cita No:"/>
                    <p:inputText value="#{citaController.citaSelecionada.idCita}" readonly="true" />
                    <p:outputLabel value="Motivo Cancelacion:" />
                    <p:selectOneMenu id="selectMotCanc" value="#{citaController.motivoCancelacion}" style="width: 300px;">
                        <f:selectItems  value="#{genericoController.listaMotivoCancelacionCitas}" /> 
                    </p:selectOneMenu>
                    <p:outputLabel value="Descripcion:" />
                    <p:inputTextarea rows="6" cols="33" value="#{citaController.descripcionCancelacion}" />
                </h:panelGrid>
                <br/>
                <p:commandButton value="Cancelar Cita" actionListener="#{citaController.cancelarCita}" action="#{citaController.loadEvents()}" oncomplete = "PF('dlgcancelar').hide();" update=":formCalendarioCitas"/>
            </h:form>
        </p:dialog>


        <p:ajaxStatus onstart="PF('statusDialog').show()" onsuccess="PF('statusDialog').hide()" />
        <p:dialog widgetVar="statusDialog" modal="true" draggable="false" closable="false" resizable="false" showHeader="false">
            <p:graphicImage url="/recursos/ejecucion/loading.gif" width="32" height="32"/>
        </p:dialog>
    </h:body>
</html>