<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:p="http://primefaces.org/ui"
      xmlns:c="http://java.sun.com/jsp/jstl/core"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets">
    <h:head>
        <title>SISTEMA MÉDICO SANTA ANA</title>
        <link href="recursos/img/favicon.png" type="image/png" rel="icon"/>
        <link href="recursos/css/estilos.css" rel="stylesheet"/>
        <link href="recursos/css/metro-bootstrap.css" rel="stylesheet"/>
        <link href="recursos/css/iconFont.css" rel="stylesheet"/>
        <link href="//fonts.googleapis.com/css?family=Comfortaa" rel="stylesheet" />
            
        <script type="text/javascript" src="recursos/js/calendario.js"></script>
        <script type="text/javascript">
            function cargarPaciente(titulo, url, idPaciente) {
                rcTest([{name: 'titulo', value: titulo}, {name: 'url', value: url}, {name: 'idPaciente', value: idPaciente}]);
            }
            ;
            function loadTab(titulo, url, id) {
                rcloadTab([{name: 'titulo', value: titulo}, {name: 'url', value: url}, {name: 'id', value: id}]);
            }
            ;
        </script>
    </h:head>
    <h:body style="font-size: 11px;">
        <h:form id="IdFormHome">
            <p:remoteCommand name="rcTest" action="#{indexController.cargarPacienteDesdeHistorias}" update=":IdFormCenter"/>
            <p:remoteCommand name="rcloadTab" action="#{indexController.loadTab}" update=":IdFormCenter"/>
        </h:form>
        <p:layout fullPage="true">
            <p:layoutUnit position="west" size="215" gutter="2" header="&nbsp;" collapsible="true" style="border: none; text-align: center; border-right: 1px solid #dfdfdf; border-radius: 0">
                <h:form>
                    <h:form style="overflow: hidden;">
                        <p:panel style="width:190px; left: 0px; margin: 0px; padding: 0px; margin-left: 0px !important; padding-left: 0px !important;">
                            <table>
                                <tr>
                                    <td>
                                        <img src="recursos/img/logo.png" width="80" height="auto" style="left: 100px;"/>
                                    </td>
                                </tr>

                                
                                <tr>
                                    <td style="padding-bottom: 5px; padding-top: 5px;">
                                        <h:outputLabel value="#{indexController.usuarioActual.primerNombre}" styleClass="labelFormularioBold textoEnUnaLinea" style="width: 150px; color: #163357; padding-bottom: 0;" />
                                        <h:outputLabel value="#{indexController.usuarioActual.primerApellido}" styleClass="labelFormularioBold textoEnUnaLinea" style="width: 150px; color: #163357;" />
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <p:commandButton
                                            title="Inicio" value="&nbsp;"
                                            styleClass=" icon-home fg-lightBlue bg-white no-border"
                                            onclick="loadTab('Inicio', 'Inicio.xhtml', '-');"
                                            style="font-size: 30px; width: 40px; height: 40px; padding: 3px;"/>
                                        <p:commandButton
                                            title="Cerrar sesión" value="&nbsp;"
                                            styleClass="icon-switch fg-lightBlue bg-white no-border"
                                            actionListener="#{indexController.cerrarSesion}"
                                            style="font-size: 30px; width: 40px; height: 40px; padding: 3px;"/>
                                        
                                    </td>
                                </tr>
                            </table>
                        </p:panel>

                    </h:form>
                </h:form>
                <br/>
                <h:form  id="IdFormMenu" style="border-top: 1px solid #dfdfdf; border-radius: 0" >
                    <p:growl id="messages" showDetail="true" sticky="false" autoUpdate="true" life="2000"  />

                    <p:slideMenu
                        style="width:185px;"
                        backLabel="Regresar"
                        model="#{indexController.simpleMenuModel}"/>
                    <br></br>
                    
                    <p>Sistema Médico Santa Ana<br></br>Version 1.2</p>
                </h:form>

            </p:layoutUnit>
            <p:layoutUnit position="center" gutter="2" style="overflow: hidden; border: none; ">
             
                <h:form id="IdFormCenter" prependId="false" style="width: 100%; height: 100%;" >
                    <c:if test="#{indexController.listadoDeTabs.size() != 0}">
                        <p:tabView id="tabView" activeIndex="#{indexController.indexTabActiva}" cache="true" scrollable="true" styleClass="bd-white" style="overflow: hidden; margin: 0px; padding: 0px;">
                            <p:ajax event="tabClose" listener="#{indexController.closeTab}" update=":IdFormCenter" />
                            <p:ajax event="tabChange" listener="#{indexController.changeTab}" update=":IdFormCenter"/>
                            <c:forEach var="pagina" items="#{indexController.listadoDeTabs}">
                                <p:tab  title="#{pagina.titulo}" closable="true"/>
                            </c:forEach>
                        </p:tabView>
                    </c:if>
                    <iframe  src="#{indexController.urlTabActual}"   style="position: absolute;  border: 0px; border-width: 1px; border-color:  #adc9fe; width: 99.9%; height: calc(100% - 45px); margin: 0px; padding: 0px;"/>
                </h:form>
            </p:layoutUnit>
        </p:layout>
 
       
        <p:ajaxStatus onstart="PF('statusDialog').show()" onsuccess="PF('statusDialog').hide()" />
        <p:dialog widgetVar="statusDialog" modal="true" draggable="false" closable="false" resizable="false" showHeader="false">
            <p:graphicImage url="/recursos/ejecucion/loading.gif" width="32" height="32"/>
        </p:dialog>
    </h:body>
</html>

