<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:p="http://primefaces.org/ui"
      xmlns:f="http://xmlns.jcp.org/jsf/core">  
    <h:head>        
        <title>Informaci&oacute;n</title>
        <link href="../recursos/css/estilos.css" rel="stylesheet"/>        
        <link href="../recursos/css/metro-bootstrap.css" rel="stylesheet"/>
        <link href="../recursos/css/iconFont.css" rel="stylesheet"/>
        <link href="//fonts.googleapis.com/css?family=Comfortaa" rel="stylesheet" />
        <script type="text/javascript" src="../recursos/js/calendario.js"></script>          
    </h:head>
    <h:body>
        <div style="padding: 5% 0 0 2%; width: 80%;">
            <table class="centrar">  
                <tr>
                    <td style="text-align: center;">
                        <h1 styleClass="labelFormularioBold textoEnUnaLinea" style="color: #163357; padding-bottom: 0; text-align: center;">BIENVENIDO</h1>
                        <h:outputLabel value="#{indexController.usuarioActual.primerNombre} #{indexController.usuarioActual.primerApellido}" styleClass="labelFormularioBold textoEnUnaLinea" style="width: 150px; color: #163357 ; text-align: center;" />
                    </td>
                </tr>
            </table>
          
            <table class="centrar">  
                <tr>
                    <td style="text-align: center; padding: 50px;">
                        <img src="recursos/img/icons/agenda.png" width="auto" height="auto" style=""/>
                        <h2>Agenda Médica</h2>
                    </td>
                    <td style="text-align: center; padding: 50px;">
                        <img src="recursos/img/icons/fichasmedicas.png" width="auto" height="auto" style=""/>
                        <h2>Ficha Médica</h2>
                    </td>
                    <td style="text-align: center; padding: 50px;">
                        <img src="recursos/img/icons/historiaclinica.png" width="auto" height="auto" style=""/>
                        <h2>Historias Clínicas</h2>
                    </td>
                </tr>
            </table>
        </div>
                    
    </h:body>
</html>
