<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"      
      xmlns:p="http://primefaces.org/ui"
      xmlns:f="http://java.sun.com/jsf/core">
    <h:head>
        <title>INGRESO</title>
        <link href="recursos/img/favicon.png" type="image/png" rel="icon"/>
        <link href="recursos/css/metro-bootstrap.css" rel="stylesheet"/>
        <link href="recursos/css/iconFont.css" rel="stylesheet"/>
        <link href="recursos/css/estilos.css" rel="stylesheet"/>
        <link rel="stylesheet" href="recursos/css/coin-slider-styles.css" type="text/css" />
        <link rel="stylesheet" type="text/css" href="recursos/css/style_common.css" />
        <link rel="stylesheet" type="text/css" href="recursos/css/style10.css" />
        <link href="//fonts.googleapis.com/css?family=Comfortaa" rel="stylesheet" />

        <script type="text/javascript" src="recursos/js/coin-slider.min.js"></script>          
        <script type="text/javascript">            
            //<![CDATA[
            //la anterior linea va obligatoriamente            
            $(document).ready(function () {
                $('#games').coinslider({hoverPause: false});
            });
            function capLock(e) {//identifica activo o no de 'Bloq Mayus'
                kc = e.keyCode ? e.keyCode : e.which;
                sk = e.shiftKey ? e.shiftKey : ((kc === 16) ? true : false);
                if (((kc >= 65 && kc <= 90) && !sk) || ((kc >= 97 && kc <= 122) && sk))
                    document.getElementById('caplock').style.visibility = 'visible';
                else
                    document.getElementById('caplock').style.visibility = 'hidden';
            }
            //]]>
        </script>
    </h:head>
    <h:body style="font-size: 13px;">
        <h:form class="login-bg">
            #{indexController.init()}
            #{pacienteController.init()}
            #{genericoController.init()}            
            
            
            
                <div class="login-panel">
                    <div style="padding: 10px; text-align: center;">
                        
                        <img src="recursos/img/logo.png" class="m-20"/>
                            <p:growl id="IdMensajes"  showDetail="true" sticky="false" autoUpdate="true" life="2000"/>
                        <div class="center">    
                            <p:inputText id="loginname" size="25" value="#{indexController.login}" onkeypress="capLock(event);" placeholder="Usuario" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Usuario'" class="display-b m-10 center-items"/>
                            <p:password id="password" size="25" value="#{indexController.clave}" onkeypress="capLock(event);" placeholder="Contraseña" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Contraseña'" class="display-b m-10 center-items"/>
                            <p:commandButton value="Iniciar Sesión" action="#{indexController.loginUser}" update="IdMensajes password"/>
                            <div id="caplock" class="mt-20" style="visibility:hidden; color:red;">El bloqueo de mayúsculas está activado</div>
                           
                        </div>
                    </div>
                </div>
            
            
           
            <p:dialog 
                id="IdCloseSessionDialog"  
                modal="true"
                header="Otra Sesión Iniciada"         
                resizable="false"                    
                widgetVar="closeSessionDialog">  
                <br/>
                <p:inputTextarea 
                    value="Este usuario tiene una sesión abierta actualmente, ¿ desea cerrar la otra sesión e iniciar una nueva en este momento?" 
                    readonly="true" 
                    style="text-align: match-parent; background: #ebf4fb; font-size: 13px; font-weight: 900; height: 60px; width: 320px;"/>
                <br/>                    
                <br/>
                <p:commandButton                        
                    value="Continuar"
                    style="margin:0;"
                    action="#{indexController.cerrarSesionAbrirNueva}"
                    oncomplete="closeSessionDialog.hide()"
                    update="@form"/>                      
            </p:dialog>
        </h:form>
        <p:ajaxStatus onstart="PF('statusDialog').show()" onsuccess="PF('statusDialog').hide()" />
        <p:dialog widgetVar="statusDialog" modal="true" draggable="false" closable="false" resizable="false" showHeader="false">
            <p:graphicImage url="/recursos/ejecucion/loading.gif" width="32" height="32"/>
        </p:dialog>
    </h:body>
</html>