<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:p="http://primefaces.org/ui"
      xmlns:f="http://java.sun.com/jsf/core">  
    <h:head>
        <title>Referencia contrareferencia</title>
        <link href="../recursos/css/estilos.css" rel="stylesheet"/>        
        <link href="../recursos/css/metro-bootstrap.css" rel="stylesheet"/>
        <link href="../recursos/css/iconFont.css" rel="stylesheet"/> 
        <script type="text/javascript" src="../recursos/js/calendario.js"></script> 
        <script type="text/javascript">
            $(document).keypress(
                    function (event) {
                        if (event.which == '13') {
                            event.preventDefault();
                        }


                    });
        </script>
    </h:head>
    <h:body>
        <h:form id="IdFormRegistroClinico">  
            <p:growl id="IdMensajeRefContra"  showDetail="true" sticky="false" autoUpdate="true" life="2000"/>
            <table style="margin-left: auto; margin-right: auto;" >
                <tr><td colspan="2"><h2>CERTIFICADO MÉDICO</h2></td></tr>                                
                <tr>
                    <td><p:outputLabel value="DIAGNÓSTICO"/></td>                                    
                </tr>
                <tr>
                    <td colspan="2"><p:inputText  styleClass="width2" value="#{historiaClinicaController.datosFormulario.dato0}"  /></td>
                </tr>
                

                <tr>
                    <td colspan="2">
                        <br/>
                        <table>
                            <tr>
                                <td>
                                    <p:outputLabel value="FECHA DESDE EL:"/>
                                </td>
                                <td>
                                    <p:calendar navigator="true" locale="es" value="#{historiaClinicaController.datosFormulario.dato1}" pattern="dd/MM/yyyy" mask="true" size="23" style="width: 200px;">
                                        <f:convertDateTime pattern="dd/MM/yyyy"/>
                                    </p:calendar>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <p:outputLabel value="FECHA HASTA EL:"/>
                                </td>                                
                                <td>
                                    <p:calendar navigator="true" locale="es" value="#{historiaClinicaController.datosFormulario.dato2}" pattern="dd/MM/yyyy" mask="true" size="23" style="width: 200px;">
                                        <f:convertDateTime pattern="dd/MM/yyyy"/>
                                    </p:calendar>
                                </td>
                            </tr>
                        </table>
                        <br/>
                    </td>
                </tr>
                <tr>
                    <td colspan="2"><p:outputLabel value="EXTIENDO EL PRESENTE CERTIFICADO PARA SER PRESENTADO EN:" /></td>
                </tr>
                <tr>
                    <td colspan="2"><p:inputText  styleClass="width2" value="#{historiaClinicaController.datosFormulario.dato3}"  /></td>
                </tr>
                
                <tr><td>&nbsp;</td></tr>
                
                <tr><td>&nbsp;</td></tr>
                <tr>
                    <td><p:outputLabel value="MEDICO"/></td>
                    <td><p:outputLabel value="ESPECIALIDAD"/></td>
                </tr>
                <tr>
                    <td>
                       <p:inputText id="IdMedico" readonly="true" styleClass="width1" value="#{indexController.getUsuarioActual().primerNombre} #{indexController.getUsuarioActual().segundoNombre} #{indexController.getUsuarioActual().primerApellido} #{indexController.getUsuarioActual().segundoApellido}"/>
                    </td>
                    <td><p:inputText id="IdEspecialidad" readonly="true" styleClass="width1" value="#{indexController.getUsuarioActual().especialidad.descripcion}"/></td>
                </tr>                
                <tr><td>&nbsp;</td></tr>
                <tr>
                    <td colspan="2">
                        <p:commandButton icon="ui-icon-disk" value="Guardar Nuevo Registro" 
                                         actionListener="#{historiaClinicaController.guardarRegistro}" 
                                         disabled="#{historiaClinicaController.modificandoRegCli}" update="@form"/>
                        <p:commandButton icon="ui-icon-arrowthickstop-1-s" value="Actualizar Registro" 
                                         actionListener="#{historiaClinicaController.actualizarRegistro}" disabled="#{!historiaClinicaController.modificandoRegCli}" 
                                         rendered="#{indexController.superUsuario}" update="@form"/>
                        <p:commandButton icon="ui-icon-document" value="Limpiar Formulario" 
                                         actionListener="#{historiaClinicaController.btnLimpiarFormulario}" update="@form"/>
                        <p:commandButton style="display: none" widgetVar="printButton" type="submit" value="Print" actionListener="#{historiaClinicaController.generarReporteCertificado()}" ajax="false" onclick="form.target = '_blank'" />
                    </td>
                </tr>
            </table>            
           
            <br/>
        </h:form>        
    </h:body>
</html>
