<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:p="http://primefaces.org/ui"
      xmlns:f="http://java.sun.com/jsf/core">  
    <h:head>
        <title>Usuarios</title>
        <link href="../recursos/css/estilos.css" rel="stylesheet"/>        
        <link href="../recursos/css/metro-bootstrap.css" rel="stylesheet"/>
        <link href="../recursos/css/iconFont.css" rel="stylesheet"/>
        <script type="text/javascript" src="../recursos/js/calendario.js"></script> 
        <script type="text/javascript">
            $(document).keypress(
                    function (event) {
                        if (event.which == '13') {
                            event.preventDefault();
                        }


                    });
        </script>
    </h:head>
    <h:body>
        #{historiaClinicaController.init()}
        <h:form id="IdFormRegistroClinico">  
            <p:growl id="IdMensajeUsuarios"  showDetail="true" sticky="false" autoUpdate="true" life="2000"/>
            <table style="margin-left: auto; margin-right: auto;" >


                <!--TERAPIA RESPIRATORIA-->
                <tr>
                    <td colspan="2"><h2><p:outputLabel value="ORDEN DE TERAPIA RESPIRATORIA" /></h2></td>
                </tr>

                <tr>
                    <th colspan="1" style="text-align: left;">FÓRMULA</th>
                    <th colspan="1" style="text-align: left;">DOSIS / ML</th>
                    <th colspan="1" style="text-align: left;">DOSIS / GOTAS</th>
                </tr>

                <tr>
                    <td colspan="1"><p:outputLabel value="Solucion salina al 9%"/></td>
                    <td colspan="1">
                        <p:inputNumber id="dato0" styleClass="width3" value="#{historiaClinicaController.ssml}">
                        </p:inputNumber>
                    </td>
                    <td colspan="1">
                        <p:inputNumber id="dato1" styleClass="width3" value="#{historiaClinicaController.ssg}">
                        </p:inputNumber>
                    </td>
                </tr>
                <tr>
                    <td colspan="1"><p:outputLabel value="Combivent ampolla 2ml"/></td>
                    <td colspan="1">
                        <p:inputNumber id="dato2" styleClass="width3" value="#{historiaClinicaController.cbml}">
                        </p:inputNumber>
                    </td>
                    <td colspan="1">
                        <p:inputNumber id="dato3" styleClass="width3" value="#{historiaClinicaController.cbg}">
                        </p:inputNumber>
                    </td>
                </tr>
                <tr>
                    <td colspan="1"><p:outputLabel value="Dexametasona ampolla 4mg - 1ml"/></td>
                    <td colspan="1">
                        <p:inputNumber id="dato4" styleClass="width3" value="#{historiaClinicaController.dxml}">
                        </p:inputNumber>
                    </td>
                    <td colspan="1">
                        <p:inputNumber id="dato5" styleClass="width3" value="#{historiaClinicaController.dxg}">
                        </p:inputNumber>
                    </td>
                </tr>
                <tr>
                    <td colspan="1"><p:outputLabel value="Ventolin frasco / gotero solucion"/></td>
                    <td colspan="1">
                        <p:inputNumber id="dato6" styleClass="width3" value="#{historiaClinicaController.vnml}">
                        </p:inputNumber>
                    </td>
                    <td colspan="1">
                        <p:inputNumber id="dato7" styleClass="width3" value="#{historiaClinicaController.vng}">
                        </p:inputNumber>
                    </td>
                </tr>
                <tr>
                    <td colspan="1"><p:outputLabel value="Fluimucil ampolla"/></td>
                    <td colspan="1">
                        <p:inputNumber id="dato8" styleClass="width3" value="#{historiaClinicaController.flml}">
                        </p:inputNumber>
                    </td>
                    <td colspan="1">
                        <p:inputNumber id="dato9" styleClass="width3" value="#{historiaClinicaController.flg}">
                        </p:inputNumber>
                    </td>
                </tr>
                <tr>
                    <td colspan="1"><p:outputLabel value="Ambroxol frasco / gotero"/></td>
                    <td colspan="1">
                        <p:inputNumber id="dato10" styleClass="width3" value="#{historiaClinicaController.abml}">
                        </p:inputNumber>
                    </td>
                    <td colspan="1">
                        <p:inputNumber id="dato11" styleClass="width3" value="#{historiaClinicaController.abg}">
                        </p:inputNumber>
                    </td>
                </tr>
                <tr><td>&nbsp;</td></tr>
                <tr>
                    <th colspan="2" style="text-align: left;">CANTIDAD DE TERAPIAS</th>
                </tr>
                <tr>
                    <td colspan="1"><p:outputLabel value="Terapias"/></td>
                    <td colspan="1">
                        <p:inputNumber id="cantTerapias" styleClass="width3" value="#{historiaClinicaController.cantidadTr}">
                        </p:inputNumber>
                    </td>
                </tr>
                <tr>
                    <td><p:outputLabel value="El paciente tiene respirador: " /></td>
                    <td><p:selectBooleanButton id="respirador" value="#{historiaClinicaController.respirador}" onLabel="Si" offLabel="No" style="width:60px" /></td>
                </tr>


                <!-- Fin de terapia respiratoria-->




                <tr><td>&nbsp;</td></tr>
                <tr>
                    <td><p:outputLabel value="MEDICO"/></td>
                    <td><p:outputLabel value="ESPECIALIDAD"/></td>
                </tr>
                <tr>
                    <td>
                        <p:inputText id="IdPrestador" readonly="true" styleClass="width1" value="#{indexController.getUsuarioActual().primerNombre} #{indexController.getUsuarioActual().segundoNombre} #{indexController.getUsuarioActual().primerApellido} #{indexController.getUsuarioActual().segundoApellido}"/>
                    </td>
                    <td><p:inputText id="IdEspecialidad" readonly="true" styleClass="width1" value="#{indexController.getUsuarioActual().especialidad.descripcion}"/></td>
                </tr>                
                <tr><td>&nbsp;</td></tr>
                <tr>
                    <td colspan="2">
                        <p:commandButton icon="ui-icon-disk" value="Guardar Nuevo Registro"
                                         actionListener="#{historiaClinicaController.creaTerapiaResp}" 
                                         update="@form"/>
                    </td>
                </tr>
            </table>

        </h:form>        
    </h:body>
</html>