<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:p="http://primefaces.org/ui"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets">  
    <h:head>
        <title>Usuarios</title>
        <link href="../recursos/css/metro-bootstrap.css" rel="stylesheet"/>
        <link href="../recursos/css/iconFont.css" rel="stylesheet"/>        
        <link href="//fonts.googleapis.com/css?family=Comfortaa" rel="stylesheet" />
        <link href="../recursos/css/estilos.css" rel="stylesheet"/>        
        
        <script type="text/javascript" src="../recursos/js/calendario.js"></script> 
        <script type="text/javascript">
            $(document).keypress(
                    function (event) {
                        if (event.which == '13') {
                            event.preventDefault();
                        }


                    });
                    
            function refreshHeader() {
               window.parent.document.getElementById('IdFormHistorias:hiddenLink').click();
            }
            function refresh() {
               window.parent.document.getElementById('IdFormHistorias:hiddenLink2').click();
            }
        </script>
    </h:head>
    <h:body>
        <ui:include src="textoPredefinidos.xhtml" />
        <h:form id="IdFormRegistroClinico">  
            #{historiaClinicaController.motivoConsulta()}
            <p:growl id="IdMensajeRecetario"  showDetail="true" sticky="false" autoUpdate="true" life="2000"/>
            <table style="margin-left: auto; margin-right: auto;" >
                <tr>
                    <td colspan="2">
                        <h2>FICHA MÉDICA</h2>                        
                    </td>
                </tr>
                
                
                <tr>
                    <td colspan="2"><p:outputLabel value="MOTIVO CONSULTA"/>
                        
                        <p:commandButton
                            styleClass="icon-folder fg-lightBlue bg-white no-border"
                            title="Cargar Textos predeterminados"
                            value=""
                            actionListener="#{historiaClinicaController.cargarTextoPredefinido(0,'IdFormRegistroClinico:dato0')}"
                            process="@this"
                            immediate="true"
                            style="font-size: 12px; width: 20px; height: 20px; left: 20px; padding-top: 3px;"
                            >
                        </p:commandButton>
                    </td>
                </tr>
                <tr>
                    <td colspan="2"><p:inputTextarea id="dato0" styleClass="width2" value="#{historiaClinicaController.datosFormulario.dato0}" autoResize="false" />
                    
                    </td>
                </tr>
                <tr>
                    <td colspan="2"><p:outputLabel value="ENFERMEDAD ACTUAL"/>
                        
                        <p:commandButton
                            styleClass="icon-folder fg-lightBlue bg-white no-border"
                            title="Cargar Textos predeterminados"
                            value=""
                            actionListener="#{historiaClinicaController.cargarTextoPredefinido(51,'IdFormRegistroClinico:dato51')}"
                            process="@this"
                            immediate="true"
                            style="font-size: 12px; width: 20px; height: 20px; left: 20px; padding-top: 3px;"
                            >
                        </p:commandButton>
                    </td>
                </tr>
                <tr>
                    <td colspan="2"><p:inputTextarea id="dato51" styleClass="width2" value="#{historiaClinicaController.datosFormulario.dato51}" autoResize="false" />
                    </td>
                </tr>
                <!--Ant personales-->
                <div>
                    <tr>
                        <td colspan="2"><h2><p:outputLabel value="ANTECEDENTES PERSONALES" /></h2></td>
                    </tr>

                    <tr>
                        <td><p:outputLabel value="Alergias" /></td>
                        <td><p:outputLabel value="Alertas de riesgo" /></td>
                    </tr>
                    <tr>
                        <td><p:inputText id="dato2" styleClass="width1" value="#{historiaClinicaController.datosFormulario.dato2}"/></td>
                        <td><p:inputText id="dato3" styleClass="width1" value="#{historiaClinicaController.datosFormulario.dato3}"/></td>
                    </tr>
                    
                    <tr>
                        <td><p:outputLabel value="Andrológicos" /></td>
                        <td><p:outputLabel value="Crecimiento y Desarrollo" /></td>
                    </tr>
                    <tr>
                        <td><p:inputText id="dato4" styleClass="width1" value="#{historiaClinicaController.datosFormulario.dato4}"/></td>
                        <td><p:inputText id="dato5" styleClass="width1" value="#{historiaClinicaController.datosFormulario.dato5}"/></td>
                    </tr>
                    
                    <tr>
                        <td><p:outputLabel value="Cáncer" /></td>
                        <td><p:outputLabel value="Diabetes" /></td>
                    </tr>
                    <tr>
                        <td><p:inputText id="dato6" styleClass="width1" value="#{historiaClinicaController.datosFormulario.dato6}"/></td>
                        <td><p:inputText id="dato7" styleClass="width1" value="#{historiaClinicaController.datosFormulario.dato7}"/></td>
                    </tr>
                    
                    <tr>
                        <td><p:outputLabel value="Enfermedad Renal" /></td>
                        <td><p:outputLabel value="Patológicos" /></td>
                    </tr>
                    <tr>
                        <td><p:inputText id="dato8" styleClass="width1" value="#{historiaClinicaController.datosFormulario.dato8}"/></td>
                        <td><p:inputText id="dato9" styleClass="width1" value="#{historiaClinicaController.datosFormulario.dato9}"/></td>
                    </tr>
                   
                    <tr>
                        <td><p:outputLabel value="Traumáticos" /></td>
                        <td><p:outputLabel value="Quirurgicos" /></td>
                    </tr>
                    <tr>
                        <td><p:inputText id="dato10" styleClass="width1" value="#{historiaClinicaController.datosFormulario.dato10}"/></td>
                        <td><p:inputText id="dato11" styleClass="width1" value="#{historiaClinicaController.datosFormulario.dato11}"/></td>
                    </tr>
                    <tr>                   
                        <td><p:outputLabel value="Inf. transmisión sexual" /></td>
                        <td><p:outputLabel value="Inmunológicos" /></td>
                    </tr>
                    <tr>
                        <td><p:inputText id="dato12" styleClass="width1" value="#{historiaClinicaController.datosFormulario.dato12}"/></td>
                        <td><p:inputText id="dato13" styleClass="width1" value="#{historiaClinicaController.datosFormulario.dato13}"/></td>
                    </tr>
                    
                    <tr>
                        <td><p:outputLabel value="Farmacológicos" /></td>
                        <td><p:outputLabel value="Cirugías/hospitalizaciones" /></td>
                    </tr>
                    <tr>
                        <td><p:inputText id="dato14" styleClass="width1" value="#{historiaClinicaController.datosFormulario.dato14}"/></td>
                        <td><p:inputText id="dato15" styleClass="width1" value="#{historiaClinicaController.datosFormulario.dato15}"/></td>
                    </tr>
                    <tr>
                        <td><p:outputLabel value="Otros antecedentes" /></td>
                    </tr>
                    <tr>
                        
                        <td><p:inputText id="dato16" styleClass="width1" value="#{historiaClinicaController.datosFormulario.dato16}"/></td>
                    </tr>
                </div>
                <tr>
                    <td colspan="2">
                        <p:selectOneMenu  value="#{historiaClinicaController.valorDefecto1}" styleClass="campoFormulario botonesFichaMedica">
                            <f:selectItems value="#{historiaClinicaController.listaValoresDefecto}"/>
                        </p:selectOneMenu>  
                        &nbsp;
                        <p:commandButton icon="ui-icon-pencil" value="Valor por Defecto" styleClass="botonesFichaMedica" actionListener="#{historiaClinicaController.cambiarValorDefecto(1)}" 
                                         update="IdFormRegistroClinico, dato2 dato3 dato4 dato5 dato6 dato7 dato8 dato9 dato10 dato11 dato12 dato13 dato14 dato15 dato16">
                        </p:commandButton>
                    </td>
                </tr>
                <!--Fin antecedentes personales-->

                <!--ANTECEDENTES FAMILIARES-->
                <tr>
                    <td colspan="2"><h2><p:outputLabel value="ANTECEDENTES FAMILIARES" /></h2></td>
                </tr>

                <tr>
                    <td><p:outputLabel value="Cardiovasculares" /></td>
                    <td><p:outputLabel value="Cáncer" /></td>
                </tr>
                <tr>
                    <td><p:inputText id="dato17" styleClass="width1" value="#{historiaClinicaController.datosFormulario.dato17}"/></td>
                    <td><p:inputText id="dato18" styleClass="width1" value="#{historiaClinicaController.datosFormulario.dato18}"/></td>
                </tr>
                
                <tr>
                    <td><p:outputLabel value="Diabetes" /></td>
                    <td><p:outputLabel value="Hábitos Nocivos" /></td>
                </tr>
                <tr>
                    <td><p:inputText id="dato19" styleClass="width1" value="#{historiaClinicaController.datosFormulario.dato19}"/></td>
                    <td><p:inputText id="dato20" styleClass="width1" value="#{historiaClinicaController.datosFormulario.dato20}"/></td>
                </tr>
                
                <tr>
                    <td><p:outputLabel value="Judicales" /></td>
                    <td><p:outputLabel value="Madre Adolescente" /></td>
                </tr>
                <tr>
                    <td><p:inputText id="dato21" styleClass="width1" value="#{historiaClinicaController.datosFormulario.dato21}"/></td>
                    <td><p:inputText id="dato22" styleClass="width1" value="#{historiaClinicaController.datosFormulario.dato22}"/></td>
                </tr>
                
                <tr>
                    <td><p:outputLabel value="Nefropatias" /></td>
                    <td><p:outputLabel value="Generales" /></td>
                </tr>
                <tr>
                    <td><p:inputText id="dato23" styleClass="width1" value="#{historiaClinicaController.datosFormulario.dato23}"/></td>
                    <td><p:inputText id="dato24" styleClass="width1" value="#{historiaClinicaController.datosFormulario.dato24}"/></td>
                </tr>
                
                <tr>
                    <td><p:outputLabel value="Patológicos" /></td>
                    <td><p:outputLabel value="Farmacológicos" /></td>
                </tr>
                <tr>
                    <td><p:inputText id="dato25" styleClass="width1" value="#{historiaClinicaController.datosFormulario.dato25}"/></td>
                    <td><p:inputText id="dato26" styleClass="width1" value="#{historiaClinicaController.datosFormulario.dato26}"/></td>
                </tr>

                <tr>                    
                    <td><p:outputLabel value="Obstétricos" /></td>
                    <td><p:outputLabel value="Ginecológicos" /></td>
                    <td>&nbsp;</td>
                </tr>
                <tr>
                    <td><p:inputText id="dato27" styleClass="width1" value="#{historiaClinicaController.datosFormulario.dato27}"/></td>
                    <td><p:inputText id="dato28" styleClass="width1" value="#{historiaClinicaController.datosFormulario.dato28}"/></td>
                    <td>&nbsp;</td>
                </tr>

                
                <tr>
                    <td colspan="2">
                        <p:selectOneMenu  value="#{historiaClinicaController.valorDefecto2}" styleClass="campoFormulario botonesFichaMedica">
                            <f:selectItems value="#{historiaClinicaController.listaValoresDefecto}"/>
                        </p:selectOneMenu>  
                        &nbsp;
                        <p:commandButton icon="ui-icon-pencil" value="Valor por Defecto" styleClass="botonesFichaMedica" actionListener="#{historiaClinicaController.cambiarValorDefecto(2)}" 
                                         update="IdFormRegistroClinico, dato17 dato18 dato19 dato20 dato21 dato22 dato23 dato24 dato25 dato26 dato27 dato29">
                        </p:commandButton>
                    </td>
                </tr>
                <!--Fin ant. familiares-->
                <!--ANTECEDENTES VACUNACION-->
                <tr>
                    <td colspan="2"><h2><p:outputLabel value="ANTECEDENTES VACUNACION" /></h2></td>
                </tr>

                <tr>
                    <td><p:outputLabel value="BCG" /></td>
                    <td><p:outputLabel value="HB Cero" /></td>
                </tr>
                <tr>
                    <td><p:inputText id="dato29" styleClass="width1" value="#{historiaClinicaController.datosFormulario.dato29}"/></td>
                    <td><p:inputText id="dato30" styleClass="width1" value="#{historiaClinicaController.datosFormulario.dato30}"/></td>
                </tr>

                <tr>
                    <td><p:outputLabel value="IPV" /></td>
                    <td><p:outputLabel value="Neumococo" /></td>
                </tr>
                <tr>
                    <td><p:inputText id="dato31" styleClass="width1" value="#{historiaClinicaController.datosFormulario.dato31}"/></td>
                    <td><p:inputText id="dato32" styleClass="width1" value="#{historiaClinicaController.datosFormulario.dato32}"/></td>
                </tr>

                <tr>
                    <td><p:outputLabel value="Pentavalente" /></td>
                    <td><p:outputLabel value="Rotavirus" /></td>
                </tr>
                <tr>
                    <td><p:inputText id="dato33" styleClass="width1" value="#{historiaClinicaController.datosFormulario.dato33}"/></td>
                    <td><p:inputText id="dato34" styleClass="width1" value="#{historiaClinicaController.datosFormulario.dato34}"/></td>
                </tr>
                
                <tr>
                    <td><p:outputLabel value="SRP" /></td>
                    <td><p:outputLabel value="Varicela" /></td>
                </tr>
                <tr>
                    <td><p:inputText id="dato35" styleClass="width1" value="#{historiaClinicaController.datosFormulario.dato35}"/></td>
                    <td><p:inputText id="dato36" styleClass="width1" value="#{historiaClinicaController.datosFormulario.dato36}"/></td>
                </tr>
                
                <tr>
                    <td><p:outputLabel value="VPH" /></td>
                    <td><p:outputLabel value="OPV" /></td>
                </tr>
                <tr>
                    <td><p:inputText id="dato37" styleClass="width1" value="#{historiaClinicaController.datosFormulario.dato37}"/></td>
                    <td><p:inputText id="dato38" styleClass="width1" value="#{historiaClinicaController.datosFormulario.dato38}"/></td>
                </tr>
                
                <tr>
                    <td><p:outputLabel value="DPT" /></td>
                    <td><p:outputLabel value="DT Pediátrica" /></td>
                </tr>
                <tr>
                    <td><p:inputText id="dato39" styleClass="width1" value="#{historiaClinicaController.datosFormulario.dato39}"/></td>
                    <td><p:inputText id="dato40" styleClass="width1" value="#{historiaClinicaController.datosFormulario.dato40}"/></td>
                </tr>
                
                <tr>
                    <td><p:outputLabel value="dT Adulto" /></td>
                    <td><p:outputLabel value="Fiebre Amarilla" /></td>
                </tr>
                <tr>
                    <td><p:inputText id="dato41" styleClass="width1" value="#{historiaClinicaController.datosFormulario.dato41}"/></td>
                    <td><p:inputText id="dato42" styleClass="width1" value="#{historiaClinicaController.datosFormulario.dato42}"/></td>
                </tr>
                
                <tr>
                    <td><p:outputLabel value="HB Adulto" /></td>
                    <td><p:outputLabel value="HB Pediátrica" /></td>
                </tr>
                <tr>
                    <td><p:inputText id="dato43" styleClass="width1" value="#{historiaClinicaController.datosFormulario.dato43}"/></td>
                    <td><p:inputText id="dato44" styleClass="width1" value="#{historiaClinicaController.datosFormulario.dato44}"/></td>
                </tr>
                
                <tr>
                    <td><p:outputLabel value="SR" /></td>
                    <td><p:outputLabel value="Otros" /></td>
                    <td>&nbsp;</td>
                </tr>
                <tr>
                    <td><p:inputText id="dato45" styleClass="width1" value="#{historiaClinicaController.datosFormulario.dato45}"/></td>
                    <td><p:inputText id="dato46" styleClass="width1" value="#{historiaClinicaController.datosFormulario.dato46}"/></td>
                    <td>&nbsp;</td>
                </tr>

                
                <tr>
                    <td colspan="2">
                        <p:selectOneMenu  value="#{historiaClinicaController.valorDefecto3}" styleClass="campoFormulario botonesFichaMedica">
                            <f:selectItems value="#{historiaClinicaController.listaValoresDefecto}"/>
                        </p:selectOneMenu>  
                        &nbsp;
                        <p:commandButton icon="ui-icon-pencil" value="Valor por Defecto" styleClass="botonesFichaMedica" actionListener="#{historiaClinicaController.cambiarValorDefecto(3)}" 
                                         update="IdFormRegistroClinico, dato29 dato30 dato31 dato32 dato33 dato34 dato35 dato36 dato37 dato38 dato39 dato40 dato41 dato42 dato43 dato44 dato45 dato46">
                        </p:commandButton>
                    </td>
                </tr>
                <!--Fin ant. VACUNACION-->
                <tr>
                    <td colspan="2"><p:outputLabel value="EVOLUCION"/>
                     <p:commandButton
                            styleClass="icon-folder fg-lightBlue bg-white no-border"
                            title="Cargar Textos predeterminados"
                            value=""
                            actionListener="#{historiaClinicaController.cargarTextoPredefinido(47,'IdFormRegistroClinico:dato47')}"
                            process="@this"
                            immediate="true"
                            style="font-size: 12px; width: 20px; height: 20px; left: 20px; padding-top: 3px;"
                            >
                        </p:commandButton>
                    </td>
                </tr>
                <tr>
                    <td colspan="2"><p:inputTextarea id="dato47" styleClass="width2" value="#{historiaClinicaController.datosFormulario.dato47}" autoResize="false" />
                    </td>
                </tr>
                <tr>
                    <td colspan="2"><p:outputLabel value="EXAMEN FISICO"/>
                    <p:commandButton
                            styleClass="icon-folder fg-lightBlue bg-white no-border"
                            title="Cargar Textos predeterminados"
                            value=""
                            actionListener="#{historiaClinicaController.cargarTextoPredefinido(48,'IdFormRegistroClinico:dato48')}"
                            process="@this"
                            immediate="true"
                            style="font-size: 12px; width: 20px; height: 20px; left: 20px; padding-top: 3px;"
                            >
                    </p:commandButton></td>
                </tr>
                <tr>
                    <td colspan="2"><p:inputTextarea id="dato48" styleClass="width2" value="#{historiaClinicaController.datosFormulario.dato48}" autoResize="false" />
                    </td>
                </tr>
                <tr>
                    <td colspan="2"><p:outputLabel value="EXAMEN DE LABORATORIO"/>
                    <p:commandButton
                            styleClass="icon-folder fg-lightBlue bg-white no-border"
                            title="Cargar Textos predeterminados"
                            value=""
                            actionListener="#{historiaClinicaController.cargarTextoPredefinido(49,'IdFormRegistroClinico:dato49')}"
                            process="@this"
                            immediate="true"
                            style="font-size: 12px; width: 20px; height: 20px; left: 20px; padding-top: 3px;"
                            >
                    </p:commandButton></td>
                </tr>
                <tr>
                    <td colspan="2"><p:inputTextarea id="dato49" styleClass="width2" value="#{historiaClinicaController.datosFormulario.dato49}"  autoResize="false" />
                    </td>
                </tr>
                <tr>
                    <td colspan="2"><p:outputLabel value="EXAMEN DE GABINETE"/>
                    <p:commandButton
                            styleClass="icon-folder fg-lightBlue bg-white no-border"
                            title="Cargar Textos predeterminados"
                            value=""
                            actionListener="#{historiaClinicaController.cargarTextoPredefinido(50,'IdFormRegistroClinico:dato50')}"
                            process="@this"
                            immediate="true"
                            style="font-size: 12px; width: 20px; height: 20px; left: 20px; padding-top: 3px;"
                            >
                    </p:commandButton>
                    </td>
                </tr>
                <tr>
                    <td colspan="2"><p:inputTextarea id="dato50" styleClass="width2" value="#{historiaClinicaController.datosFormulario.dato50}"  autoResize="false" />
                    </td>
                </tr>
                <tr>
                    <td colspan="2"><p:outputLabel value="DIAGNOSTICO"/>
                    <p:commandButton
                            styleClass="icon-plus-2 fg-lightBlue bg-white no-border"
                            title="Cargar Enfermedad"
                            value=""
                            actionListener="#{historiaClinicaController.cargarDialogoAgregarEnfermedad()}"
                            process="@this"
                            immediate="true"
                            style="font-size: 12px; width: 20px; height: 20px; left: 20px; padding-top: 3px;"
                            >
                    </p:commandButton>
                    </td>
                </tr>
                <tr>
                    <td colspan="2"><p:inputTextarea id="dato1" styleClass="width2" value="#{historiaClinicaController.datosFormulario.dato1}" autoResize="false" readonly="true"/>
                    </td>
                </tr>
                <tr>
                    <td colspan="2"><p:outputLabel value="TRATAMIENTO"/>
                    <p:commandButton
                            styleClass="icon-folder fg-lightBlue bg-white no-border"
                            title="Cargar Textos predeterminados"
                            value=""
                            actionListener="#{historiaClinicaController.cargarTextoPredefinido(52,'IdFormRegistroClinico:dato52')}"
                            process="@this"
                            immediate="true"
                            style="font-size: 12px; width: 20px; height: 20px; left: 20px; padding-top: 3px;"
                            >
                    </p:commandButton>
                    </td>
                </tr>
                <tr>
                    <td colspan="2"><p:inputTextarea id="dato52" styleClass="width2" value="#{historiaClinicaController.datosFormulario.dato52}" autoResize="false" />
                    </td>
                </tr>
                

                <tr><td>&nbsp;</td></tr>
                
                <tr><td>&nbsp;</td></tr>
                <tr>
                    <td><p:outputLabel value="MEDICO"/></td>
                    <td><p:outputLabel value="ESPECIALIDAD"/></td>
                </tr>
                <tr>
                    <td>
                       <p:inputText id="IdMedico" readonly="true" styleClass="width1" value="#{indexController.getUsuarioActual().primerNombre} #{indexController.getUsuarioActual().segundoNombre} #{indexController.getUsuarioActual().primerApellido} #{indexController.getUsuarioActual().segundoApellido}"/>
                    </td>
                    <td><p:inputText id="IdEspecialidad" readonly="true" styleClass="width1" value="#{indexController.getUsuarioActual().especialidad.descripcion}"/></td>
                </tr>                
                <tr><td>&nbsp;</td></tr>
                <tr>
                    <td colspan="2">
                        <p:commandButton icon="ui-icon-disk" value="Guardar Nuevo Registro" styleClass="botonesFichaMedica"
                                         actionListener="#{historiaClinicaController.guardarRegistro}" 
                                         disabled="#{historiaClinicaController.modificandoRegCli}" update="@form" onblur="refreshHeader()">
                        </p:commandButton>
                        <p:commandButton icon="ui-icon-arrowthickstop-1-s" value="Actualizar Registro" styleClass="botonesFichaMedica"
                                         actionListener="#{historiaClinicaController.actualizarRegistro}" disabled="#{!historiaClinicaController.modificandoRegCli}" 
                                         rendered="#{indexController.superUsuario}" update="@form"/>
                        <p:commandButton icon="ui-icon-heart" value="Ver Receta" styleClass="botonesFichaMedica"
                                         actionListener="#{historiaClinicaController.cargarRecetaxRegistroClinico}" disabled="#{!historiaClinicaController.modificandoRegCli}" 
                                         update="@form"/>
                        <p:commandButton icon="ui-icon-document" value="Limpiar Formulario" styleClass="botonesFichaMedica"
                                         actionListener="#{historiaClinicaController.btnLimpiarFormulario}" update="@form"/>
                    </td>
                </tr>
            </table>     
            
            <p:dialog id="IdDialogoAgregarEnfermedad" header="AGREGAR ENFERMEDAD" widgetVar="dialogoAgregarEnfermedad" resizable="false" modal="true">  
                <p:panelGrid id="IdPanelAgregarEnfermedad2" styleClass="panelGridSinBordes" columns="2">
                      <p:outputLabel styleClass="campoObligatorio" value="Enfermedades CIE-10" />
                      <p:selectOneMenu  value="#{historiaClinicaController.idcie10}"  filter="true" filterMatchMode="contains" style="width: 325px;" styleClass="botonesFichaMedica">
                        <f:selectItem itemLabel="" itemValue=""/>
                        <f:selectItems value="#{genericoController.listaEnfermedades}" var="p" itemLabel="#{p.codigo} - #{p.descripcion}" itemValue="#{p.codigo}" />
                        <f:ajax event="change" listener="#{historiaClinicaController.cambiarEnfermedad()}" render="IdPanelAgregarEnfermedad"/> 
                    </p:selectOneMenu>  
                </p:panelGrid>
                <p:panelGrid id="IdPanelAgregarEnfermedad" styleClass="panelGridSinBordes" columns="2">
                  
                    <p:outputLabel styleClass="campoObligatorio" value="Código" />
                    <p:inputText  value="#{historiaClinicaController.codigo}" readonly="true"/>
                    <p:outputLabel styleClass="campoObligatorio" value="Descripción" />
                    <p:inputText  value="#{historiaClinicaController.descripcion}" size="80" readonly="true"/>
                    <p:outputLabel styleClass="campoObligatorio" value="Clase" />
                    <p:inputText  value="#{historiaClinicaController.presentacion}" size="80" readonly="true"/>
                    
                    <p:commandButton 
                        icon="ui-icon-check"
                        value="Agregar" style="border: 1px solid #6BC5D8; color: #163357; border-radius: 1rem; background: #fff; font-weight: bold; color: #2e6e9e;"
                        actionListener="#{historiaClinicaController.agregarEnfermedad()}" update="IdFormRegistroClinico"/>
                    <p:commandButton 
                        icon="ui-icon-close"
                        value="Cerrar" style="border: 1px solid #6BC5D8; color: #163357; border-radius: 1rem; background: #fff; font-weight: bold; color: #2e6e9e;"
                        actionListener="#{historiaClinicaController.cerrarFormEnfermedad()}" update="IdDialogoAgregarEnfermedad"/>
                </p:panelGrid>
            </p:dialog>
            
          

            <br/>
        </h:form>        
    </h:body>
</html>
