<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:p="http://primefaces.org/ui"
      xmlns:f="http://java.sun.com/jsf/core">
    <h:head>
        <title>Historias</title>
        <link href="../recursos/css/estilos.css" rel="stylesheet"/>
        <link href="../recursos/css/metro-bootstrap.css" rel="stylesheet"/>
        <link href="../recursos/css/iconFont.css" rel="stylesheet"/>
        <link href="//fonts.googleapis.com/css?family=Comfortaa" rel="stylesheet" />
        <script type="text/javascript" src="../recursos/js/calendario.js"></script>
        <script type="text/javascript">
            $(document).keypress(
                function (event) {
                if (event.which == '13') {
                    event.preventDefault();
                }
            });
        </script>
    </h:head>
    <h:body style="font-size: 11px;">
        #{signosvitalesController.init()}
        <h:form id="IdFormHistorias">
            <p:growl id="IdMensajeHistorias"  showDetail="true" sticky="false" autoUpdate="true" life="3000"  />
            <p:panel id="IdpanelDatosPaciente" style="position: relative; width: 100%; height: 100px; left: -5px;">
                <!-- p:commandButton value="mostrar" actionListener="# {signosvitalesController.mostrarValorObjeto}"/ -->
                <table style="margin-left: auto; margin-right: auto;">
                    <tr>
                       
                        <td>
                            <table>
                                <tr>
                                    <td style="vertical-align: top; ">
                                        <p:outputLabel styleClass="labelFormularioBold" style="width: 24px;" value="#{signosvitalesController.tipoIdentificacion}" rendered="#{signosvitalesController.hayPacienteSeleccionado}"/>
                                        <p:inputText id="IdTxtIdentificacion" styleClass="campoFormulario"     size="30" value="#{signosvitalesController.identificacionPaciente}">
                                            <p:ajax event="blur" listener="#{signosvitalesController.validarIdentificacion}" update="IdTablaPacientes IdpanelDatosPaciente IdPanelRegistroClinico"/>
                                        </p:inputText>
                                        <p:watermark for="IdTxtIdentificacion" value="Digite identificación paciente"/>
                                        <p:commandButton styleClass="campoFormulario"     style="width: 22px; height: 22px;" title="Buscar paciente" update="IdTablaPacientes "   icon="ui-icon-search" onclick="PF('dlgSeleccionarPaciente').show();"/>
                                        <p:commandButton styleClass="campoFormulario"     style="height: 22px;" title="Editar Paciente"    icon="ui-icon-pencil" actionListener="#{signosvitalesController.editarPaciente}"  rendered="#{signosvitalesController.hayPacienteSeleccionado}"/>
                                        <p:commandButton styleClass="campoFormulario"     style="height: 22px;" title="Historial Paciente" actionListener="#{signosvitalesController.cargarHistorialCompleto}" icon="ui-icon-calendar" rendered="#{signosvitalesController.hayPacienteSeleccionado}" oncomplete="PF('dlgHistorico').show();" update=":IdFormHistorias:IdPanelHistorico"/>
                                        
                                        
                                        
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <p:outputLabel   styleClass="labelFormularioBold" value="Nombre" rendered="#{signosvitalesController.hayPacienteSeleccionado}"/>
                                        <p:outputLabel   styleClass="labelFormulario"     value="#{signosvitalesController.nombrePaciente}"  rendered="#{signosvitalesController.hayPacienteSeleccionado}"/>
                                        <p:outputLabel styleClass="labelFormularioBold" style="font-weight: bold;" value="Género: " rendered="#{signosvitalesController.hayPacienteSeleccionado}"/>
                                        <p:outputLabel styleClass="labelFormulario"     style="font-weight: bold;" value="#{signosvitalesController.generoPaciente}"  rendered="#{signosvitalesController.hayPacienteSeleccionado}"/>
                                        <p:outputLabel styleClass="labelFormularioBold" style="font-weight: bold;" value="Edad: " rendered="#{signosvitalesController.hayPacienteSeleccionado}"/>
                                        <p:outputLabel styleClass="labelFormulario"     style="font-weight: bold;" value="#{signosvitalesController.edadPaciente}"  rendered="#{signosvitalesController.hayPacienteSeleccionado}"/>
                                       
                                        
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <p:outputLabel styleClass="labelFormularioBold" value="Tipos de registro: " rendered="#{signosvitalesController.hayPacienteSeleccionado}"/>
                                        <p:selectOneMenu styleClass="campoFormulario"  filter="true" filterMatchMode="contains" style="width: 270px;" value="#{signosvitalesController.tipoRegistroClinico}" rendered="#{signosvitalesController.hayPacienteSeleccionado}">
                                            <f:ajax
                                                event="change"
                                                listener="#{signosvitalesController.cambiaTipoRegistroClinico}"
                                                render="IdPanelRegistroClinico"/>
                                            <f:selectItem itemLabel="" itemValue=""/>
                                            <f:selectItems value="#{signosvitalesController.listaTipoRegistroClinico}" var="tipoRegistro" itemValue="#{tipoRegistro.idTipoReg}" itemLabel="#{tipoRegistro.nombre}"/>
                                        </p:selectOneMenu>
                                        <p:outputLabel styleClass="labelFormularioBold" value="Turno cita: " rendered="#{signosvitalesController.hayPacienteSeleccionado}"/>
                                        <p:outputLabel styleClass="labelFormulario"     value="#{signosvitalesController.noTurno}" style="margin-left: 10px;" rendered="#{signosvitalesController.hayPacienteSeleccionado}"/>
                                    </td>
                                </tr>
                            </table>
                        </td>
                    </tr>
                </table>
            </p:panel>
            <p:panel id="IdPanelRegistroClinico" style="position: absolute; width: 99%; height: calc(100% - 120px); margin: 0px; padding: 0px; left: 2px;">
                <iframe  src="#{signosvitalesController.urlPagina}"
                         style="position: absolute; width: 100%; height: 100%; border: none; left: 0px; top: 0px;">
                </iframe>
            </p:panel>
            <p:dialog header="Seleccionar paciente" widgetVar="dlgSeleccionarPaciente" modal="true" resizable="false" closable="true">
                <p:dataTable
                    id="IdTablaPacientes"
                    var="paciente" 
                    value="#{citaController.listPacientes}"
                    rowKey="#{paciente.idPaciente}"  
                    selection="#{signosvitalesController.pacienteSeleccionadoTabla}" 
                    paginator="true"
                    style="width: 600px;"
                    rows="10"
                    lazy="true"
                    paginatorPosition="bottom"                                
                    emptyMessage="No se encontraron pacientes"
                    scrollable="true" 
                    pageLinks="5"
                    widgetVar="pacientesTable"
                    selectionMode="single"
                    resizableColumns="true"
                    >
                    <p:column headerText="No. Documento" width="25%"  filterBy="#{paciente.identificacion}" filterMatchMode="contains" filterStyle="width: 145px;">
                        <h:outputText value="#{paciente.identificacion}"/>                                  
                    </p:column>
                    <p:column headerText="Nombre" width="44%" filterBy="#{paciente.primerNombre} #{paciente.segundoNombre} #{paciente.primerApellido} #{paciente.segundoApellido}" filterStyle="width: 250px;" filterMatchMode="contains">
                        <h:outputText value="#{paciente.primerNombre} #{paciente.segundoNombre} #{paciente.primerApellido} #{paciente.segundoApellido}" />
                    </p:column>
                </p:dataTable>
                <br/>
                <p:commandButton icon="ui-icon-check" value="Cargar" actionListener="#{signosvitalesController.cargarPaciente}" update="IdpanelDatosPaciente IdPanelRegistroClinico "/>
                <br/>
            </p:dialog>
            <p:dialog header="Histórico paciente" widgetVar="dlgHistorico" modal="true" resizable="false" closable="true">
                <p:panel id="IdPanelHistorico" style="border: none;"  >
                    <h:panelGrid columns="8" cellpadding="2">
                        <p:selectCheckboxMenu id="IdComboTipReg" value="#{signosvitalesController.regCliSelHistorial}" label="Tipos de registro"
                                              filter="true" filterMatchMode="startsWith" panelStyle="width:350px">
                            <f:selectItems value="#{signosvitalesController.listaTipoRegistroClinico}" var="tipoRegistro" itemValue="#{tipoRegistro.idTipoReg}" itemLabel="#{tipoRegistro.nombre}"/>
                        </p:selectCheckboxMenu>
                        
                        <h:outputLabel for="IdComboTipReg" value="Fecha Inicio" />
                        <p:calendar locale="es" navigator="true" value="#{signosvitalesController.filtroFechaInicial}" pattern="dd/MM/yyyy" size="11" mask="true"  />
                        <h:outputLabel for="IdComboTipReg" value="Fecha Fin" />
                        <p:calendar locale="es" navigator="true" value="#{signosvitalesController.filtroFechaFinal}" pattern="dd/MM/yyyy" size="11" mask="true"  />
                        <p:commandButton icon="ui-icon-refresh" actionListener="#{signosvitalesController.cargarHistorial}" title="Aplicar filtros" />
                    </h:panelGrid>
                    <p:tree
                        style="width: 700px; height: 370px; margin: 10px; overflow-x:hidden; overflow-y: scroll;"
                        value="#{signosvitalesController.treeNodeRaiz}"
                        var="nodo"
                        propagateSelectionDown="true"
                        propagateSelectionUp="false"
                        id="IdArbolHistorial"
                        selectionMode="checkbox"
                        selection="#{signosvitalesController.treeNodesSeleccionados}">
                        <p:ajax event="select" update=":IdFormHistorias:IdBtnPdfHistorial :IdFormHistorias:IdBtnEditarHistorial " listener="#{signosvitalesController.seleccionarRegistroHistorial}" />
                        <p:ajax event="unselect" update=":IdFormHistorias:IdBtnPdfHistorial :IdFormHistorias:IdBtnEditarHistorial " listener="#{signosvitalesController.seleccionarRegistroHistorial}" />
                        <p:treeNode>
                            <h:outputText value="#{nodo.nombre}" />
                        </p:treeNode>
                    </p:tree>
                    <p:commandButton icon="ui-icon-pencil" id="IdBtnEditarHistorial" value="Editar" actionListener="#{signosvitalesController.cargarRegistroClinico}" disabled="#{signosvitalesController.btnHistorialDisabled}" rendered="#{signosvitalesController.btnEditarRendered}"/>
                    <p:commandButton icon="ui-icon-document" id="IdBtnPdfHistorial"  value="PDF" actionListener="#{signosvitalesController.generarReporte}" ajax="false" onclick="this.form.target = '_blank'" disabled="#{signosvitalesController.btnHistorialDisabled}"/>
                </p:panel>
                <br/>
            </p:dialog>

        </h:form>
        <p:ajaxStatus onstart="PF('statusDialog').show()" onsuccess="PF('statusDialog').hide()" />
        <p:dialog widgetVar="statusDialog" modal="true" draggable="false" closable="false" resizable="false" showHeader="false">
            <p:graphicImage url="/recursos/ejecucion/loading.gif" width="32" height="32"/>
        </p:dialog>
    </h:body>
</html>