<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:p="http://primefaces.org/ui"
      xmlns:f="http://java.sun.com/jsf/core">
    <h:head>
        <title>Historias</title>
        <link href="../recursos/css/estilos.css" rel="stylesheet"/>
        <link href="../recursos/css/metro-bootstrap.css" rel="stylesheet"/>
        <link href="../recursos/css/iconFont.css" rel="stylesheet"/>
        <link href="//fonts.googleapis.com/css?family=Comfortaa" rel="stylesheet" />
        <script type="text/javascript" src="../recursos/js/calendario.js"></script>
        <script type="text/javascript">
            $(document).keypress(
                    function (event) {
                        if (event.which == '13') {
                            event.preventDefault();
                        }
                    });
        </script>
    </h:head>
    <h:body style="font-size: 11px;">
        #{historiaClinicaController.init()}

        <h:form id="IdFormHistorias">
            <p:commandLink id="hiddenLink" actionListener="#{historiaClinicaController.limpiarFormulario()}" update="IdFormHistorias" value="hiddenLink" style="display:none" />
            <p:commandLink id="hiddenLink2"  update="IdFormHistorias" value="hiddenLink2" style="display:none" />
            <p:growl id="IdMensajeHistorias"  showDetail="true" sticky="false" autoUpdate="true" life="3000"  />
            <p:panel id="IdpanelDatosPaciente" style="position: relative; width: 100%; height: 100px; left: -5px;">
                <table style="margin-left: auto; margin-right: auto; margin-top: 10px;">
                    <tr>

                        <td>
                            <table>
                                <tr>
                                    <td style="vertical-align: top; ">
                                        <p:outputLabel styleClass="labelFormularioBold" style="width: 24px;" value="#{historiaClinicaController.tipoIdentificacion}" rendered="#{historiaClinicaController.hayPacienteSeleccionado}"/>
                                        <p:inputText id="IdTxtIdentificacion" styleClass="campoFormulario"     size="30" value="#{historiaClinicaController.identificacionPaciente}">
                                            <p:ajax event="blur" listener="#{historiaClinicaController.validarIdentificacion}" update="IdTablaPacientes IdpanelDatosPaciente IdPanelRegistroClinico"/>
                                        </p:inputText>
                                        <p:watermark for="IdTxtIdentificacion" value="Digite identificación paciente"/>
                                        <p:commandButton styleClass="campoFormulario"     style="width: 22px; height: 22px;" title="Buscar paciente" update="IdTablaPacientes "   icon="ui-icon-search" onclick="PF('dlgSeleccionarPaciente').show();"/>
                                        <p:commandButton styleClass="campoFormulario"     style="height: 22px;" title="Editar Paciente"    icon="ui-icon-pencil" actionListener="#{historiaClinicaController.editarPaciente}"  rendered="#{historiaClinicaController.hayPacienteSeleccionado}"/>
                                        <p:commandButton styleClass="campoFormulario"     style="height: 22px;" title="Historial Paciente" actionListener="#{historiaClinicaController.cargarHistorialCompleto}" icon="ui-icon-calendar" rendered="#{historiaClinicaController.hayPacienteSeleccionado}" oncomplete="PF('dlgHistorico').show();" update=":formHistorico:IdPanelHistorico"/>
                                        <p:commandButton styleClass="campoFormulario"     style="width: 22px; height: 22px;" title="Archivos Historia"    icon="ui-icon-folder-collapsed" update="IdTablaArchivos" rendered="#{historiaClinicaController.hayPacienteSeleccionado}" onclick="PF('dlgArchivo').show();"/>


                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <p:outputLabel styleClass="labelFormularioBold" value="Nombre" rendered="#{historiaClinicaController.hayPacienteSeleccionado}"/>
                                        <p:outputLabel styleClass="labelFormulario"     value="#{historiaClinicaController.nombrePaciente}"  rendered="#{historiaClinicaController.hayPacienteSeleccionado}"/>
                                        <p:outputLabel styleClass="labelFormularioBold" style="font-weight: bold;" value="Género: " rendered="#{historiaClinicaController.hayPacienteSeleccionado}"/>
                                        <p:outputLabel styleClass="labelFormulario"     style="font-weight: bold;" value="#{historiaClinicaController.sexoPaciente}"  rendered="#{historiaClinicaController.hayPacienteSeleccionado}"/>
                                        <p:outputLabel styleClass="labelFormularioBold" style="font-weight: bold;" value="Edad: " rendered="#{historiaClinicaController.hayPacienteSeleccionado}"/>
                                        <p:outputLabel styleClass="labelFormulario"     style="font-weight: bold;" value="#{historiaClinicaController.edadPaciente}"  rendered="#{historiaClinicaController.hayPacienteSeleccionado}"/>


                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <p:outputLabel styleClass="labelFormularioBold" value="Tipos de registro: " rendered="#{historiaClinicaController.hayPacienteSeleccionado}"/>
                                        <p:selectOneMenu styleClass="campoFormulario" filter="true" filterMatchMode="contains" style="width: 270px;" value="#{historiaClinicaController.tipoRegistroClinico}" rendered="#{historiaClinicaController.hayPacienteSeleccionado}">                                           
                                            <f:selectItem itemLabel="" itemValue=""/>
                                            <f:selectItems value="#{historiaClinicaController.listaTipoRegistroClinico}" var="tipoRegistro" itemValue="#{tipoRegistro.idTipoReg}" itemLabel="#{tipoRegistro.nombre}"/>
                                            <f:ajax
                                                event="change"
                                                listener="#{historiaClinicaController.cambiaTipoRegistroClinico}"
                                                render="IdPanelRegistroClinico"/>
                                        </p:selectOneMenu>
                                        <p:outputLabel styleClass="labelFormularioBold" value="Turno cita: " rendered="#{historiaClinicaController.hayPacienteSeleccionado}"/>
                                        <p:outputLabel styleClass="labelFormulario"     value="#{historiaClinicaController.noTurno}" style="margin-left: 10px;" rendered="#{historiaClinicaController.hayPacienteSeleccionado}"/>
                                    </td>
                                    
                                </tr>
                            </table>
                        </td>
                    </tr>
                </table>
            </p:panel>
            <p:panel id="IdPanelRegistroClinico" style="position: absolute; width: 99%; height: calc(100% - 120px); margin: 0px; padding: 0px; left: 2px;">
                <iframe  src="#{historiaClinicaController.urlPagina}"
                         style="position: absolute; width: 100%; height: 100%; border: none; left: 0px; top: 0px;">
                </iframe>
            </p:panel>
            <p:dialog header="Seleccionar paciente" widgetVar="dlgSeleccionarPaciente" modal="true" resizable="false" closable="true">
                <p:dataTable
                    id="IdTablaPacientes"
                    var="paciente" 
                    value="#{citaController.listPacientes}"
                    rowKey="#{paciente.idPaciente}"  
                    selection="#{historiaClinicaController.pacienteSeleccionadoTabla}" 
                    paginator="true"
                    style="width: 600px;"
                    rows="10"
                    lazy="true"
                    paginatorPosition="bottom"                                
                    emptyMessage="No se encontraron pacientes"
                    scrollable="true" 
                    pageLinks="5"
                    widgetVar="pacientesTable"
                    selectionMode="single"
                    resizableColumns="true"
                    >
                    <p:column headerText="No. Documento" width="25%"  filterBy="#{paciente.identificacion}" filterMatchMode="contains" filterStyle="width: 145px;">
                        <h:outputText value="#{paciente.identificacion}"/>                                  
                    </p:column>
                    <p:column headerText="Nombre" width="44%" filterBy="#{paciente.primerNombre} #{paciente.segundoNombre} #{paciente.primerApellido} #{paciente.segundoApellido}" filterStyle="width: 250px;" filterMatchMode="contains">
                        <h:outputText value="#{paciente.primerNombre} #{paciente.segundoNombre} #{paciente.primerApellido} #{paciente.segundoApellido}" />
                    </p:column>
                </p:dataTable>
                <br/>
                <p:commandButton icon="ui-icon-check" value="Cargar" actionListener="#{historiaClinicaController.cargarPaciente}" update="IdpanelDatosPaciente IdPanelRegistroClinico IdTablaArchivos "/>
                <br/>
            </p:dialog>


            <p:dialog id="upload1" widgetVar="dlgArchivo" modal="true" dynamic="true" resizable="false" showHeader="false" closable="false" >


                <div class="ui-corner-all" style="background: #163357;"><h3 style="color: #fff; padding: 6px 0 6px 15px;">Subir Archivos</h3></div>
                <p:fileUpload
                    fileUploadListener="#{historiaClinicaController.manageFile}"  update="IdTablaArchivos idDesc"
                    mode="advanced" multiple="false" label="Selecionar" uploadLabel="Enviar" cancelLabel="Cancelar" />

                <br>
                    <p:outputLabel styleClass="campoObligatorio" value="Descripcion del archivo" rendered="#{historiaClinicaController.hayPacienteSeleccionado}"/>
                    <p:inputText id="idDesc"  styleClass="campoFormulario" value="#{historiaClinicaController.descriparchivo}">
                        <p:ajax  event="blur" listener="#{historiaClinicaController.descriparchivo}" update="@none"/>
                    </p:inputText>
                </br>



                <br></br>
                <hr></hr>

                <div class="ui-corner-all" style="background: #163357;"><h3 style="color: #fff; padding: 6px 0 6px 15px;">Archivos Subidos</h3></div>
                <p:dataTable id="IdTablaArchivos" var="archivo" value="#{historiaClinicaController.listaArchivo}" rowKey="#{archivo.idArchivo}" selectionMode="single" selection="#{historiaClinicaController.archivoSeleccionado}" emptyMessage="No se han encontrado archivos">
                    <p:ajax  event="rowSelect" listener="#{historiaClinicaController.downloadArchivo}" update="@none">
                    </p:ajax>
                    <p:column headerText="Descripción">
                        <h:outputText value="#{archivo.descripcion}" />
                    </p:column>
                    <p:column headerText="Fecha de carga">
                        <h:outputText value="#{archivo.fechaUpload.day}/#{archivo.fechaUpload.month}/#{archivo.fechaUpload.year}" />
                    </p:column>
                    <p:column headerText="Descarga">
                        <h:outputText value="#{archivo.urlFile}" />
                    </p:column>
                </p:dataTable>
                <br>
                    <p:commandButton value="Descargar" ajax="false" onclick="PrimeFaces.monitorDownload(start, stop);" icon="ui-icon-triangle-1-s">
                        <p:fileDownload value="#{historiaClinicaController.fileDownload}" />
                    </p:commandButton>
                </br>
                <br></br>
                <br></br>
                <p:commandButton icon="ui-icon-close" type="button" value="Cerrar" onclick="PF('dlgArchivo').hide()"/>
            </p:dialog>

          </h:form>

        <p:dialog header="Histórico paciente" widgetVar="dlgHistorico" modal="true" resizable="false" closable="true">
            <h:form id="formHistorico">
                <p:panel id="IdPanelHistorico" style="border: none;"  >
                    <h:panelGrid columns="8" cellpadding="2">

                        <p:selectCheckboxMenu id="IdComboTipReg" value="#{historiaClinicaController.regCliSelHistorial}" label="Tipos de registro"
                                              filter="true" filterMatchMode="startsWith" panelStyle="width:350px">
                            <f:selectItems value="#{historiaClinicaController.listaTipoRegistroClinicoAll}" var="tipoRegistro" itemValue="#{tipoRegistro.idTipoReg}" itemLabel="#{tipoRegistro.nombre}"/>
                        </p:selectCheckboxMenu>

                        <h:outputLabel for="IdComboTipReg" value="Fecha Inicio" />
                        <p:calendar locale="es" navigator="true" value="#{historiaClinicaController.filtroFechaInicial}" pattern="dd/MM/yyyy" size="11" mask="true"  />
                        <h:outputLabel for="IdComboTipReg" value="Fecha Fin" />
                        <p:calendar locale="es" navigator="true" value="#{historiaClinicaController.filtroFechaFinal}" pattern="dd/MM/yyyy" size="11" mask="true"  />
                        <p:commandButton icon="ui-icon-refresh" actionListener="#{historiaClinicaController.cargarHistorial}" title="Aplicar filtros" />

                    </h:panelGrid>
                    <p:tree
                        style="width: 700px; height: 370px; margin: 10px; overflow-x:hidden; overflow-y: scroll;"
                        value="#{historiaClinicaController.treeNodeRaiz}"
                        var="nodo"
                        propagateSelectionDown="true"
                        propagateSelectionUp="false"
                        id="IdArbolHistorial"
                        selectionMode="checkbox"
                        selection="#{historiaClinicaController.treeNodesSeleccionados}">
                        <p:ajax event="select" update=":formHistorico:IdBtnPdfHistorial :formHistorico:IdBtnEditarHistorial" listener="#{historiaClinicaController.seleccionaNodoArbol}" />
                        <p:ajax event="unselect" update=":formHistorico:IdBtnPdfHistorial :formHistorico:IdBtnEditarHistorial" listener="#{historiaClinicaController.seleccionaNodoArbol}" />
                        <p:treeNode>
                            <h:outputText value="#{nodo.nombre}" />
                        </p:treeNode>
                    </p:tree>
                    <p:commandButton icon="ui-icon-pencil" id="IdBtnEditarHistorial" value="Editar" actionListener="#{historiaClinicaController.cargarRegistroClinico}" disabled="#{historiaClinicaController.btnHistorialDisabled}" rendered="#{historiaClinicaController.btnEditarRendered}"/>
                    <p:commandButton icon="ui-icon-document" id="IdBtnPdfHistorial" value="PDF" actionListener="#{historiaClinicaController.generarReporte()}" ajax="false" onclick="this.form.target = '_blank'" disabled="#{historiaClinicaController.btnHistorialDisabled}"/>

                </p:panel>
                <br/>
            </h:form>
        </p:dialog>
        <p:ajaxStatus onstart="PF('statusDialog').show()" onsuccess="PF('statusDialog').hide()" />
        <p:dialog widgetVar="statusDialog" modal="true" draggable="false" closable="false" resizable="false" showHeader="false">
            <p:graphicImage url="/recursos/ejecucion/loading.gif" width="32" height="32"/>
        </p:dialog>
    </h:body>
</html>