<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:p="http://primefaces.org/ui"
      xmlns:f="http://xmlns.jcp.org/jsf/core">
    <h:head>
        <title>Facelet Title</title>
        <script src="../recursos/js/calendario.js"/>
        <link href="../recursos/css/estilos.css" rel="stylesheet"/>
        <link href="../recursos/css/metro-bootstrap.css" rel="stylesheet"/>
        <link href="../recursos/css/iconFont.css" rel="stylesheet"/>
        <link href="//fonts.googleapis.com/css?family=Comfortaa" rel="stylesheet" />        
        <style type="text/css"> 
            .ui-panelgrid td, .ui-panelgrid tr
            {
                border-style: none !important;
            }
        </style>    
    </h:head>
    <h:body>
        <br/>
        <p:growl autoUpdate="true" showDetail="true"/>
        <h:form id="formReporte">
            <p:panel>
                <p:panelGrid style="margin: 0 auto;" columns="3">
                    <p:outputLabel styleClass="campoObligatorio" value="Medico" style="width: 120px;"/>                        
                    <p:selectOneMenu styleClass="campoFormulario" style="width: 200px;"  value="#{parteDiarioController.medico}" >
                        <f:selectItem itemLabel="--Seleccione Médico--" itemValue=""/>
                        <f:selectItems value="#{parteDiarioController.listMedicos}" var="ad" itemLabel="#{ad.primerNombre} #{ad.primerApellido}" itemValue="#{ad.idUsuario}"/>
                        <f:ajax event="change" render="@this" />                        
                    </p:selectOneMenu>                    
                    &nbsp;
                    <p:outputLabel value="Fecha:" />
                    <p:calendar 
                        navigator="true" 
                        id="fechIni" 
                        widgetVar="calwidgetini" 
                        value="#{parteDiarioController.fechaDesde}" 
                        locale="es" 
                        maxlength="10" 
                        timeZone="America/Bogota" 
                        pattern="dd/MM/yyyy"  
                        mask="99/99/9999" 
                        size="10"/>
                    &nbsp;
                   
                    
                    <p:commandButton id="idButtonReporte"  actionListener="#{parteDiarioController.generarParteDiario(actionEvent)}" icon="ui-icon-document" value="Generar Parte Diario" ajax="false">                      
                    </p:commandButton>
                    &nbsp;
                </p:panelGrid>
            </p:panel>
        </h:form>

      
    </h:body>
</html>

