<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:p="http://primefaces.org/ui"
      xmlns:f="http://java.sun.com/jsf/core">  
    <h:head>
        <title>Usuarios</title>
        <link href="../recursos/css/estilos.css" rel="stylesheet"/>        
        <link href="../recursos/css/metro-bootstrap.css" rel="stylesheet"/>
        <link href="../recursos/css/iconFont.css" rel="stylesheet"/>   
        <script type="text/javascript" src="../recursos/js/calendario.js"></script> 
        <script type="text/javascript">
            $(document).keypress(
                    function (event) {
                        if (event.which == '13') {
                            event.preventDefault();
                        }


                    });
            function refreshHeader() {
               window.parent.document.getElementById('IdFormHistorias:hiddenLink').click();
            }
        </script>
    </h:head>
    <h:body>
        <h:form id="IdFormRegistroClinico">  
            <p:growl id="IdMensajeRecetario"  showDetail="true" sticky="false" autoUpdate="true" life="2000"/>
            <table style="margin-left: auto; margin-right: auto;" >
                <tr>
                    <td colspan="2">
                        <h2>RECETA MÉDICA</h2>
                      
                    </td>
                </tr>
                <tr>
                    <td colspan="2">  
                        <p:focus for="IdEditorRecetario" />
                        <p:editor 
                            id="IdEditorRecetario" width="650"
                            value="#{historiaClinicaController.datosFormulario.dato0}"
                            controls="bold italic underline font size bullets numbering alignleft center alignright justify undo redo"/>
                    </td>
                </tr>
                <tr><td>&nbsp;</td></tr>
                
                <tr><td>&nbsp;</td></tr>
                <tr>
                    <td><p:outputLabel value="MEDICO"/></td>
                    <td><p:outputLabel value="ESPECIALIDAD"/></td>
                </tr>
                <tr>
                    <td>
                       <p:inputText id="IdMedico" readonly="true" styleClass="width1" value="#{indexController.getUsuarioActual().primerNombre} #{indexController.getUsuarioActual().segundoNombre} #{indexController.getUsuarioActual().primerApellido} #{indexController.getUsuarioActual().segundoApellido}"/>
                    </td>
                    <td><p:inputText id="IdEspecialidad" readonly="true" styleClass="width1" value="#{indexController.getUsuarioActual().especialidad.descripcion}"/></td>
                </tr>                 
                <tr><td>&nbsp;</td></tr>
                <tr>
                    <td colspan="2">
                        <p:commandButton icon="ui-icon-disk" value="Guardar Nuevo Registro" 
                                         actionListener="#{historiaClinicaController.guardarRegistro}" disabled="#{historiaClinicaController.modificandoRegCli}"
                                         update="@form" onblur="refreshHeader()"/>                        
                        <p:commandButton icon="ui-icon-document" value="Limpiar Formulario"
                                         actionListener="#{historiaClinicaController.btnLimpiarFormulario}" update="@form" onclick="refreshHeader()"/>
                        <p:commandButton style="display: none" widgetVar="printButton" type="submit" value="Print" actionListener="#{historiaClinicaController.generarReporteReceta()}" ajax="false" onclick="form.target = '_blank'" />
                    </td>
                </tr>
            </table>            
           

            <br/>
        </h:form>        
    </h:body>
</html>
