<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:p="http://primefaces.org/ui"
      xmlns:f="http://java.sun.com/jsf/core">  
    <h:head>
        <title>Usuarios</title>
        <link href="../recursos/css/estilos.css" rel="stylesheet"/>        
        <link href="../recursos/css/metro-bootstrap.css" rel="stylesheet"/>
        <link href="../recursos/css/iconFont.css" rel="stylesheet"/>
        <script type="text/javascript" src="../recursos/js/calendario.js"></script> 
        <script type="text/javascript">
            $(document).keypress(
                    function (event) {
                        if (event.which == '13') {
                            event.preventDefault();
                        }


                    });
        </script>
    </h:head>
    <h:body>
        <h:form id="IdFormRegistroClinico">  
            <p:growl id="IdMensajeUsuarios"  showDetail="true" sticky="false" autoUpdate="true" life="2000"/>
            <table style="margin-left: auto; margin-right: auto;" >

                
                <!--Signos vitales-->
                <tr>
                    <td colspan="2"><h2><p:outputLabel value="SIGNOS VITALES" /></h2></td>
                </tr>

                 <tr>
                    <td colspan="1"><p:outputLabel value="Peso (kg)"/></td>
                    <td colspan="1"><p:outputLabel value="Talla (cm)"/></td>
                </tr>    
                <tr>
                    <td colspan="1">
                        <p:inputText id="dato0" styleClass="width1"  value="#{historiaClinicaController.datosFormulario.dato0}" readonly="true">
                            
                        </p:inputText>
                    </td>
                    <td colspan="1">
                        <p:inputText id="dato1" styleClass="width1"  value="#{historiaClinicaController.datosFormulario.dato1}" readonly="true">
                            
                        </p:inputText>
                    </td>
                </tr>

                <tr>
                    <td colspan="1"><p:outputLabel value="IMC"/></td>
                    <td><p:outputLabel value="Temperatura" /></td>
                </tr>    
                <tr>
                    <td colspan="1">
                        <p:inputText styleClass="width1" readonly = "true" id="txtImc" value="#{historiaClinicaController.datosFormulario.dato2}" />
                    </td>
                    <td><p:inputText id="dato3" styleClass="width1" value="#{historiaClinicaController.datosFormulario.dato3}" readonly="true"/></td>
                </tr>
                
                <tr>
                    <td><p:outputLabel value="Frecuencia cardiaca" /></td>
                    <td><p:outputLabel value="Frecuencia respiratoria" /></td>
                </tr>
                <tr>
                    <td><p:inputText id="dato4" styleClass="width1" value="#{historiaClinicaController.datosFormulario.dato4}" readonly="true"/></td>
                    <td><p:inputText id="dato5" styleClass="width1" value="#{historiaClinicaController.datosFormulario.dato5}" readonly="true"/></td>
                </tr>

                <tr>
                    <td><p:outputLabel value="Presion Arterial" /></td>
                </tr>
                <tr>
                    
                    <td><p:inputText id="dato6" styleClass="width1" value="#{historiaClinicaController.datosFormulario.dato6}" readonly="true"/></td>
                </tr>

                <tr><td>&nbsp;</td></tr>
                
                <!-- Fin de Signos vitales-->


               
                <!--./NUEVOS CAMPOS -->
                <tr><td>&nbsp;</td></tr>
                <tr>
                    <td colspan="2">
                        <p:outputLabel value="FECHA-HORA REGISTRO"/><p:calendar navigator="true" locale="es" value="#{historiaClinicaController.fechaReg}" pattern="dd/MM/yyyy HH:mm:ss" size="23" mask="true" readonly="true" />
                    </td>
                </tr>
                <tr><td>&nbsp;</td></tr>
                <tr>
                    <td><p:outputLabel value="MEDICO"/></td>
                    <td><p:outputLabel value="ESPECIALIDAD"/></td>
                </tr>
                <tr>
                    <td>
                        <p:inputText id="IdMedico" readonly="true" styleClass="width1" value="#{indexController.getUsuarioActual().primerNombre} #{indexController.getUsuarioActual().segundoNombre} #{indexController.getUsuarioActual().primerApellido} #{indexController.getUsuarioActual().segundoApellido}"/>
                    </td>
                    <td><p:inputText id="IdEspecialidad" readonly="true" styleClass="width1" value="#{indexController.getUsuarioActual().especialidad.descripcion}"/></td>
                </tr>                
                <tr><td>&nbsp;</td></tr>
                <tr>
                    <td colspan="2">
                        <p:commandButton icon="ui-icon-disk" value="Guardar Nuevo Registro"
                                         actionListener="#{historiaClinicaController.guardarRegistro}" disabled="#{historiaClinicaController.modificandoRegCli}" 
                                         update="@form"/>
                        <p:commandButton icon="ui-icon-arrowthickstop-1-s" value="Actualizar Registro" actionListener="#{historiaClinicaController.actualizarRegistro}" disabled="#{historiaClinicaController.modificandoRegCli}" rendered="#{indexController.superUsuario}" update="@form"/>
                        <p:commandButton icon="ui-icon-document" value="Limpiar Formulario" actionListener="#{historiaClinicaController.btnLimpiarFormulario}" update="@form"/>
                    </td>
                </tr>
            </table>
            
        </h:form>        
    </h:body>
</html>