<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:p="http://primefaces.org/ui"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets">  
    <h:head>
        <title>Usuarios</title>
        <link href="../recursos/css/estilos.css" rel="stylesheet"/>        
        <link href="../recursos/css/metro-bootstrap.css" rel="stylesheet"/>
        <link href="../recursos/css/iconFont.css" rel="stylesheet"/>   
        <script type="text/javascript" src="../recursos/js/calendario.js"></script> 
        <script type="text/javascript">
            $(document).keypress(
                    function (event) {
                        if (event.which == '13') {
                            event.preventDefault();
                        }


                    });

            function refreshHeader() {
                window.parent.document.getElementById('IdFormHistorias:hiddenLink').click();
            }
            function refresh() {
                window.parent.document.getElementById('IdFormHistorias:hiddenLink2').click();
            }
        </script>
    </h:head>
    <h:body>
        <h:form id="IdFormRegistroClinico"> 
            #{historiaClinicaController.initAtencionTf()}
            <p:growl id="IdMensajeUsuarios"  showDetail="true" sticky="false" autoUpdate="true" life="4000"/>
            <table style="margin-left: auto; margin-right: auto; margin-top: 1rem;">
                <tr>
                    <td >
                        <p:commandButton styleClass="labelFormularioBold" style="width: 200px; font-size: 12px;" icon="ui-icon-document" value="Crear Sesiones" oncomplete="PF('dlgSeleccionarTratamientos').show();" onclick="#{historiaClinicaController.limpiarTf()}" disabled="#{!historiaClinicaController.modificaAtencionTf}"/>
                        <p:commandButton styleClass="labelFormularioBold" style="width: 200px; font-size: 12px;" icon="ui-icon-pencil" value="Modifica Tratamientos" oncomplete="PF('dlgSeleccionarTratamientos').show();" onclick="#{historiaClinicaController.cargaTerapiasTf()}" disabled="#{historiaClinicaController.modificaAtencionTf}"/>
                    </td>
                </tr>
                <tr>
                    <td>
                        <p:dataTable 
                            id="IdTablaTratamientos" 
                            var="registro" 
                            widgetVar="wvTablaCategorias"
                            value="#{historiaClinicaController.listaTfAtencion}"
                            rowKey="#{registro.id}"  
                            paginator="true"
                            style="width: 1000px; table-layout: fixed; word-wrap: break-word;"
                            rows="10"                                    
                            paginatorPosition="bottom"                                
                            emptyMessage="No hay terapias pendientes"
                            scrollable="true" 
                            currentPageReportTemplate="Mostrando {startRecord}-{endRecord} de {totalRecords}"
                            paginatorTemplate="{CurrentPageReport} {FirstPageLink} {PreviousPageLink} {PageLinks} {NextPageLink} {LastPageLink} {RowsPerPageDropdown}"                                    
                            pageLinks="5"
                            resizableColumns="true"
                            sortBy="#{registro.numSesion}"
                            sortOrder="ascending">
                            <f:facet name="tratHeader">SESIONES PENDIENTES</f:facet>
                            <p:column headerText="SESIÓN #" width="100" filterBy="#{registro.numSesion}" filterMatchMode="contains">
                               <h:outputText value="Sesión #{registro.numSesion}  " /> 
                            </p:column>                              
                            <p:column headerText="PACIENTE" width="300px" >  
                                <h:outputText value="#{registro.idPaciente.nombreCompleto}" />
                            </p:column>                                                      
                            <p:column headerText="OBSERVACIONES" width="auto" >  
                                <h:outputText value="#{registro.notas} " /> 
                            </p:column>
                            <p:column headerText="TRATAMIENTOS" width="100" style="align-content: center;">  
                                <p:commandButton id="IdBtnPago" rendered="#{!registro.realizado}" action="#{historiaClinicaController.consultaTratamientosTf()}" oncomplete="PF('dialogoTratamientos').show()" process="@this" icon="ui-icon-check" value="Iniciar">
                                    <f:setPropertyActionListener value="#{registro}" target="#{historiaClinicaController.atencionTfSeleccionada}"/>
                                </p:commandButton>
                            </p:column>
                        </p:dataTable>
                    </td>
                </tr>
                <tr>
                    <td colspan="2">
                        <p:commandButton icon="ui-icon-plusthick" value="Crear Receta Medica" 
                                         actionListener="#{historiaClinicaController.renderReceta}"
                                         update="@form" onblur="refreshHeader()">
                        </p:commandButton>
                    </td>
                </tr>
            </table>
            <p:dialog id="IdDialogoEliminarCategoria" header="FINALIZAR SESIÓN" widgetVar="dialogoTerminaSesion" resizable="false" modal="true">
                <p:panelGrid id="panelEliminarCategoria" styleClass="panelGridSinBordes" columns="1">
                    <p:row>
                        <p:column colspan="2">
                            <h:outputText value="¿Desea finalizar la sesión seleccionada?"/>
                        </p:column>
                    </p:row>
                    <p:row>
                        <p:column>
                            <p:commandButton 
                                value="Confirmar" 
                                oncomplete="PF('dialogoTerminaSesion').hide(); PF('dialogoTratamientos').hide();"
                                actionListener="#{historiaClinicaController.realizaSesion()}"
                                update="@form"/>
                        </p:column>
                    </p:row>
                </p:panelGrid>
            </p:dialog>
            <p:dialog header="Seleccionar Tratamientos" widgetVar="dlgSeleccionarTratamientos" modal="true" resizable="false" closable="true" >

                <table>
                    <tr>
                        <td colspan="2">
                            <p:outputLabel styleClass="labelFormularioBold" value="Número de Sesiones" rendered="#{historiaClinicaController.modificaAtencionTf}"/>
                            <p:inputNumber decimalPlaces="0" id="IdTxtCantSesiones" size="30" value="#{historiaClinicaController.cantSesiones}" rendered="#{historiaClinicaController.modificaAtencionTf}"></p:inputNumber>
                        </td>
                    </tr>
                    <tr>
                        <th colspan="1" align="center">
                            <p:outputLabel styleClass="labelFormularioBold" value="Agente Fisico"/>
                        </th>
                        <th colspan="2" align="center">
                            <p:outputLabel styleClass="labelFormularioBold" value="Ejercicio Terapeutico"/>  
                        </th>
                    </tr>
                    <tr>
                        <td colspan="1" align="left" style="vertical-align: top; width:350px;">
                            <h:outputLabel value="CQC: " />
                            <p:selectBooleanCheckbox id="value1" value="#{historiaClinicaController.af1}"  style="width:60px">
                            </p:selectBooleanCheckbox>
                            <br/>
                            <h:outputLabel value="CQF: " />
                            <p:selectBooleanCheckbox id="value2" value="#{historiaClinicaController.af2}"  style="width:60px">
                            </p:selectBooleanCheckbox>
                            <br/>
                            <h:outputLabel value="Electro Estimulacion: " />
                            <p:selectBooleanCheckbox id="value3" value="#{historiaClinicaController.af3}"  style="width:60px">
                            </p:selectBooleanCheckbox>
                            <br/>
                            <h:outputLabel value="Ultrasonido: " />
                            <p:selectBooleanCheckbox id="value4" value="#{historiaClinicaController.af4}"  style="width:60px">
                            </p:selectBooleanCheckbox>
                            <br/>
                            <h:outputLabel value="Magnetoterapia: " />
                            <p:selectBooleanCheckbox id="value5" value="#{historiaClinicaController.af5}"  style="width:60px">
                            </p:selectBooleanCheckbox>


                            <br/>
                            <h:outputLabel value="Onda Corta(Diametria): " />
                            <p:selectBooleanCheckbox id="value6" value="#{historiaClinicaController.af6}"  style="width:60px">
                            </p:selectBooleanCheckbox>
                            <br/>
                            <h:outputLabel value="Parafina: " />
                            <p:selectBooleanCheckbox id="value7" value="#{historiaClinicaController.af7}"  style="width:60px">
                            </p:selectBooleanCheckbox>


                            <br/>
                            <h:outputLabel value="Laser: " />
                            <p:selectBooleanCheckbox id="value8" value="#{historiaClinicaController.af8}"  style="width:60px">
                            </p:selectBooleanCheckbox>
                            <br/>
                            <h:outputLabel value="Traccion Cervical: " />
                            <p:selectBooleanCheckbox id="value9" value="#{historiaClinicaController.af9}"  style="width:60px">
                            </p:selectBooleanCheckbox>


                            <br/>
                            <h:outputLabel value="Traccion Lumbar: " />
                            <p:selectBooleanCheckbox id="value10" value="#{historiaClinicaController.af10}"  style="width:60px">
                            </p:selectBooleanCheckbox>
                            <br/>
                            <h:outputLabel value="Infrarojo: " />
                            <p:selectBooleanCheckbox id="value11" value="#{historiaClinicaController.af11}"  style="width:60px">
                            </p:selectBooleanCheckbox>

                        </td>
                        <td colspan="1" align="left" style="vertical-align: top; ">
                            <h:outputLabel value="Quemados(retraccion cicatrizal: " />
                            <p:selectBooleanCheckbox id="value12" value="#{historiaClinicaController.et1}"  style="width:60px">
                            </p:selectBooleanCheckbox>
                            <br/>
                            <h:outputLabel value="Preprotesico: " />
                            <p:selectBooleanCheckbox id="value14" value="#{historiaClinicaController.et3}"  style="width:60px">
                            </p:selectBooleanCheckbox>
                            <br/>
                            <h:outputLabel value="Manejo de Hemiplejico (Bobath): " />
                            <p:selectBooleanCheckbox id="value16" value="#{historiaClinicaController.et5}"  style="width:60px">
                            </p:selectBooleanCheckbox>
                            <br/>
                            <h:outputLabel value="Ejercicios de Coordinacion y Equilibrio (Frenkel): " />
                            <p:selectBooleanCheckbox id="value18" value="#{historiaClinicaController.et7}"  style="width:60px">
                            </p:selectBooleanCheckbox>
                            <br/>
                            <h:outputLabel value="Ejercicio de Hombro (Coddman): " />
                            <p:selectBooleanCheckbox id="value20" value="#{historiaClinicaController.et9}"  style="width:60px">
                            </p:selectBooleanCheckbox>
                            <br/>
                            <h:outputLabel value="Ejercicio Lumbar (William's): " />
                            <p:selectBooleanCheckbox id="value22" value="#{historiaClinicaController.et11}"  style="width:60px">
                            </p:selectBooleanCheckbox>
                            <br/>
                            <h:outputLabel value="Poleas: " />
                            <p:selectBooleanCheckbox id="value24" value="#{historiaClinicaController.et13}"  style="width:60px">
                            </p:selectBooleanCheckbox>
                            <br/>
                            <h:outputLabel value="Bicicleta: " />
                            <p:selectBooleanCheckbox id="value26" value="#{historiaClinicaController.et15}"  style="width:60px">
                            </p:selectBooleanCheckbox>
                            <br/>
                            <h:outputLabel value="Escalera de Dedos: " />
                            <p:selectBooleanCheckbox id="value28" value="#{historiaClinicaController.et17}"  style="width:60px">
                            </p:selectBooleanCheckbox>
                            <br/>
                            <h:outputLabel value="Masajes Terapeuticos: " />
                            <p:selectBooleanCheckbox id="value30" value="#{historiaClinicaController.et19}" style="width:60px">
                            </p:selectBooleanCheckbox>
                            <br/>
                            <h:outputLabel value="Manejo del Paciente Ortopedico: " />
                            <p:selectBooleanCheckbox id="value32" value="#{historiaClinicaController.et21}" style="width:60px">
                            </p:selectBooleanCheckbox>

                        </td>
                        <td colspan="1" align="left" style="vertical-align: top; ">
                            <h:outputLabel value="Amputados: " />
                            <p:selectBooleanCheckbox id="value13" value="#{historiaClinicaController.et2}"  style="width:60px">
                            </p:selectBooleanCheckbox>
                            <br/>
                            <h:outputLabel value="Reeducacion de la marcha: " />
                            <p:selectBooleanCheckbox id="value15" value="#{historiaClinicaController.et4}"  style="width:60px">
                            </p:selectBooleanCheckbox>
                            <br/>
                            <h:outputLabel value="Ejercicios para Escoliosis (Klapp): " />
                            <p:selectBooleanCheckbox id="value17" value="#{historiaClinicaController.et6}"  style="width:60px">
                            </p:selectBooleanCheckbox>
                            <br/>
                            <h:outputLabel value="Fortalecimiento Muscular (D'Lormen): " />
                            <p:selectBooleanCheckbox id="value19" value="#{historiaClinicaController.et8}"  style="width:60px">
                            </p:selectBooleanCheckbox>
                            <br/>
                            <h:outputLabel value="Ejercico de Artritis (Kathboom): " />
                            <p:selectBooleanCheckbox id="value21" value="#{historiaClinicaController.et10}"  style="width:60px">
                            </p:selectBooleanCheckbox>
                            <br/>
                            <h:outputLabel value="Propiocepcion: " />
                            <p:selectBooleanCheckbox id="value23" value="#{historiaClinicaController.et12}"  style="width:60px">
                            </p:selectBooleanCheckbox>
                            <br/>
                            <h:outputLabel value="Paralelas: " />
                            <p:selectBooleanCheckbox id="value25" value="#{historiaClinicaController.et14}"  style="width:60px">
                            </p:selectBooleanCheckbox>
                            <br/>
                            <h:outputLabel value="Rueda de Hombro: " />
                            <p:selectBooleanCheckbox id="value27" value="#{historiaClinicaController.et16}"  style="width:60px">
                            </p:selectBooleanCheckbox>
                            <br/>
                            <h:outputLabel value="Colchonetas y Escalera Sueca: " />
                            <p:selectBooleanCheckbox id="value29" value="#{historiaClinicaController.et18}"  style="width:60px">
                            </p:selectBooleanCheckbox>
                            <br/>
                            <h:outputLabel value="Caminadora: " />
                            <p:selectBooleanCheckbox id="value31" value="#{historiaClinicaController.et20}"  style="width:60px">
                            </p:selectBooleanCheckbox>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <p:outputLabel styleClass="labelFormularioBold" style="width: 150px;" value="Precacución y/o indicaciones especiales:" rendered="#{historiaClinicaController.modificaAtencionTf}"/>
                            <p:inputTextarea rows="10" cols="50" value="#{historiaClinicaController.obsTf}" rendered="#{historiaClinicaController.modificaAtencionTf}"/>
                        </td>
                    </tr>
                </table>    


                <br/>
                <p:commandButton icon="ui-icon-disk" value="Guardar Sesiones"
                                 actionListener="#{historiaClinicaController.guardarTerapiasTf}" 
                                 update="@form" rendered="#{historiaClinicaController.modificaAtencionTf}"/>
                <p:commandButton icon="ui-icon-disk" value="Actualizar Tratamientos"
                                 actionListener="#{historiaClinicaController.actualizarTerapias}" 
                                 update="@form" rendered="#{!historiaClinicaController.modificaAtencionTf}"/>
                <br/>

            </p:dialog>



        
            <p:dialog id="IdVisualizaTratamientos" header="SESIÓN SELECCIONADA" widgetVar="dialogoTratamientos" resizable="false" modal="true">  
                <p:row>
                    <p:dataTable  id="viewIndications" 
                                  style="width: 500px; table-layout: fixed; word-wrap: break-word;"
                                  var="selected" 
                                  value="#{historiaClinicaController.atencionTfSeleccionada}"
                                 rowKey="#{selected.id}"  >
                        <p:column headerText="PRECAUCIONES Y/O INDICACIONES ESPECIALES" width="200"> #{selected.observacion}  </p:column>
                    </p:dataTable>
                    <br></br>
                    <p:dataTable  id="tratamientosSoluciones" 
                                  value="#{historiaClinicaController.getMyHashMapEntryListTf()}" 
                                  var="trat" 
                                  style="width: 500px; table-layout: fixed; word-wrap: break-word;">
                        <p:column headerText="TRATAMIENTOS" width="200">#{trat.value}</p:column>
                    </p:dataTable>
                    <br></br>
                    <table>
                        <tr>                   
                            <td><p:outputLabel value="AGREGAR OBSERVACIONES DE SESIÓN ACTUAL" /></td>
                        </tr>
                        <tr>
                            <td><p:inputTextarea id="addObs" styleClass="widthObs" value="#{historiaClinicaController.notas}"/></td>
                        </tr>   
                    </table>
                </p:row>
                <p:panelGrid id="panelCierraTratamientos" styleClass="panelGridSinBordes" columns="2">
                    <p:row>
                        <p:column>
                            <p:commandButton 
                                icon="ui-icon-check"
                                value="Finalizar Sesión" 
                                oncomplete="PF('dialogoTerminaSesion').show()"/>
                        </p:column>
                        <p:column>
                            <p:commandButton 
                                icon="ui-icon-close"
                                value="Cerrar" 
                                oncomplete="PF('dialogoTratamientos').hide();"/>
                        </p:column>
                    </p:row>
                </p:panelGrid>
            </p:dialog>
        </h:form>
    </h:body>
</html>
