<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:p="http://primefaces.org/ui">
    <h:head>
        <title>Facelet Title</title>
    </h:head>
    <h:body>
        <p:dialog  header="Seleccionar Texto Predefinido" dynamic="true" id="dialogTexto"  widgetVar="dlgTexto"  resizable="false" closable="true" style="width: 80%">
             <p:dataTable id="eventsDT" 
                          var="texto"
                          value="#{historiaClinicaController.listaTextos}" 
                          selectionMode="single"
                          selection="#{historiaClinicaController.textoSeleccionado}" 
                          rowKey="#{texto.id}"
                          emptyMessage="No se ha encontrado registros"
                          >
                 <p:ajax event="rowSelect" immediate="true" 
                         listener="#{historiaClinicaController.textoPredefinidoSeleccionado}" oncomplete="PF('dlgTexto').hide()" />
                <p:column headerText="Texto">
                    <h:outputText value="#{texto.valor}" />
                </p:column>
            </p:dataTable>
        </p:dialog>
    </h:body>
</html>

