<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:p="http://primefaces.org/ui"
      xmlns:f="http://java.sun.com/jsf/core" 
      xmlns:pe="http://primefaces.org/ui/extensions">  
    <h:head>        
        <title>Pacientes</title>
        <link href="../recursos/css/estilos.css" rel="stylesheet"/>        
        <a href="pacientes.xhtml"></a>
        <link href="../recursos/css/metro-bootstrap.css" rel="stylesheet"/>
        <link href="../recursos/css/iconFont.css" rel="stylesheet"/>        
        <link href="//fonts.googleapis.com/css?family=Comfortaa" rel="stylesheet" />

        <script type="text/javascript" src="../recursos/js/calendario.js"></script>          
        <script type="text/javascript">
           function valida(e){
                tecla = (document.all) ? e.keyCode : e.which;

                //Tecla de retroceso para borrar, siempre la permite
                if (tecla==8){
                    return true;
                }

                // Patron de entrada, en este caso solo acepta numeros
                patron =/[0-9]/;
                tecla_final = String.fromCharCode(tecla);
                return patron.test(tecla_final);
            }
            $(document).keypress(
                    function (event) {
                        if (event.which == '13') {
                            event.preventDefault();
                        }
                    });
        </script>

    </h:head>
    <h:body>             
        #{pacienteController.init()}
        <h:form id="IdFormPrincipal">              
            <p:growl id="IdMensajePacientes"  showDetail="true" sticky="false" autoUpdate="true" life="2000"  />            
           
            <br/>
            <div>
 
                <p:commandButton 
                    title="Limpiar Formulario" value="&nbsp;"                                        
                    styleClass="icon-new bg-white no-border"
                    update="IdFormPrincipal"
                    process="@this" actionListener="#{pacienteController.limpiarNuevoRegistro}"           
                    style="color: #163357; font-size: 20px; width: 30px; height: 30px; left: 20px; padding: 3px; border-radius: 0.3em; "/>
                &nbsp;
                <p:commandButton 
                    title="Buscar" value="&nbsp;"                                        
                    styleClass="icon-search bg-white no-border" 
                    oncomplete="PF('dialogoBuscarPaciente').show()"
                    process="@this" 
                    style="color: #163357; font-size: 20px; width: 30px; height: 30px; left: 20px; padding: 3px; border-radius: 0.3em; "/>
                &nbsp;
                <p:commandButton                     
                    title="Eliminar paciente" value="&nbsp;"                                        
                    styleClass="icon-cancel bg-white no-border" 
                    oncomplete="PF('dialogoEliminarPaciente').show()"
                    style="color: #163357; font-size: 20px; width: 30px; height: 30px; left: 20px; padding: 3px; border-radius: 0.3em; "/>
                &nbsp;
                <p:commandButton 
                    title="Guardar/Actualizar paciente" value="&nbsp;"
                    styleClass="icon-floppy bg-white no-border" 
                    update="IdFormPrincipal IdTabView :buscar_paciente:IdDialogoBuscarPaciente"
                    actionListener="#{pacienteController.guardarPaciente}"                    
                    style="color: #163357; font-size: 20px; width: 30px; height: 30px; left: 20px; padding: 3px; border-radius: 0.3em; "/>
                &nbsp;
            </div>
            <br/>            
            
            <p:tabView style=" width: 99%;" activeIndex="#{pacienteController.tabActiva}" id="IdTabView" > 
                <p:tab title="#{pacienteController.tituloTab}">  
                    <table style="margin: 60px;">
                        <tr>                   
                            <td style="vertical-align: top;">
                                <table >
                                    <tr>                           
                                        <td style="padding: 5px;">
                                            <p:outputLabel   styleClass="campoObligatorio" value="Tipo Identificación"/>
                                            <p:selectOneMenu id="tipoIdentificacion" styleClass="campoFormulario" style="width: 120px;" value="#{pacienteController.tipoIdentificacion}">
                                                <f:selectItems value="#{genericoController.listaTipoIdentificacion}" />
                                                <p:ajax event="change" process="tipoIdentificacion,identificacion" update=":IdFormPrincipal" listener="#{pacienteController.crearCodigoIdentificacion()}"/>
                                            </p:selectOneMenu>
                                            
                                            <p:outputLabel   styleClass="campoObligatorio" value="Identificación"/>                                           
                                            <p:inputText 
                                                rendered="#{pacienteController.nuevoRegistro}"
                                                id="identificacion" styleClass="campoFormulario" value="#{pacienteController.identificacion}" onkeypress="return valida(event)">  
                                                <p:ajax event="blur" process="tipoIdentificacion,identificacion" update=":IdFormPrincipal" listener="#{pacienteController.validarIdentificacion}"/>
                                            </p:inputText> 
                                            
                                            <p:inputText 
                                                rendered="#{!pacienteController.nuevoRegistro}"
                                                id="identificacionEdita" styleClass="campoFormulario" value="#{pacienteController.identificacion}"
                                                onkeypress="return valida(event)">  
                                            </p:inputText> 

                                            
                                        </td>
                                    </tr>
                                    <tr>
                                        <td style="padding: 5px;">
                                            <p:outputLabel   styleClass="campoObligatorio" value="Fecha de Nacimiento"/>
                                            <p:calendar styleClass="campoFormulario" yearRange="c-100:c+100" navigator="true" mask="true" locale="es" pattern="dd/MM/yyyy" maxdate="#{pacienteController.fechaMaxima}" value="#{pacienteController.fechaNacimiento}" size="14">
                                                <p:ajax 
                                                    event="dateSelect"
                                                    listener="#{pacienteController.cambiaFechaNacimiento(event)}"
                                                    rendered="IdEdad"/> 
                                                <p:ajax 
                                                    event="change"
                                                    listener="#{pacienteController.cambiaFechaNacimiento(event)}"
                                                    rendered="IdEdad"/> 
                                            </p:calendar>
                                            <p:outputLabel   styleClass="campoNoObligatorio" value="Edad: "/>
                                            <p:outputLabel   styleClass="campoNoObligatorio" id="IdEdad" value="#{pacienteController.edad}" style="width: 72px;" />
                                        </td>
                                    </tr>
                                    <tr>
                                        <td style="padding: 5px;">   
                                            <p:outputLabel   styleClass="campoNoObligatorio" value="Grupo Sanguíneo"/> 
                                            <p:selectOneMenu styleClass="campoFormulario" style="width: 180px" value="#{pacienteController.grupoSanguineo}">                                                    
                                                <f:selectItems value="#{genericoController.listaGrupoSanguineo}" />
                                            </p:selectOneMenu>
                                            
                                            <p:outputLabel   styleClass="campoObligatorio" value="Sexo"/>
                                            <p:selectOneMenu styleClass="campoFormulario" style="width: 150px;" value="#{pacienteController.genero}">                                    
                                                <f:selectItems value="#{genericoController.listaGenero}" />
                                                <p:ajax  
                                                    event="change"
                                                    listener="#{pacienteController.seleccionGenero}"
                                                     update="IdGestacion"/> 
                                            </p:selectOneMenu>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td style="padding: 5px;">   
                                            <p:outputLabel styleClass="campoObligatorio" value="Nombres"/>
                                            <p:inputText id="primerNombre" styleClass="campoFormulario"  size="18" value="#{pacienteController.primerNombre}" style="text-transform: uppercase">
                                                <p:ajax update="primerNombre"/>
                                            </p:inputText>
                                            <p:inputText id="segundoNombre" styleClass="campoFormulario" size="18" value="#{pacienteController.segundoNombre}" style="text-transform: uppercase">
                                                <p:ajax update="segundoNombre"/>
                                            </p:inputText>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td style="padding: 5px;">   
                                            <p:outputLabel styleClass="campoObligatorio" value="Apellidos"/>                                            
                                            <p:inputText id="primerApellido" styleClass="campoFormulario" size="18" value="#{pacienteController.primerApellido}" style="text-transform: uppercase">
                                                <p:ajax update="primerApellido"/>
                                            </p:inputText>
                                            <p:inputText id="segundoApellido" styleClass="campoFormulario" size="18" value="#{pacienteController.segundoApellido}" style="text-transform: uppercase">
                                                <p:ajax update="segundoApellido"/>
                                            </p:inputText>
                                        </td>
                                    </tr>
                                    <tr >
                                        <td style="padding: 5px;">   
                                            <p:outputLabel   styleClass="campoObligatorio" value="Nacionalidad"/>
                                            <p:selectOneMenu styleClass="campoFormulario" style="width: 180px;" value="#{pacienteController.nacionalidad}">    
                                                <f:selectItems value="#{genericoController.listaNacionalidad}" />
                                            </p:selectOneMenu>

                                            <p:outputLabel  id="out_civil" styleClass="campoNoObligatorio" value="Estado civil" /> 
                                            <p:selectOneMenu styleClass="campoFormulario" id="civil" style="width: 130px;" value="#{pacienteController.estadoCivil}" >
                                                <f:selectItem itemLabel="" itemValue=""/>
                                                <f:selectItems value="#{genericoController.listaEstadoCivil}" />
                                            </p:selectOneMenu>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td style="padding: 5px;">   
                                            <p:outputLabel   styleClass="campoNoObligatorio" value="Celular"/> 
                                            <p:inputMask id="celular" styleClass="campoFormulario" value="#{pacienteController.celular}" mask="(999) 999-9999" size="20">
                                                <p:ajax update="celular" />
                                            </p:inputMask>
                                                                  
                                            <p:outputLabel     styleClass="campoNoObligatorio" for="email" value="Email"/>                                                
                                            <p:inputText  id="email" value="#{pacienteController.email}" size="30" >
                                                <p:ajax update="email"/>
                                            </p:inputText>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td style="padding: 5px;">
                                            <p:outputLabel   styleClass="campoNoObligatorio" value="Dirección"/> 
                                            <p:inputText  id="direcc"   styleClass="campoFormulario" value="#{pacienteController.direccion}" size="56" style="text-transform: uppercase">
                                                <p:ajax update="direcc"/>
                                            </p:inputText>
                                        </td>
                                    </tr>                  
                                </table> 
                            </td>
                        </tr>
                    </table>
                </p:tab>
                <p:tab title="Datos adicionales">  
                    <table style="margin: 60px;">
                        <tr>
                            <td style="padding: 5px;">   
                                <p:outputLabel   styleClass="campoNoObligatorio" value="Orientación Sexual"/>
                                <p:selectOneMenu styleClass="campoFormulario" style="width: 150px;" value="#{pacienteController.orientacionSexual}"> 
                                    <f:selectItem itemLabel="" itemValue=""/>
                                    <f:selectItems value="#{genericoController.listaOrientacionSexual}" />
                                </p:selectOneMenu>

                                <p:outputLabel   styleClass="campoNoObligatorio" value="Identidad de Género"/>
                                <p:selectOneMenu styleClass="campoFormulario" style="width: 150px;" value="#{pacienteController.identidadGenero}">
                                    <f:selectItem itemLabel="" itemValue=""/>
                                    <f:selectItems value="#{genericoController.listaIdentidadGenero}" />
                                </p:selectOneMenu>
                            </td>
                        </tr>
                        <tr>
                            <td style="padding: 5px;">
                                <p:outputLabel   styleClass="campoNoObligatorio" value="Teléfono Fijo"/>
                                <p:inputMask id="celular1" styleClass="campoFormulario" value="#{pacienteController.telefonoResidencia}" mask="9-999 999" size="20">
                                    <p:ajax update="celular1" />
                                </p:inputMask>
                                <p:outputLabel   styleClass="campoNoObligatorio" value="Teléfono Vecino/Familiar"/>
                                <p:inputMask id="celular2" styleClass="campoFormulario" value="#{pacienteController.telefonoOficina}" mask="9-999 999" size="20">
                                    <p:ajax update="celular2" />
                                </p:inputMask>
                            </td>
                        </tr>
                        <tr>
                            <td style="padding: 5px;">                                   
                                <p:outputLabel   styleClass="campoNoObligatorio" value="Provincia"/>
                                <p:selectOneMenu styleClass="campoFormulario" style="width: 150px;" value="#{pacienteController.provincia}" filter="true" filterMatchMode="contains">
                                    <f:ajax 
                                        event="change"
                                        listener="#{pacienteController.cargarCanton}"                                                
                                        render="IdCanton"/> 
                                    <f:selectItem itemLabel="" itemValue=""/>
                                    <f:selectItems value="#{genericoController.listaProvincia}" />
                                </p:selectOneMenu>

                                <p:outputLabel     styleClass="campoNoObligatorio" value="Cantón"/>
                                <p:selectOneMenu   styleClass="campoFormulario" id="IdCanton" style="width: 140px;" value="#{pacienteController.canton}" filter="true" filterMatchMode="contains">
                                    <f:ajax 
                                        event="change"
                                        listener="#{pacienteController.cargarParroquias()}"                                                
                                        render="IdParroquias"/> 
                                    <f:selectItems value="#{pacienteController.listaCanton}" />
                                </p:selectOneMenu>

                                <p:outputLabel     styleClass="campoNoObligatorio" value="Parroquia"/>
                                <p:selectOneMenu   styleClass="campoFormulario"  id="IdParroquias" style="width: 140px;" value="#{pacienteController.zona}" filter="true" filterMatchMode="contains">
                                    <f:selectItems value="#{pacienteController.listaParroquia}" />
                                </p:selectOneMenu>

                                <p:outputLabel     styleClass="campoNoObligatorio" value="Barrio/Sector/Recinto"/>                                            
                                <p:inputText id="barrio" styleClass="campoFormulario" size="18" value="#{pacienteController.barrio}" style="text-transform: uppercase">
                                </p:inputText>
                            </td>
                        </tr>
                        <tr>
                            <td style="padding: 5px;">
                                <p:outputLabel   styleClass="campoNoObligatorio" value="Nacionalidades o Pueblos"/>
                                <p:selectOneMenu styleClass="campoFormulario" style="width: 125px;" value="#{pacienteController.nacionalidades}">    
                                    <f:selectItem itemLabel="" itemValue=""/>
                                    <f:selectItems value="#{genericoController.listaNacionalidades}" />
                                </p:selectOneMenu>
                                
                                <p:outputLabel   styleClass="campoNoObligatorio" value="Etnia"/> 
                                <p:selectOneMenu styleClass="campoFormulario" style="width: 170px;" value="#{pacienteController.etnia}">
                                    <f:selectItem itemLabel="" itemValue=""/>
                                    <f:selectItems value="#{genericoController.listaEtnia}" />
                                </p:selectOneMenu>

                            </td>
                        </tr>
                        <tr>
                            <td style="padding: 5px;">
                                 <p:outputLabel   styleClass="campoNoObligatorio" value="Gestación"/>
                                <p:selectOneMenu styleClass="campoFormulario" style="width: 175px;"
                                                 disabled="#{!pacienteController.tieneGestacion}" id="IdGestacion"
                                                 value="#{pacienteController.gestacion}" filter="true" filterMatchMode="contains">
                                    <f:selectItem itemLabel="" itemValue=""/>
                                    <f:selectItems value="#{genericoController.listaGestacion}" />
                                    <p:ajax  
                                        event="change"
                                        listener="#{pacienteController.seleccionGestacion()}"
                                        update="idsemana"/> 
                                </p:selectOneMenu> 
                                 
                                 <p:outputLabel   styleClass="campoNoObligatorio" value="Semana de Gestación"/>
                                 <p:inputText  id="idsemana"  disabled="#{!pacienteController.estaenGestacion}" styleClass="campoFormulario" value="#{pacienteController.semanagestacion}" size="37" style="text-transform: uppercase"/>
                            </td>
                        </tr>
                        <tr>
                            <td style="padding: 5px;">
                                <p:outputLabel   styleClass="campoNoObligatorio" value="Grupo Prioritarios"/>
                                <p:selectCheckboxMenu id="check" styleClass="campoFormulario"  value="#{pacienteController.gruposprioritarios}" filter="true" filterMatchMode="contains" label="Seleccione..." style="width: 300px">
                                    
                                    <f:selectItems value="#{genericoController.listaGruposPrioritarios}" />
                                    
                                </p:selectCheckboxMenu >
                           
                            
                                <p:outputLabel  styleClass="campoNoObligatorio"  value="Aporta o es Afiliado al:"/>
                                <p:selectOneMenu  style="width: 200px;" value="#{pacienteController.tipoAfiliado}">
                                    <f:selectItem itemLabel="" itemValue=""/>
                                    <f:selectItems value="#{genericoController.listaAfiliado}" />
                                </p:selectOneMenu>
                             </td>
                        </tr>
                       
                        <tr>
                            <td style="padding: 5px;"> 
                                <p:outputLabel   styleClass="campoNoObligatorio" value="Observaciones"/>
                                <p:inputTextarea value="#{pacienteController.observaciones}" style="width: 633px;text-transform: uppercase" />
                            </td>       
                        </tr>
                    </table>
                </p:tab>
                <p:tab title="Datos responsable">  
                    <table style="margin: 60px;">                        
                        <tr>
                            <td style="padding: 5px;">                                 
                                <p:outputLabel   styleClass="campoNoObligatorio" value="Responsable"/>
                                <p:inputText     styleClass="campoFormulario" value="#{pacienteController.responsable}" size="35" style="text-transform: uppercase"/>
                            </td>
                        </tr>
                        <tr>
                            <td style="padding: 5px;">
                                <p:outputLabel   styleClass="campoObligatorio" value="Tipo Identificación"/>
                                <p:selectOneMenu id="tipoIdentificacion2" styleClass="campoFormulario" style="width: 80px;" value="#{pacienteController.tipoIdentificacionRepresentante}">                                    
                                        <f:selectItems value="#{genericoController.listaTipoIdentificacion}" />
                                    </p:selectOneMenu>
                                            
                                <p:outputLabel   styleClass="campoObligatorio" value="Identificación"/>                                           
                                <p:inputText 
                                    rendered="#{pacienteController.nuevoRegistro}"
                                    id="identificacion2" styleClass="campoFormulario" value="#{pacienteController.identificacionRepresentante}">  
                                    
                                </p:inputText>
                            </td>
                        </tr>
                        <tr>
                            <td style="padding: 5px;">
                                <p:outputLabel   styleClass="campoNoObligatorio" value="Teléfono Responsable" />
                                <p:inputMask id="celular4" styleClass="campoFormulario" value="#{pacienteController.telefonoResponsable}" mask="(999) 999-9999" size="18">
                                    <p:ajax update="celular4" />
                                </p:inputMask>
                                
                                <p:outputLabel   styleClass="campoNoObligatorio" value="Parentesco" />
                                <p:selectOneMenu styleClass="campoFormulario" style="width: 175px;" value="#{pacienteController.parentesco}" filter="true" filterMatchMode="contains">
                                    <f:selectItem itemLabel="" itemValue=""/>
                                    <f:selectItems value="#{genericoController.listaParentesco}" />
                                </p:selectOneMenu>                                
                            </td> 
                        </tr>
                    </table>
                </p:tab>
                <p:tab title="Datos acompañante">  
                    <table style="margin: 60px;">
                        <tr>
                            <td style="padding: 5px;">
                                <p:outputLabel   styleClass="campoNoObligatorio" value="Acompañante"/>
                                <p:inputText     styleClass="campoFormulario" value="#{pacienteController.acompanante}" size="37" style="text-transform: uppercase"/>
                            </td>
                        </tr>
                        <tr>
                            <td style="padding: 5px;">
                                <p:outputLabel   styleClass="campoNoObligatorio" value="Teléfono acompañante" />
                                <p:inputMask id="celular5" styleClass="campoFormulario" value="#{pacienteController.telefonoAcompanante}" mask="(999) 999-9999" size="20">
                                    <p:ajax update="celular5" />
                                </p:inputMask>
                                <p:outputLabel   styleClass="campoNoObligatorio" value="Parentesco" />
                                <p:selectOneMenu styleClass="campoFormulario" style="width: 175px;" value="#{pacienteController.parentesco_a}" filter="true" filterMatchMode="contains">
                                    <f:selectItem itemLabel="" itemValue=""/>
                                    <f:selectItems value="#{genericoController.listaParentesco}" />
                                </p:selectOneMenu>               
                            </td>
                        </tr>
                    </table>
                </p:tab>
            </p:tabView>   
            <p:dialog id="IdDialogoEliminarPaciente" header="ELIMINAR PACIENTE" widgetVar="dialogoEliminarPaciente" resizable="false" modal="true">  
                <p:panelGrid id="panelEliminarPaciente" styleClass="panelGridSinBordes" columns="1">
                    <p:row>
                        <p:column colspan="2">
                            <h:outputText value="¿ Confirma La eliminacion de este paciente?"/>
                        </p:column>
                    </p:row>
                    <p:row>
                        <p:column>
                            <p:commandButton 
                                value="Eliminar" 
                                oncomplete="PF('dialogoEliminarPaciente').hide();"
                                actionListener="#{pacienteController.eliminarPaciente}"                        
                                update=":IdFormPrincipal"/>
                            <p:commandButton 
                                value="Cancelar" 
                                oncomplete="PF('dialogoEliminarPaciente').hide();"/>
                        </p:column>
                    </p:row>
                </p:panelGrid>
            </p:dialog> 
        </h:form>
        <h:form id="buscar_paciente">
            <p:dialog id="IdDialogoBuscarPaciente" header="Buscar paciente" widgetVar="dialogoBuscarPaciente" resizable="false" modal="true">  
                <p:ajax update="IdTablaPacientes"/>
                <table>
                    <tr>
                        <td style="padding: 5px;">
                            <p:dataTable 
                                id="IdTablaPacientes" 
                                var="paciente" 
                                widgetVar="wvTablaPacientes"
                                value="#{pacienteController.listPacientes}" 
                                rowKey="#{paciente.idPaciente}"  
                                selection="#{pacienteController.pacienteSeleccionadoTabla}" 
                                paginator="true"
                                style="width: 600px; height: 300px;"
                                rows="10"                                    
                                paginatorPosition="bottom"                                
                                emptyMessage="No hay pacientes"
                                scrollable="true" 
                                currentPageReportTemplate="Mostrando {startRecord}-{endRecord} de {totalRecords}"
                                paginatorTemplate="{CurrentPageReport} {FirstPageLink} {PreviousPageLink} {PageLinks} {NextPageLink} {LastPageLink} {RowsPerPageDropdown}"                                
                                pageLinks="5"
                                lazy="true"
                                selectionMode="single"
                                resizableColumns="true">                                                               
                                <p:column headerText="ID" width="0" >  
                                    #{paciente.idPaciente}  
                                </p:column>
                                <p:column headerText="IDENTIFICACION" width="10" filterBy="#{paciente.identificacion}">
                                    #{paciente.identificacion}
                                </p:column>
                                <p:column headerText="NOMBRES" width="90" filterBy="#{paciente.primerNombre}">
                                    #{paciente.primerNombre} #{paciente.segundoNombre} #{paciente.primerApellido} #{paciente.segundoApellido}
                                </p:column>
                            </p:dataTable>  
                        </td>    
                    </tr>
                    <tr>
                        <td style="padding: 5px;">
                            <br/>
                            <p:commandButton 
                                value="Cargar seleccionado"
                                oncomplete="PF('dialogoBuscarPaciente').hide(); PF('wvTablaPacientes').clearFilters(); PF('wvTablaPacientes').getPaginator().setPage(0);"                                 
                                actionListener="#{pacienteController.cargarPaciente}"/>
                        </td>    
                    </tr>
                </table>
            </p:dialog> 
            </h:form> 
    </h:body>
</html>