<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:p="http://primefaces.org/ui"
      xmlns:f="http://java.sun.com/jsf/core" 
      xmlns:pe="http://primefaces.org/ui/extensions"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets">  
    <h:head>        
        <title>Historia Clinicas Campos Predefinidos</title>
        <link href="../recursos/css/estilos.css" rel="stylesheet"/>        
        <link href="../recursos/css/metro-bootstrap.css" rel="stylesheet"/>
        <link href="../recursos/css/iconFont.css" rel="stylesheet"/>
        <link href="//fonts.googleapis.com/css?family=Comfortaa" rel="stylesheet" />
        <script type="text/javascript" src="../recursos/js/calendario.js"></script>          
        <script type="text/javascript">
            function valida(e) {
                tecla = (document.all) ? e.keyCode : e.which;

                //Tecla de retroceso para borrar, siempre la permite
                if (tecla == 8) {
                    return true;
                }

                // Patron de entrada, en este caso solo acepta numeros
                patron = /[0-9]/;
                tecla_final = String.fromCharCode(tecla);
                return patron.test(tecla_final);
            }
            $(document).keypress(
                    function (event) {
                        if (event.which == '13') {
                            event.preventDefault();
                        }
                    });
        </script>

    </h:head>
    <h:body>             
        #{detalleHistoriaController.init()}
        <h:form id="IdFormPrincipal">              
            <p:growl id="IdCamposPredefinidos"  showDetail="true" sticky="false" autoUpdate="true" life="2000"  />            
            <!--===================================================================================-->
            <br/>
            <div>

                <p:commandButton 
                    title="Limpiar Formulario" value="&nbsp;"                                        
                    styleClass="icon-new bg-white no-border"
                    update="IdFormPrincipal"
                    process="@this"
                    actionListener="#{detalleHistoriaController.nuevo}"
                    style="color: #163357; font-size: 20px; width: 30px; height: 30px; left: 20px; padding: 3px; border-radius: 0.3em; "/>
                &nbsp;
                <p:commandButton 
                    title="Buscar" value="&nbsp;"                                        
                    styleClass="icon-search fg-lightBlue bg-white no-border" 
                    process="@this"  
                    rendered="false"
                    oncomplete="PF('dialogoBuscarCampos').show()"
                    style="font-size: 20px; width: 20px; height: 20px; left: 20px; "/> 
                &nbsp;
                <p:commandButton                     
                    title="Eliminar Campo" value="&nbsp;"                                        
                    styleClass="icon-cancel fg-lightBlue bg-white no-border" 
                    process="@this"
                    rendered="false"
                    actionListener="#{detalleHistoriaController.eliminar}"
                    update="IdFormPrincipal IdDialogoBuscarCampo"
                    style="font-size: 20px; width: 20px; height: 20px; left: 20px; "/> 
                &nbsp;
                <p:commandButton 
                    title="Guardar/Actualizar Campos" value="&nbsp;"
                    rendered="false"
                    actionListener="#{detalleHistoriaController.guardar}"
                    styleClass="icon-floppy fg-lightBlue bg-white no-border" 
                    style="font-size: 20px; width: 20px; height: 20px; left: 20px; "/>                            
                &nbsp;
            </div>
            <br/>            
            <p:outputPanel id="opFormulario">
                <table style="margin-left: auto; margin-right: auto; border: 2px;">                        
                    <tr>                            
                        <td >
                            <p:outputLabel styleClass="campoObligatorio" value="Historia Clinica" />
                        </td>
                        <td >
                            <p:outputLabel styleClass="campoObligatorio" value="Campo " />
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <p:selectOneMenu filterMatchMode="contains" filter="true" id="historia" styleClass="campoFormulario" style="width: 350px;" value="#{detalleHistoriaController.idHcTipoReg}">                                    
                                <f:selectItem itemValue="0" itemLabel="Seleccion Historia Clínica" />
                                <f:selectItems value="#{detalleHistoriaController.listaHistoriasClinicas}" var="hc" itemLabel="#{hc.nombre}" itemValue="#{hc.idTipoReg}"/>
                                <p:ajax listener="#{detalleHistoriaController.cargarCampos}" process="@this" event="change" update="camposHistoria,opValores,opAgregar,opAgregarLabel" />
                            </p:selectOneMenu> 
                        </td>
                        <td>
                            <p:selectOneMenu filterMatchMode="contains" filter="true" id="camposHistoria" styleClass="campoFormulario" style="width: 350px;" value="#{detalleHistoriaController.idCampo}">                                    
                                <f:selectItem itemValue="0" itemLabel="Seleccion un campo de  Historia Clínica" />
                                <f:selectItems value="#{detalleHistoriaController.listaCamposHistorias}" var="campo" itemLabel="#{campo.nombre}" itemValue="#{campo.idCampo}" />
                                <p:ajax listener="#{detalleHistoriaController.cargarCamposHistorias}" event="change" update="opValores,opAgregar,opAgregarLabel"/>
                            </p:selectOneMenu>
                        </td>
                    </tr>
                    
                    <tr>
                        <td>
                            <p:outputPanel id="opAgregar">
                            <p:commandButton icon="ui-icon-check"
                                             value="Agregar"
                                             process="@this" 
                                             id="btnAgregar"
                                             rendered="#{detalleHistoriaController.renderAgregar}"
                                             oncomplete="PF('dialogoNuevoValor').show()">
                            </p:commandButton>
                                </p:outputPanel>
                        </td>
                    </tr>
                    <tr>
                        <td >
                            <p:outputPanel id="opAgregarLabel">
                            <p:outputLabel styleClass="campoObligatorio" value="Valores Predefinidos " rendered="#{detalleHistoriaController.renderAgregar}" />
                            </p:outputPanel>
                        </td>
                    </tr>
                        
                    <tr>
                        <td colspan="2">
                            <p:outputPanel id="opValores">
                                <p:dataTable 
                                    id="idTablaCamposValores" 
                                    var="campo" 
                                    rendered="#{detalleHistoriaController.renderAgregar}"
                                    widgetVar="wvTablaCampos"
                                    value="#{detalleHistoriaController.listaValores}" 
                                    paginator="true"
                                    style="width: 700px; height: 300px;"
                                    rows="10"                                    
                                    paginatorPosition="bottom"                                
                                    emptyMessage="No hay campos"
                                    scrollable="true" 
                                    currentPageReportTemplate="Mostrando {startRecord}-{endRecord} de {totalRecords}"
                                    paginatorTemplate="{CurrentPageReport} {FirstPageLink} {PreviousPageLink} {PageLinks} {NextPageLink} {LastPageLink} {RowsPerPageDropdown}"                                
                                    pageLinks="5"
                                    lazy="true"
                                    resizableColumns="true">                                                               
                                    <p:column headerText="Valores" filterBy="#{campo.valor}  " >  
                                        #{campo.valor}  
                                    </p:column>
                                    <p:column headerText="Default" width="30px;" >  
                                        <p:selectBooleanCheckbox  value="#{campo.defaultValor}" >
                                            <p:ajax listener="#{detalleHistoriaController.setDefault(campo)}"  update="idTablaCamposValores" onstart="PF('statusDialog').show()" onsuccess="PF('statusDialog').hide();"/>
                                        </p:selectBooleanCheckbox>
                                    </p:column>
                                    <p:column headerText="Acciones"  >  
                                        <p:commandButton styleClass="icon-pencil fg-lightBlue"  title="Editar" value=""  process="@this" actionListener="#{detalleHistoriaController.editar(campo)}"/>&nbsp;
                                        <p:commandButton styleClass="icon-cancel fg-lightBlue"  title="Eliminar" value=""  process="@this" actionListener="#{detalleHistoriaController.eliminar(campo)}" >
                                               <p:confirm header="Confirmación" message="¿Seguro desea eliminar el valor ?" icon="ui-icon-alert" />
                                        </p:commandButton> &nbsp;
                                    </p:column>
                                </p:dataTable> 
                            </p:outputPanel>
                        </td>
                    </tr>
                </table>
            </p:outputPanel>
            <p:ajaxStatus onstart="PF('statusDialog').show()" onsuccess="PF('statusDialog').hide()" />
        <p:dialog widgetVar="statusDialog" modal="true" draggable="false" closable="false" resizable="false" showHeader="false">
            <p:graphicImage url="/recursos/ejecucion/loading.gif" width="32" height="32"/>
        </p:dialog>
            <p:dialog id="IdValorNuevo" header="Nuevo Valor" widgetVar="dialogoNuevoValor" resizable="false" modal="true">  
                <h:form id="formularioNuevoValor">
                    <table>
                        <tr>
                            <td><p:outputLabel styleClass="campoObligatorio" value="Valor " /></td>
                        </tr>
                        <tr>
                            <td> <p:inputTextarea  required="true" requiredMessage="Digite valor"  styleClass="campoFormulario" rows="10" cols="30"  style="width: 350px;"   value="#{detalleHistoriaController.valor}"/></td>
                        </tr>
                        <tr>
                            <td>
                                <p:commandButton icon="ui-icon-disk"
                                                 value="Guardar"
                                                 process="formularioNuevoValor" 
                                                 
                                                 actionListener="#{detalleHistoriaController.guardarValor}"
                                                 >
                                </p:commandButton>
                                &nbsp;&nbsp;
                                <p:commandButton icon="ui-icon-close"
                                                 value="Cancelar"
                                                 process="@this" 
                                                 oncomplete="PF('dialogoNuevoValor').hide()"
                                                 update="formularioNuevoValor"
                                                 actionListener="#{detalleHistoriaController.cancelarValor}"
                                                 >
                                </p:commandButton>
                            </td>
                        </tr>
                    </table>
                    <p:confirmDialog global="true" showEffect="fade" hideEffect="fade">
                        <p:commandButton value="Yes" type="button" styleClass="ui-confirmdialog-yes" icon="ui-icon-check" />
                        <p:commandButton value="No" type="button" styleClass="ui-confirmdialog-no" icon="ui-icon-close" />
                    </p:confirmDialog>
                </h:form>
            </p:dialog>
            <p:dialog id="IdDialogoBuscarCampo" header="Buscar Campos" widgetVar="dialogoBuscarCampos" resizable="false" modal="true">  
                <p:ajax update="idTablaCampos"/>
                <table>
                    <tr>
                        <td>
                            <p:dataTable 
                                id="idTablaCampos" 
                                var="campo" 
                                widgetVar="wvTablaCampos"
                                value="#{detalleHistoriaController.listaCampos}" 
                                rowKey="#{campo.id}"  
                                selection="#{detalleHistoriaController.cnHistoriaCamposPredefinidos}" 
                                paginator="true"
                                style="width: 600px; height: 300px;"
                                rows="10"                                    
                                paginatorPosition="bottom"                                
                                emptyMessage="No hay campos"
                                scrollable="true" 
                                currentPageReportTemplate="Mostrando {startRecord}-{endRecord} de {totalRecords}"
                                paginatorTemplate="{CurrentPageReport} {FirstPageLink} {PreviousPageLink} {PageLinks} {NextPageLink} {LastPageLink} {RowsPerPageDropdown}"                                
                                pageLinks="5"
                                lazy="true"
                                selectionMode="single"
                                resizableColumns="true">                                                               
                                <p:column headerText="Historia Clinica" filterBy="#{campo.idCampo.idTipoReg.nombre}  " >  
                                    #{campo.idCampo.idTipoReg.nombre}  
                                </p:column>
                                <p:column headerText="Campo"  filterBy="#{campo.idCampo.nombre}">
                                    #{campo.idCampo.nombre}  
                                </p:column>
                                <p:column headerText="Valor" filterBy="#{campo.valor}">
                                    #{campo.valor}
                                </p:column>
                            </p:dataTable>  
                        </td>    
                    </tr>
                    <tr>
                        <td>
                            <br/>
                            <p:commandButton 
                                value="Cargar seleccionado"
                                actionListener="#{detalleHistoriaController.cargar}"/>
                        </td>    
                    </tr>
                </table>
            </p:dialog> 
        </h:form> 


    </h:body>
</html>