<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:p="http://primefaces.org/ui">
    <h:head>
        <title>Facelet Title</title>
        <script src="../recursos/js/calendario.js"/>
        <link href="../recursos/css/estilos.css" rel="stylesheet"/>
        <link href="../recursos/css/metro-bootstrap.css" rel="stylesheet"/>
        <link href="../recursos/css/iconFont.css" rel="stylesheet"/>        
        <script type="text/javascript">
/*
            var identificadorIntervalo;
            function Repetir() {
                rcRecargarAgenda();
            }
            function IniciarIntervalo() {
                identificadorIntervalo = setInterval("Repetir()", 10000);
            }
            function PararIntervalo() {
                clearInterval(identificadorIntervalo);
            }
*/
        </script>
        <script type="text/javascript">
            $(document).keypress(
                    function (event) {
                        if (event.which == '13') {
                            event.preventDefault();
                        }


                    });
        </script>
    </h:head>
    <h:body>
        <!-- AGENDA CORRESPONDEIENTE AL MEDICO -->
        #{medicoController.loadEvents()}
        <!-- p:commandButton value="Recargar Agenda" icon="ui-icon-arrowrefresh-1-s" actionListener="# {medicoController.loadEvents()}" update=":formAgendaMedico:agenda"/ -->        
        <br/>
        <h:form id="formAgendaMedico">
            <p:remoteCommand name="rcRecargarAgenda" action="#{medicoController.loadEvents}" update=":formAgendaMedico:agenda"/>                
            <p:growl id="message" showDetail="true" autoUpdate="true"/>
            <h2 align="center">#{medicoController.medicoActual eq null ? "No eres Medico" : medicoController.nombreCompleto}</h2>
            <br/>
            <p:panel rendered="#{medicoController.rendAgenda}">
                <table>
                    <tr>
                        <td><p:outputLabel value="Asignado"/></td>
                        <td><div class="no_atendido" style="width: 40px; height: 20px; border-color: black; border: solid 1px; "><div class="fc-event-inner"></div></div></td>
                        <td><p:outputLabel value="En Espera" /></td>
                        <td><div class="en_espera" style="width: 40px; height: 20px; border-color: black; border: solid 1px; "><div class="fc-event-inner"></div></div></td>
                        <td><p:outputLabel value="Libre"/></td>
                        <td><div class="libre" style="width: 40px; height: 20px; border-color: black; border: solid 1px; "><div class="fc-event-inner"></div></div></td>
                        <td><p:outputLabel value="Atendido"/></td>
                        <td><div class="atendido" style="width: 40px; height: 20px; border-color: black; border: solid 1px; "><div class="fc-event-inner"></div></div></td>
                    </tr>
                </table>
            </p:panel>
            <br/>
            <p:schedule id="agenda" rendered="#{medicoController.rendAgenda}" draggable="false" resizable="false" value="#{medicoController.evenModel}" widgetVar="agenda" locale="es" timeZone="America/Bogota" view="agendaDay" rightHeaderTemplate="agendaDay" minTime="7:00" maxTime="18:00" timeFormat="hh:mm" allDaySlot="false" slotMinutes="5">
                <p:ajax event="eventSelect" listener="#{medicoController.onEventSelect}"/>
            </p:schedule> 
            <p:dialog id="pdialog" widgetVar="eventDialog" header="Detalles de la cita" modal="true" resizable="false">
                <p:ajax event="close"/>
                <h:panelGrid id="eventDetails" columns="2">
                    <p:outputLabel for="title" value="Id turno:" />
                    <p:inputText id="title" value="#{medicoController.noTurno}" required="true" readonly="true" size="60"/>
                    <p:outputLabel for="paciente" value="Paciente:" rendered="#{medicoController.rend}"/>
                    <p:inputText rendered="#{medicoController.rend}" readonly="true" id="paciente" value="#{medicoController.citCita.idPaciente.nombreCompleto()}" size="60"/>
                    
                    <p:row>
                        <p:column colspan="2">
                            <p:commandButton 
                                id="btnHistoriaClinica"
                                value = "&nbsp;"
                                title="Historia Clinica"
                                styleClass="icon-folder-2 fg-lightBlue bg-white no-border pt-3"
                                style="font-size: 20px; width: 28px; height: 28px;"                       
                                rendered="#{medicoController.rendBtnHistoriClinica}"
                                actionListener="#{medicoController.openHistoriaClinica}"/>                    
                        </p:column>
                    </p:row>
                </h:panelGrid>
            </p:dialog>            
        </h:form>
    </h:body>
</html>

