<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:p="http://primefaces.org/ui"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:c="http://xmlns.jcp.org/jsp/jstl/core">
    <h:head>
        <title>Facelet Title</title>
        <link href="../recursos/css/estilos.css" rel="stylesheet"/>
        <link href="../recursos/css/metro-bootstrap.css" rel="stylesheet"/>
        <link href="../recursos/css/iconFont.css" rel="stylesheet"/>
        <link href="//fonts.googleapis.com/css?family=Comfortaa" rel="stylesheet" />
        <script type="text/javascript">
            $(document).keypress(
                    function (event) {
                        if (event.which == '13') {
                            event.preventDefault();
                        }


                    });
        </script>        
    </h:head>
    <h:body>
        <p:growl autoUpdate="true" showDetail="true"/> 
        <h:form id="menuForm">
            <div style="background-color: white; padding: .5em">
                <br/>
                <p:outputLabel styleClass="labelFormularioBold" value="Por paciente"/>                            
                <p:inputText  readonly="true"  styleClass="campoFormulario" size="30"   value="#{historiaClinicaController.identificacionPaciente}">                        
                </p:inputText>  
                <p:commandButton 
                    styleClass="campoFormulario"
                    title="Paciente"
                    onclick="PF('dlgPaciente').show();"
                    icon="ui-icon-search"
                    style="width: 22px; height: 22px;"/>
                <p:outputLabel styleClass="labelFormularioBold" value="Por medico"/>                            
                <p:inputText  readonly="true" styleClass="campoFormulario" size="30" value="#{historiaClinicaController.identificacionPaciente}">
                </p:inputText>  
                <p:commandButton 
                    styleClass="campoFormulario"
                    title="Medico"                                                            
                    icon="ui-icon-search"
                    onclick="PF('dlgfindMedico').show();" 
                    style="width: 22px; height: 22px;"/>
            </div>
        </h:form>
        <p:sticky target="menuForm" />
        <br/><br/><br/>
        <h:form id="formTablaCitas">
            <h2 align="center">
                <c:choose>
                    <c:when test="#{cancelarController.medicoSeleccionado != null}">
                        Dr(a) #{cancelarController.medicoSeleccionado.nombreCompleto().toUpperCase()}
                    </c:when>
                    <c:when test="#{cancelarController.pacienteSeleccionado != null}">
                        #{cancelarController.pacienteSeleccionado.nombreCompleto().toUpperCase()}
                    </c:when>                
                </c:choose>
            </h2>            
            <p:dataTable
                id="tableCitasCancelar"
                var="cita"
                value="#{cancelarController.listCitas}"
                rowKey="#{cita.idCita}"
                paginator="true"
                rows="10"
                paginatorPosition="bottom"                                
                scrollable="true" 
                pageLinks="5"
                lazy="true"
                emptyMessage="No se econtraron citas."
                widgetVar="citasTable"
                resizableColumns="false">
                <f:facet name="header">
                    Listado de Citas Agendadas
                </f:facet>

                <p:column style="width: 5%;">
                    <p:commandButton  disabled="#{cita.cancelada}" style="font-size: 15px; width: 15px; height: 15px;" styleClass="icon-cancel fg-lightBlue bg-white no-border" title="Cancelar cita" value="&nbsp;" actionListener="#{cancelarController.findCita}" update=":cancelar" onclick="PF('dlgcancelar').show();">
                        <f:attribute name="id_cita" value="#{cita.idCita}"/>
                    </p:commandButton>
                </p:column>
                <p:column headerText="Fecha">
                    <h:outputText value="#{cita.idTurno.fecha}">
                        <f:convertDateTime locale="es_CO" pattern="EEE, MMM d, yyyy"/>                       
                    </h:outputText>     
                </p:column>
                <p:column headerText="Hora">
                    <h:outputText value="#{cita.idTurno.horaIni}">
                        <f:convertDateTime pattern="h:mm a" timeZone="America/Bogota"/>
                    </h:outputText>                    
                </p:column>
                <p:column headerText="Medico" rendered="#{cancelarController.medicoSeleccionado == null}" style="width: 23%">
                    <h:outputText value="#{cita.idMedico.nombreCompleto()}"/>                    
                </p:column>
                <p:column headerText="Paciente" rendered="#{cancelarController.pacienteSeleccionado == null}" style="width: 23%">
                    <h:outputText value="#{cita.idPaciente.nombreCompleto()}"/>
                </p:column>
                
            </p:dataTable>
        </h:form>

        <p:dialog header="Buscar Paciente" widgetVar="dlgPaciente" resizable="false" modal="true">
            <h:form id="formFindPaciente">
                <table>
                    <tr>
                        <td colspan="3">
                            <p:dataTable
                                id="tableElegirPaciente"
                                var="paciente" 
                                value="#{cancelarController.listPacientes}"
                                rowKey="#{paciente.idPaciente}"  
                                selection="#{cancelarController.pacienteSeleccionado}" 
                                paginator="true"
                                style="width: 600px;"
                                rows="10"
                                lazy="true"
                                paginatorPosition="bottom"                                
                                emptyMessage="No se encontraron pacientes"
                                scrollable="true" 
                                pageLinks="5"
                                widgetVar="pacientesTable"
                                selectionMode="single"
                                resizableColumns="true"
                                >
                                <p:column headerText="Nro Documento" width="25%" filterBy="#{paciente.identificacion}" filterMatchMode="contains" filterStyle="width: 145px;">
                                    <h:outputText value="#{paciente.identificacion}"/>                                  
                                </p:column>
                                <p:column headerText="Nombre" width="44%" filterBy="#{paciente.primerNombre} #{paciente.segundoNombre} #{paciente.primerApellido} #{paciente.segundoApellido}" filterStyle="width: 250px;" filterMatchMode="contains">
                                    <h:outputText value="#{paciente.primerNombre} #{paciente.segundoNombre} #{paciente.primerApellido} #{paciente.segundoApellido}" />
                                </p:column>
                            </p:dataTable>
                        </td>
                    </tr>
                    <tr>
                        <td colspan="3">
                            <p:commandButton
                                id="cbtnPaciente"
                                value="Cargar Paciente"
                                update = ":formTablaCitas"
                                action="#{cancelarController.cargarListaCitas}"
                                actionListener="#{cancelarController.asignarSeleccionado}"
                                oncomplete = "PF('dlgPaciente').hide();">
                                <f:attribute name="seleccionado" value="paciente"/>
                            </p:commandButton>
                        </td>
                    </tr>
                </table>
            </h:form>
        </p:dialog>

        <p:dialog header="Buscar Medico" widgetVar="dlgfindMedico" resizable="false" modal="true">

            <br/>
            <h:form id="formFindMedico">
                <table>
                    <tr>
                        <td colspan="3">
                            <p:dataTable 
                                id="tableMedicoEsp"
                                var="medico" 
                                value="#{cancelarController.listMedicos}"
                                rowKey="#{medico.idUsuario}"  
                                selection="#{cancelarController.medicoSeleccionado}" 
                                paginator="true"
                                style="width: 600px;"
                                rows="7"
                                widgetVar="medicosTable"
                                paginatorPosition="bottom"                                
                                emptyMessage="No hay medicos"
                                scrollable="true" 
                                rowsPerPageTemplate="5,10,15"
                                pageLinks="5"
                                lazy="true"
                                selectionMode="single"
                                resizableColumns="true">
                                <p:column headerText="Nombre" filterBy="#{medico.primerNombre} #{medico.segundoNombre} #{medico.primerApellido} #{medico.segundoApellido}"  filterMatchMode="contains" filterStyle="width: 250px;">
                                    <h:outputText value="#{medico.primerNombre} #{medico.segundoNombre} #{medico.primerApellido} #{medico.segundoApellido}" />
                                </p:column>
                                <p:column headerText="Especialidad" filterBy="#{medico.especialidad.id}" filterMatchMode="exact">
                                    <f:facet name="filter">
                                        <p:selectOneMenu onchange="PF('medicosTable').filter()" style="width: 250px;" >
                                            <f:selectItem itemLabel="..." itemValue="#{null}" noSelectionOption="true" />
                                            <f:selectItems  value="#{cancelarController.listEspecialidades}" />
                                        </p:selectOneMenu>
                                    </f:facet>        
                                    <h:outputText value="#{medico.especialidad.descripcion}" />
                                </p:column>                          
                            </p:dataTable>
                        </td>
                    </tr>
                    <tr>
                        <td colspan =" 3"><p:commandButton
                                id='cbtnmedico'
                                value = "Cargar Medico"
                                actionListener="#{cancelarController.asignarSeleccionado}"
                                action="#{cancelarController.cargarListaCitas}"
                                update=":formTablaCitas"
                                oncomplete = "PF('dlgfindMedico').hide();">
                                <f:attribute name="seleccionado" value="medico"/>
                            </p:commandButton>
                        </td>
                    </tr>               
                </table>

            </h:form>
        </p:dialog>

        <p:dialog  widgetVar="dlgcancelar" header="Cancelar Cita" modal="true" width="60%" resizable="false">
            <h:form id="cancelar">
                <h:panelGrid columns="2">
                    <p:outputLabel value="Cita No:"/>
                    <p:inputText value="#{cancelarController.citaSeleccionada.idCita}" readonly="true" />
                    <p:outputLabel value="Motivo Cancelacion:" />
                    <p:selectOneMenu id="selectMotCanc" value="#{cancelarController.motivo}" style="width: 300px;">
                        <f:selectItems  value="#{genericoController.listaMotivoCancelacionCitas}" /> 
                    </p:selectOneMenu>
                    <p:outputLabel value="Descripcion:" />
                    <p:inputTextarea rows="6" cols="33" value="#{cancelarController.descripcion}" />
                </h:panelGrid>
                <br/>
                <p:commandButton value="Cancelar Cita" actionListener="#{cancelarController.cancelarCita}" action="#{cancelarController.cargarListaCitas}" oncomplete = "PF('dlgcancelar').hide();" update=":formTablaCitas"/>
            </h:form>
        </p:dialog>
    </h:body>
</html>

