<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:p="http://primefaces.org/ui"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core">
    <h:head>
        <title>Facelet Title</title>
        <script src="../recursos/js/calendario.js"/>
        <link href="../recursos/css/estilos.css" rel="stylesheet"/>
        <link href="../recursos/css/metro-bootstrap.css" rel="stylesheet"/>
        <link href="../recursos/css/iconFont.css" rel="stylesheet"/>
        <link href="//fonts.googleapis.com/css?family=Comfortaa" rel="stylesheet" />
    </h:head>
    <h:body>
        #{recepcionController.loadEvents()}
        <h:form id="formRecepcion">
            <p:growl id="message" showDetail="true" autoUpdate="true"/>
            <table style="margin-top: 20px;">
                <tr>
                    <td>
                        <p:inputText id="identificacionMedico" styleClass="campoFormulario" value="#{recepcionController.identificacion}" size="32">
                            <p:ajax event="blur" listener="#{recepcionController.validarIdentificacion()}" update="@form"/>
                        </p:inputText>
                        <p:watermark for="identificacionMedico" value="Digite identificación medico"/>
                        <p:commandButton 
                            title="Buscar Medico"                                        
                            styleClass="campoFormulario"
                            onclick="PF('dlgfindMedico').show();" 
                            icon="ui-icon-search"/>                    
                        <p:outputLabel styleClass="labelFormularioBold" value="Dr(a):" rendered="#{recepcionController.hayMedicoSeleccionado}"/>
                        <p:outputLabel styleClass="labelFormulario" value="#{recepcionController.medicoActual.primerNombre} #{recepcionController.medicoActual.segundoNombre} #{recepcionController.medicoActual.primerApellido} #{recepcionController.medicoActual.segundoApellido}" rendered="#{recepcionController.hayMedicoSeleccionado}"/>
                        <p:outputLabel styleClass="labelFormularioBold" value="Especialidad:" rendered="#{recepcionController.hayMedicoSeleccionado}"/>
                        <p:outputLabel styleClass="labelFormulario" value="#{recepcionController.medicoActual.especialidad.descripcion}" rendered="#{recepcionController.hayMedicoSeleccionado}"/>
                        <p:outputLabel styleClass="labelFormularioBold" value="No Registro:" rendered="#{recepcionController.hayMedicoSeleccionado}"/>
                        <p:outputLabel styleClass="labelFormulario" value="#{recepcionController.medicoActual.registroProfesional}" rendered="#{recepcionController.hayMedicoSeleccionado}"/>
                    </td>
                </tr>
            </table> 
            <br/>
            <p:panel rendered="#{recepcionController.renderAgenda}">
                <table>
                    <tr>
                        <td><p:outputLabel value="No Atendido"/></td>
                        <td><div class="no_atendido" style="width: 40px; height: 20px; border-color: black; border: solid 1px; "><div class="fc-event-inner"></div></div></td>
                        <td><p:outputLabel value="Libre" /></td>
                        <td><div class="libre" style="width: 40px; height: 20px; border-color: black; border: solid 1px; "><div class="fc-event-inner"></div></div></td>
                        <td><p:outputLabel value="Atendido"/></td>
                        <td><div class="atendido" style="width: 40px; height: 20px; border-color: black; border: solid 1px; "><div class="fc-event-inner"></div></div></td>
                        <td><p:outputLabel value="En Espera"/></td>
                        <td><div class="en_espera" style="width: 40px; height: 20px; border-color: black; border: solid 1px; "><div class="fc-event-inner"></div></div></td>
                    </tr>
                </table>
            </p:panel>
            <br/>
            <p:schedule id="agenda" rendered="#{recepcionController.renderAgenda}" draggable="false" resizable="false" value="#{recepcionController.evenModel}" widgetVar="agendawv" minTime="07:00" maxTime="18:00" locale="es" timeZone="America/Bogota" view="agendaDay" rightHeaderTemplate="agendaDay" timeFormat="hh:mm" allDaySlot="false" slotMinutes="5">
                <p:ajax event="eventSelect" listener="#{recepcionController.onEventSelect}"/>
            </p:schedule> 
            <p:dialog id="pdialog" widgetVar="eventDialog" header="Detalles de la cita" modal="true" resizable="false">                
                <p:panel id="eventDetails" style="border: none;">  
                    <table>
                        <tr>
                            <td><p:outputLabel for="title" value="Turno No:" /></td>    
                            <td><p:inputText id="title" value="#{recepcionController.noTurno}" required="true" readonly="true"/></td>    
                        </tr>
                        <tr>
                            <td><p:outputLabel for="paciente" value="Paciente:" rendered="#{recepcionController.rendered}"/></td>    
                            <td><p:inputText rendered="#{recepcionController.rendered}" readonly="true" id="paciente" value="#{recepcionController.citCita.idPaciente.nombreCompleto()}" size="60"/></td>    
                        </tr>
                        
                        <tr>
                            <td>    
                                &nbsp;
                            </td>    
                        </tr>
                       
                    </table>
                </p:panel>                
            </p:dialog>             
        </h:form>

        <p:dialog header="Buscar Medico" widgetVar="dlgfindMedico" resizable="false" modal="true">
            <br/>
            <h:form id="formFindMedico">
                <table>
                    <tr>
                        <td colspan="3">
                            <p:dataTable 
                                id="tableMedicoEsp"
                                var="medico" 
                                value="#{recepcionController.listMedicos}"
                                rowKey="#{medico.idUsuario}"  
                                selection="#{recepcionController.medicoActual}" 
                                paginator="true"
                                style="width: 600px;"
                                rows="10"
                                widgetVar="medicosTable"
                                paginatorPosition="bottom"                                
                                emptyMessage="No hay medicos"
                                scrollable="true" 
                                rowsPerPageTemplate="5,10,15"
                                pageLinks="5"
                                lazy="true"
                                selectionMode="single"
                                resizableColumns="true">
                                <p:column headerText="Nombre" filterBy="#{medico.primerNombre} #{medico.segundoNombre} #{medico.primerApellido} #{medico.segundoApellido}"  filterMatchMode="contains" filterStyle="width: 250px;">
                                    <h:outputText value="#{medico.primerNombre} #{medico.segundoNombre} #{medico.primerApellido} #{medico.segundoApellido}" />
                                </p:column>
                                <p:column headerText="Especialidad" filterBy="#{medico.especialidad.id}" filterMatchMode="exact">
                                    <f:facet name="filter">
                                        <p:selectOneMenu onchange="PF('medicosTable').filter()" style="width: 250px;" >
                                            <f:selectItem itemLabel="..." itemValue="#{null}" noSelectionOption="true" />
                                            <f:selectItems  value="#{recepcionController.listEspecialidades}" />
                                        </p:selectOneMenu>
                                    </f:facet>        
                                    <h:outputText value="#{medico.especialidad.descripcion}" />
                                </p:column>                          
                            </p:dataTable>
                        </td>
                    </tr>
                    <tr>
                        <td colspan =" 3"><p:commandButton
                                id='cbtnmedico'
                                value = "Cargar Medico"
                                actionListener="#{recepcionController.loadEvents}"
                                action="#{recepcionController.cargarMedico}"
                                update=":formRecepcion"
                                oncomplete = "PF('dlgfindMedico').hide();">
                            </p:commandButton>
                        </td>
                    </tr>               
                </table>

            </h:form>
        </p:dialog>

        <p:dialog  widgetVar="dlgcancelar" header="Cancelar Cita" modal="true" width="60%" resizable="false">
            <h:form id="cancelar">
                <h:panelGrid columns="2">
                    <p:outputLabel value="Cita No:"/>
                    <p:inputText value="#{recepcionController.citCita.idCita}" readonly="true" />
                    <p:outputLabel value="Motivo Cancelacion:" />
                    <p:selectOneMenu id="selectMotCanc" value="#{recepcionController.motivoCancelacion}" style="width: 300px;">
                        <f:selectItems  value="#{genericoController.listaMotivoCancelacionCitas}" /> 
                    </p:selectOneMenu>
                    <p:outputLabel value="Descripcion:" />
                    <p:inputTextarea rows="6" cols="33" value="#{recepcionController.descripcionCancelacion}" />
                </h:panelGrid>
                <br/>
                <p:commandButton value="Cancelar Cita" actionListener="#{recepcionController.cancelarCita}" update="@none" onclick = "PF('dlgcancelar').hide();"/>
            </h:form>
        </p:dialog>

          
    </h:body>
</html>

