<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:p="http://primefaces.org/ui"
      xmlns:f="http://xmlns.jcp.org/jsf/core">
    <h:head>
        <title>Facelet Title</title>
        <script src="../recursos/js/calendario.js"/>
        <link href="../recursos/css/estilos.css" rel="stylesheet"/>
        <link href="../recursos/css/metro-bootstrap.css" rel="stylesheet"/>
        <link href="../recursos/css/iconFont.css" rel="stylesheet"/>
        <link href="//fonts.googleapis.com/css?family=Comfortaa" rel="stylesheet" />
    </h:head>
    <h:body>
        <p:growl id="msgs" autoUpdate="true" showDetail="true"/>

        <h:form id="idFormDiasNoLaborales">
            <p:layout>
                <p:layoutUnit position="west" style="padding: 1em 2em">
                    <table>
                        <tr>
                            <td>                        
                                <p:outputLabel styleClass="campoObligatorio" value="Dia No Laboral:"/>
                                <p:calendar styleClass="campoFormulario" pages="3" locale="es" navigator="true" maxlength="10" timeZone="America/Bogota" pattern="dd/MM/yyyy" mask="99/99/9999" size="11" value="#{horarioNoLaborableController.fechaNoHabil}">
                                    <p:ajax event="dateSelect" listener="#{horarioNoLaborableController.validarDiaSeleccionado}" update="@none" />
                                </p:calendar>

                            </td>
                        </tr>
                        <tr>
                            <td>                        
                                <p:commandButton id="idButton" style="display: #{horarioNoLaborableController.display}" value="Insertar Dia No Laboral" icon="ui-icon-plus" styleClass="campoFormulario" title="Insertar dia no laboral" actionListener="#{horarioNoLaborableController.insertarDia()}"/>
                            </td>
                        </tr>
                    </table>
                </p:layoutUnit>
                <p:layoutUnit position="center">
                    <div style="margin: 0 auto;width: 80%">
                        <p:dataTable 
                            id="idTable"
                            emptyMessage="No hay dias no laborales"
                            var="diaNoLaboral"
                            value="#{horarioNoLaborableController.listaDiasNoHabiles}"
                            rows="10"
                            resizableColumns="false"
                            disabledSelection="true"
                            paginator="true"
                            paginatorPosition="bottom"
                            pageLinks="5"
                            styleClass="campoFormulario"
                            >
                            <f:facet name="header">
                                <h:outputText value="Dias no laborales"/>
                            </f:facet>
                            <p:column style="width: 10%;">
                                <p:commandButton style="font-size: 1em; width: 1.8em; height: 1.8em;" title="Eliminar dia" icon="ui-icon-trash" actionListener="#{horarioNoLaborableController.eliminarDia}" update="@none">
                                    <f:attribute name="fecha" value="#{diaNoLaboral.cnDiasNoLaboralesPK.fechaNoLaboral}"/>
                                </p:commandButton>
                            </p:column>
                            <p:column headerText="Fecha">
                                <h:outputText value="#{diaNoLaboral.cnDiasNoLaboralesPK.fechaNoLaboral}">
                                    <f:convertDateTime locale="es_CO" dateStyle="long"/>
                                </h:outputText>
                            </p:column>

                        </p:dataTable> 
                    </div>
                </p:layoutUnit>
            </p:layout>

        </h:form>

    </h:body>
</html>

