<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:p="http://primefaces.org/ui"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:pe="http://primefaces.org/ui/extensions">
    <h:head>
        <title>Facelet Title</title>
        <script src="../recursos/js/calendario.js"/>                
        <link href="../recursos/css/estilos.css" rel="stylesheet"/>
        <link href="../recursos/css/metro-bootstrap.css" rel="stylesheet"/>
        <link href="../recursos/css/iconFont.css" rel="stylesheet"/>
        <link href="//fonts.googleapis.com/css?family=Comfortaa" rel="stylesheet" />
    </h:head>
    <h:body id="cuerpo">
        <br/>
        <p:growl id="message" showDetail="true" autoUpdate="true" />
        <h:form id="formAsignarMedico">            
            <p:panel styleClass="centrar-maximo">
                <table>
                    <tr>
                        <td>
                            <p:outputLabel styleClass="labelFormularioBold" value="MEDICO:" />
                            <p:inputText id="IdTxtIdentificacion" styleClass="campoFormulario"  size="35" value="#{horarioMedicoController.identificacionMedico}">                        
                                <p:ajax event="blur" listener="#{horarioMedicoController.validarIdentificacion}"/>
                            </p:inputText>  
                            <p:watermark for="IdTxtIdentificacion" value="Digite identificación medico"/>
                            <p:commandButton styleClass="campoFormulario"  style="width: 22px; height: 22px;" onclick="PF('dlgfindMedico').show();" title="Medico" icon="ui-icon-search"/>
                            <p:outputLabel styleClass="labelFormularioBold" value="Nombre:" />
                            <p:outputLabel  styleClass="labelFormulario" value="#{horarioMedicoController.medicoSeleccionado.nombreCompleto()}" />

                        </td>
                    </tr>
                    <tr>
                        <td >
                            <p:outputLabel styleClass="labelFormularioBold " value="No Registro:"/>
                            <p:outputLabel styleClass="labelFormulario" value="#{horarioMedicoController.medicoSeleccionado.registroProfesional}"/>
                            <p:outputLabel styleClass="labelFormularioBold" value="Especialidad:"/>
                            <p:outputLabel styleClass="labelFormulario" value="#{horarioMedicoController.medicoSeleccionado.especialidad.descripcion}"/>
                        </td>
                    </tr>
                </table>
            </p:panel>
        </h:form>
        <br/>
        <h:form id="formCrearAgenda" style="display: #{horarioMedicoController.display};">
            <p:panel styleClass="centrar-maximo">
                <table id="tableGeneradoTurnos">
                    <tbody>
                        <tr>
                            <td>                          
                                <p:outputLabel styleClass="campoObligatorio" value="Consultorio:"/>                            
                                <p:selectOneMenu id="selectconsultorios" styleClass="campoFormulario"  style="width: 180px;" value="#{horarioMedicoController.id_consultorio}">
                                    <f:selectItem itemLabel="..." itemValue="#{null}" noSelectionOption="true" />
                                    <f:selectItems value="#{horarioMedicoController.cargarListaConsultorios()}"  />
                                </p:selectOneMenu>                            
                                <p:outputLabel value="Duracion:" styleClass="campoObligatorio"  for="duracion"/>
                                <p:inputText id="duracion" styleClass="campoFormulario" style="width: 40px;" value="#{horarioMedicoController.duracion}" >
                                </p:inputText>                                                            
                                <p:outputLabel value="Concurrencia:" styleClass="campoNoObligatorio" for="concurrencia"/>
                                <p:inputText id="concurrencia" value="#{horarioMedicoController.concurrencia}" readonly="true" style="width: 20px; text-align: center;"/>
                            </td>
                        </tr>                         
                        <tr>
                            <td>

                                <p:outputLabel value="Horario:" styleClass="campoObligatorio"/>
                                <p:selectOneMenu id="idHorario" value="#{horarioMedicoController.id_horario}" styleClass="campoFormulario">
                                    <f:selectItem itemLabel="..." itemValue="#{null}" noSelectionOption="true" />
                                    <f:selectItems value="#{horarioMedicoController.listahorarios}" />
                                    <p:ajax event="change" listener="#{horarioMedicoController.seleccionarHorario()}" update=":formcnhorario, :formCrearAgenda"/>
                                </p:selectOneMenu>
                                <p:commandButton title="Horario" icon="ui-icon-clock" styleClass="campoFormulario" style="width: 22px; height: 22px;" onclick="PF('dlghorario').show();"/>                                                            
                                <p:outputLabel value="Hora Inicial:" styleClass="campoObligatorio" style="display: #{horarioMedicoController.displayHoraInicial}"/>
                                <p:calendar id="horainidlg" styleClass="campoFormulario" mask="99:99" value="#{horarioMedicoController.horaInicial}" pattern="HH:mm" timeZone="America/Bogota"  size="6"  timeOnly="true" locale="es" style="display: #{horarioMedicoController.displayHoraInicial}"/>                                
                                <p:outputLabel value="Fecha Inicial:" styleClass="campoObligatorio"/>
                                <p:calendar navigator="true" id="fechIni" widgetVar="calwidgetini" value="#{horarioMedicoController.fechaInicial}" locale="es" maxlength="10" timeZone="America/Bogota" pattern="dd/MM/yyyy" mask="99/99/9999" size="10" styleClass="campoFormulario" mindate="today"/>                                
                                <p:outputLabel value="Fecha Final:" styleClass="campoObligatorio"/>                            
                                <p:calendar navigator="true" id="fechFin" widgetVar="calwidgetfin" value="#{horarioMedicoController.fechaFinal}" locale="es" maxlength="10" timeZone="America/Bogota" pattern="dd/MM/yyyy" mask="99/99/9999" size="10" styleClass="campoFormulario"/>
                                <p:commandButton
                                    styleClass="campoFormulario"
                                    id="cbtnguardar"
                                    title="Crear Agenda"
                                    value="Crear Agenda"
                                    actionListener="#{horarioMedicoController.accionControlador}"
                                    icon="ui-icon-disk"/>
                                <p:commandButton id="idCBeliminarAgenda" value="Eliminar Agenda" icon="ui-icon-trash" title="Eliminar agenda" actionListener="#{horarioMedicoController.eliminarAgenda}" styleClass="campoFormulario"/>
                            </td>
                        </tr>
                    </tbody>
                </table>
                <div style="text-align: center;padding: .5em 0">
                    
                </div>
            </p:panel>
            <br/>
            <p:panel>
                <table>
                    <tr>
                        <td><p:outputLabel value="Disponible"/></td>
                        <td><div class="disponible" style="width: 40px; height: 20px; border-color: black; border: solid 1px; "><div class="fc-content"></div></div></td>
                    </tr>
                </table>
            </p:panel>
            <br/>
            <p:schedule id="calendarioTurnos" draggable="false" resizable="false" value="#{horarioMedicoController.evenModel}" widgetVar="agenda" locale="es" timeZone="America/Bogota" style="height: 100%" timeFormat="hh:mm" allDaySlot="false" minTime="6:00" maxTime="18:00" slotMinutes="5"/>
            <p:blockUI block=":cuerpo" trigger="cbtnguardar">
                <p:panelGrid id="blockcontent" columns="2"> 
                    <h:graphicImage value="../../recursos/img/loading.gif" height="30px" width="30px" />
                    <h:outputText value="Por favor espere, agenda creándose ..."/>
                </p:panelGrid>
            </p:blockUI>
            <p:blockUI block=":cuerpo" trigger="idCBeliminarAgenda">
                <p:panelGrid id="blockcontentDos" columns="2"> 
                    <h:graphicImage value="../../recursos/img/loading.gif" height="30px" width="30px" />
                    <h:outputText value="Por favor espere, agenda eliminandose ..."/>
                </p:panelGrid>
            </p:blockUI>
        </h:form>

        <p:dialog header="Buscar Medico" widgetVar="dlgfindMedico" resizable="false" modal="true">
            <br/>
            <h:form id="formFindMedico">
                <p:dataTable 
                    id="tableMedicoEsp"
                    var="medico" 
                    value="#{horarioMedicoController.listMedicos}"
                    rowKey="#{medico.idUsuario}"  
                    selection="#{horarioMedicoController.medicoSeleccionado}" 
                    paginator="true"
                    style="width: 600px;"
                    rows="10"
                    lazy="true"
                    widgetVar="medicosTable"
                    paginatorPosition="bottom"                                
                    emptyMessage="No hay medicos"
                    scrollable="true" 
                    rowsPerPageTemplate="5,10,15"
                    pageLinks="5"
                    selectionMode="single"
                    resizableColumns="true">
                    <p:column headerText="Nombre" filterBy="#{medico.primerNombre} #{medico.segundoNombre} #{medico.primerApellido} #{medico.segundoApellido}" filterMatchMode="contains" filterStyle="width: 250px;">
                        <h:outputText value="#{medico.primerNombre} #{medico.segundoNombre} #{medico.primerApellido} #{medico.segundoApellido}" />
                    </p:column>
                    <p:column headerText="Especialidad" filterBy="#{medico.especialidad.id}" filterMatchMode="exact">
                        <f:facet name="filter">
                            <p:selectOneMenu onchange="PF('medicosTable').filter()" style="width: 250px;" >
                                <f:selectItem itemLabel="..." itemValue="#{null}" noSelectionOption="true" />
                                <f:selectItems  value="#{horarioMedicoController.listEspecialidades}" />
                            </p:selectOneMenu>
                        </f:facet>        
                        <h:outputText value="#{medico.especialidad.descripcion}" />
                    </p:column>                          
                </p:dataTable>

                <br/>
                <p:commandButton
                    id='cbtnmedico'
                    value = "Cargar Medico"
                    actionListener="#{horarioMedicoController.loadEvents}"
                    action="#{horarioMedicoController.functionDisplay()}"
                    update=":formAsignarMedico"
                    oncomplete = "PF('dlgfindMedico').hide();">
                </p:commandButton>
                <br/>
            </h:form>
        </p:dialog>

        <p:dialog header="Configurar Horario" widgetVar="dlghorario" resizable="false" modal="true" >
            <p:ajax event="close" listener="#{horarioMedicoController.limpiarFormHorario()}" update=":formcnhorario"/>
            <h:form id="formcnhorario">
                <p:growl showDetail="true" autoUpdate="true"/>
                <table>
                    <tr>
                        <td style="background-color: #eaecfe;"><p:outputLabel value="Horario:"/></td>
                        <td>
                            <p:inputText id="descripcion" value="#{horarioController.descripcion}" readonly="#{horarioController.renderizar == false}"  size="50"/>
                        </td>
                        <td>&nbsp;</td>
                        <td>
                            <p:commandButton  
                                value="&nbsp;"
                                styleClass="icon-checkmark fg-lightBlue bg-white no-border pt-3"
                                style="font-size: 20px; width: 28px; height: 28px;"
                                actionListener="#{horarioController.validarNombreHorario}"
                                rendered="#{horarioController.renderizar}"
                                />

                        </td>
                    </tr>
                </table>

                <table style="display: #{detalleHorarioController.display}">
                    <tr>
                        <td align="center" colspan="4">
                            <p:fieldset id="diasLaborales" legend="Días Laborales">
                                <p:selectManyCheckbox id="basic" value="#{detalleHorarioController.selectedDays}"  >
                                    <f:selectItem itemLabel="Lunes" itemValue="1"  />
                                    <f:selectItem itemLabel="Martes" itemValue="2" />
                                    <f:selectItem itemLabel="Miercoles" itemValue="3" />
                                    <f:selectItem itemLabel="Jueves" itemValue="4" />
                                    <f:selectItem itemLabel="Viernes" itemValue="5"/>
                                    <f:selectItem itemLabel="Sábado" itemValue="6" />
                                    <f:selectItem itemLabel="Domingo" itemValue="0" />
                                </p:selectManyCheckbox>
                            </p:fieldset>

                        </td>
                    </tr>
                </table>
                <br/>
                <table align="center" style="display: #{detalleHorarioController.display}">
                    <tr>
                        <td style="background-color: #eaecfe;">
                            <p:outputLabel for="horaini" value="Hora Incial:"/>
                        </td>
                        <td>
                            <p:calendar id="horaini" mask="99:99" value="#{detalleHorarioController.horaIni}" pattern="HH:mm" timeZone="America/Bogota"  size="6"  timeOnly="true" locale="es"/>
                        </td>

                        <td style="background-color: #eaecfe;">
                            <p:outputLabel for="horafin" value="Hora Final:"/>

                        </td>
                        <td>
                            <p:calendar id="horafin" mask="99:99" value="#{detalleHorarioController.horaFin}" pattern="HH:mm" timeZone="America/Bogota"  size="6"  timeOnly="true" locale="es"/>
                        </td>
                        <td>&nbsp;</td>
                        <td>
                            <p:commandButton  
                                value="&nbsp;"
                                styleClass="icon-plus-2 fg-lightBlue bg-white no-border pt-3"
                                style="font-size: 20px; width: 28px; height: 28px;"
                                actionListener="#{detalleHorarioController.addItemHorario()}"
                                rendered="#{detalleHorarioController.renderizarAddItems}"
                                update="@form" />
                        </td>
                    </tr>
                </table>
                <br/>
                <p:dataTable
                    id="tableHorario"
                    var="dia" 
                    value="#{detalleHorarioController.listaDetalleHorario}" 
                    style="width: 450px;"                            
                    emptyMessage="Aun no se ha creado el horario"
                    scrollable="true" 
                    scrollHeight="150"
                    resizableColumns="false"
                    editable="#{detalleHorarioController.tablaEditable}">
                    <f:facet name="header">
                        HORARIO
                    </f:facet>

                    <p:ajax event="rowEdit" update="tableHorario" />
                    <p:ajax event="rowEditCancel" update="tableHorario" />
                    <p:column style="width: 10%">
                        <p:commandButton rendered="#{detalleHorarioController.tablaEditable}" style="font-size: 15px; width: 15px; height: 15px;" styleClass="icon-cancel fg-lightBlue bg-white no-border" title="Remover dia" value="&nbsp;" actionListener="#{detalleHorarioController.removeItem}" update="tableHorario">
                            <f:attribute name="id_item" value="#{dia.idItemHorario}"/>
                        </p:commandButton>
                    </p:column>
                    <p:column headerText="Dia">
                        <h:outputText value="#{dia.nombredia}" />
                    </p:column>
                    <p:column headerText="Hora Inicio">
                        <p:cellEditor>

                            <f:facet name="output">
                                <h:outputText value="#{dia.horaInicio}" >
                                    <f:convertDateTime pattern="HH:mm" timeZone="America/Bogota" />
                                </h:outputText>
                            </f:facet>


                            <f:facet name="input">
                                <p:inputMask value="#{dia.horaInicio}" mask="99:99">
                                    <f:convertDateTime pattern="HH:mm" timeZone="America/Bogota" />
                                </p:inputMask>
                            </f:facet>

                        </p:cellEditor>
                    </p:column>
                    <p:column headerText="Hora Final">
                        <p:cellEditor>
                            <f:facet name="output">
                                <h:outputText value="#{dia.horaFinal}" >
                                    <f:convertDateTime pattern="HH:mm" timeZone="America/Bogota" />
                                </h:outputText>
                            </f:facet>


                            <f:facet name="input">
                                <p:inputMask mask="99:99" value="#{dia.horaFinal}" >
                                    <f:convertDateTime pattern="HH:mm" timeZone="America/Bogota" />
                                </p:inputMask>
                            </f:facet>
                        </p:cellEditor>
                    </p:column>
                    <p:column style="width:32px" rendered="#{detalleHorarioController.tablaEditable}">
                        <p:rowEditor />
                    </p:column>
                </p:dataTable>
                <div align="center">
                    <p:commandButton
                        rendered="#{detalleHorarioController.renderizar}"
                        id='cbtnhorario'
                        icon="ui-icon-disk"
                        value = "Guardar Horario"
                        update="@form"
                        actionListener="#{horarioMedicoController.saveHorarioAndItems()}"
                        >
                    </p:commandButton>
                    <p:commandButton
                        rendered="#{horarioMedicoController.rendBtnEliminarHorario}"
                        icon="ui-icon-trash"
                        value="Eliminar Horario"
                        actionListener="#{horarioMedicoController.eliminarHorario()}"
                        />
                </div>


            </h:form>
        </p:dialog>

    </h:body>
</html>

