<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:p="http://primefaces.org/ui"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:pe="http://primefaces.org/ui/extensions">  
    <h:head>        
        <title>Consulta de citas</title>
        <link href="../../recursos/css/estilos.css" rel="stylesheet"/>        
        <link href="../../recursos/css/metro-bootstrap.css" rel="stylesheet"/>
        <link href="../../recursos/css/iconFont.css" rel="stylesheet"/>
        <link href="//fonts.googleapis.com/css?family=Comfortaa" rel="stylesheet" />
        <script type="text/javascript" src="../../recursos/js/calendario.js"></script>  
    </h:head>
    <h:body>
        #{informeExcelController.init()}
        <h:form id="IdFormInformeCitas">              

            <p:growl id="IdMensajePeriodos"  showDetail="true" sticky="false" autoUpdate="true" life="2000"  />                        
            <p:tabView id="IdTabView" style=" width: 95%;  margin-left: 15px; margin-top: 15px;" >                 
                <p:tab title="Consulta de Citas">                    
                    <p:panelGrid id="IdPanelFiltro" styleClass="panelGridSinBordes" columns="2" style="margin-right: auto;">                    
                        <h:panelGroup >
                            <p:outputLabel styleClass="campoObligatorio" value="Medico" style="width: 120px;"/>                        
                            <p:selectOneMenu styleClass="campoFormulario" style="width: 200px;"  value="#{informeExcelController.medico}" filter="true" filterMatchMode="contains">
                                <f:selectItem itemLabel="--Seleccione Médico--" itemValue=""/>
                                <f:selectItems value="#{informeExcelController.listMedicos}" var="ad" itemLabel="#{ad.primerNombre} #{ad.segundoNombre} #{ad.primerApellido} #{ad.segundoApellido}" itemValue="#{ad.idUsuario}"/>
                                <f:ajax event="change" render="@this" />
                                
                            </p:selectOneMenu>                     
                        </h:panelGroup>
                       
                        <h:panelGroup >
                            <p:outputLabel styleClass="campoObligatorio" value="Fecha Desde"  style="width: 120px;"/>                        
                            <p:calendar style="width: 200px;" value="#{informeExcelController.fechaDesde}" 
                                       mask="99/99/9999"  pattern="dd/MM/yyyy" locale="es"  navigator="true"/>
                        </h:panelGroup>
                        <h:panelGroup >
                            <p:outputLabel styleClass="campoObligatorio" value="Fecha Hasta"  style="width: 120px;"/>                        
                            <p:calendar value="#{informeExcelController.fechaHasta}"
                                        mask="99/99/9999" 
                                        pattern="dd/MM/yyyy" locale="es"  navigator="true"/>
                        </h:panelGroup>
                        
                        <h:panelGroup >
                            <p:outputLabel styleClass="labelFormulario" value="Motivo Consulta"  style="width: 120px;"/>                        
                            <p:selectOneMenu styleClass="campoFormulario" style="width: 200px;"  value="#{informeExcelController.motivoConsulta}" filter="true">
                                <f:selectItem itemLabel="--Seleccione Motivo--" itemValue=""/>
                                <f:selectItems value="#{informeExcelController.listaMotivoConsulta}" var="ad" itemLabel="#{ad.descripcion}" itemValue="#{ad.id}"/>
                                <f:ajax event="change" render="@this" />
                                
                            </p:selectOneMenu>                     
                        </h:panelGroup>
                        
                        <h:panelGroup >
                            <p:outputLabel styleClass="labelFormulario" value="Estado de citas"  style="width: 120px;"/>                        
                            <p:selectOneMenu styleClass="campoFormulario" style="width: 200px;"  value="#{informeExcelController.estado}" filter="true">
                                <f:selectItem itemLabel="--Seleccione Estado--" itemValue=""/>
                                <f:selectItem itemLabel="ASIGNADA" itemValue="1"/>
                                <f:selectItem itemLabel="ATENDIDA" itemValue="2"/>
                                <f:selectItem itemLabel="CANCELADA" itemValue="3"/>
                                <f:ajax event="change" render="@this" />
                                
                            </p:selectOneMenu>                     
                        </h:panelGroup>
                        <h:panelGroup>
                                         
                            <p:commandButton 
                                title       =   "Buscar" value="&nbsp;"                                        
                                styleClass  =   "icon-search fg-lightBlue" 
                                style       =   "height: 25px; padding: 5px;"
                                actionListener="#{informeExcelController.consultar}"
                                process="@this,IdPanelFiltro"
                                update="opResultado,IdPanelFiltro"
                                />                     
                            <p:commandButton 
                                value="Limpiar Formulario"                                        
                                style       =   ""
                                actionListener="#{informeExcelController.limpiar}"
                                disabled="#{informeExcelController.listaCitas.size() > 0 ? false : true}"
                                process="@this,IdPanelFiltro"
                                update="opResultado,IdPanelFiltro"
                                />  
                        </h:panelGroup>
                    </p:panelGrid>
                    <p:outputPanel id="opResultado" style="margin-top: 10px;">
                        <p:dataTable id="idDataResultado"
                                     value="#{informeExcelController.listaCitas}"
                                     rows="10"                               
                                     rendered="#{informeExcelController.renderBuscar}"
                                     var="cita"
                                     paginator="true"
                                     paginatorPosition="bottom"
                                     emptyMessage="No hay resultado "

                                     >
                            
                            <p:column>
                                <f:facet name="header">  
                                    <h:outputText value="FECHA CITA"/>  
                                </f:facet>
                                <h:outputLabel value="#{cita.fechaRegistro}">
                                    <f:convertDateTime pattern="dd/MM/yyyy" />
                                </h:outputLabel>
                            </p:column>                            
                            <p:column>
                                <f:facet name="header">  
                                    <h:outputText value="FECHA ATENCION"/>  
                                </f:facet>
                                <h:outputLabel value="#{cita.idTurno.fechaCreacion}">
                                    <f:convertDateTime pattern="dd/MM/yyyy" />
                                </h:outputLabel>
                            </p:column>                            
                            <p:column>  
                                <f:facet name="header">  
                                    <h:outputText value="MEDICO"/>  
                                </f:facet>
                                
                                <h:outputLabel value="#{cita.idMedico.primerNombre} #{cita.idMedico.primerApellido}"/>

                            </p:column>                            
                            <p:column>
                                <f:facet name="header">  
                                    <h:outputText value="ESPECIALIDAD"/>  
                                </f:facet>
                                <h:outputLabel value="#{cita.idMedico.especialidad.descripcion}"/>
                            </p:column>                          
                            <p:column>
                                <f:facet name="header">  
                                    <h:outputText value="PACIENTE"/>  
                                </f:facet>
                                <h:outputLabel value="#{cita.idPaciente.primerNombre} #{cita.idPaciente.primerApellido}" style="font-size: 10px;" />
                            </p:column>                            
                        </p:dataTable>
                        <br />
                        <p:commandButton id="xls" ajax="false"
                                       value = "Descargar"
                                       icon="ui-icon-arrowthick-1-s"
                                            rendered="#{informeExcelController.renderBuscar}"
                                            title="Exportar Datos a Excel"
                                            styleClass="fg-lightBlue bg-white border"
                                            style="font-size: 12px; height: 28px;">
                                <f:setPropertyActionListener value="false" target="#{informeExcelController.customExporter}" />  
                                <pe:exporter type="xlsx" target="idDataResultado" fileName="reporte"/>    
                        </p:commandButton>
                      
                    </p:outputPanel>
                </p:tab>
            </p:tabView>
        </h:form>
    </h:body>
</html>

