<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:p="http://primefaces.org/ui"
      xmlns:f="http://java.sun.com/jsf/core" 
      xmlns:pe="http://primefaces.org/ui/extensions">
    <h:head>        
        <title>Clasificaciones</title>
        <link href="../recursos/css/estilos.css" rel="stylesheet"/>        
        <link href="../recursos/css/metro-bootstrap.css" rel="stylesheet"/>
        <link href="../recursos/css/iconFont.css" rel="stylesheet"/>
        <link href="//fonts.googleapis.com/css?family=Comfortaa" rel="stylesheet" />
        <script type="text/javascript" src="../recursos/js/calendario.js"/>
        <script type="text/javascript">
            $(document).on('ready', function (e) {
                $("form").keypress(function (e) {
                    if (e.which == 13) {
                        return false;
                    }
                });
            });
        </script>
    </h:head>
    <h:body>     
        #{historiaClinicaController.initAtencionTr()}
        <h:form id="IdFormPagos">
            <p:growl id="IdMensajeUsuarios"  showDetail="true" sticky="false" autoUpdate="true" life="4000"/>
            <table style="margin-left: auto; margin-right: auto;">                    
                <tr>
                    <td colspan="2">
                        <br/><br/>
                        <p:dataTable 
                            id="IdTablaTratamientos" 
                            var="registro" 
                            widgetVar="wvTablaCategorias"
                            value="#{historiaClinicaController.listaTrAtencion}"                                     
                            selection="#{historiaClinicaController.atencionSeleccionada}" 
                            rowKey="#{registro.id}"  
                            paginator="true"
                            style="width: 1000px; table-layout: fixed; word-wrap: break-word;"
                            rows="10"                                    
                            paginatorPosition="bottom"                                
                            emptyMessage="No hay terapias pendientes"
                            scrollable="true" 
                            currentPageReportTemplate="Mostrando {startRecord}-{endRecord} de {totalRecords}"
                            paginatorTemplate="{CurrentPageReport} {FirstPageLink} {PreviousPageLink} {PageLinks} {NextPageLink} {LastPageLink} {RowsPerPageDropdown}"                                    
                            pageLinks="5"                                   
                            selectionMode="single"
                            resizableColumns="true"
                            sortBy="#{registro.numSesion}"
                            sortOrder="ascending">   
                            <p:column headerText="SESIÓN #" width="100" filterBy="#{registro.numSesion}" filterMatchMode="contains">  
                                Sesión #{registro.numSesion}  
                            </p:column>                              
                            <p:column headerText="PACIENTE" width="300px" filterBy="#{registro.idPaciente.nombreCompleto}" filterMatchMode="contains">  
                                #{registro.idPaciente.nombreCompleto}
                            </p:column>                                                      
                            <p:column headerText="ESPECIALISTA" width="300px" filterBy="#{registro.idMedico.nombreCompleto}" filterMatchMode="contains">  
                                #{registro.idMedico.nombreCompleto}  
                            </p:column>
                            <p:column headerText="TRATAMIENTOS" width="auto">  
                                <p:commandButton id="IdBtnVerTratamientos" actionListener ="#{historiaClinicaController.consultaTratamientos(registro.idRegistro)}" oncomplete="PF('dialogoTratamientos').show()" process="@this" icon="ui-icon-calendar" value="Verificar Tratamientos"/>
                            </p:column>
                        </p:dataTable>  
                    </td>
                </tr>                        
                <tr>
                    <td colspan="2">
                        <br/>
                        <p:commandButton id="IdBtnRegistraTratamiento" value="Registrar Tratamientos Realizados" oncomplete="PF('aplicaTratamiento').show()" icon="ui-icon-check"/>
                        <br/><br/><br/>
                    </td>
                </tr>

            </table>
        </h:form>
        <p:dialog id="IdVisualizaTratamientos" header="TRATAMIENTOS" widgetVar="dialogoTratamientos" resizable="false" modal="true">  
            <p:row>
                <p:dataTable  id="tratamientosSoluciones" 
                              value="#{historiaClinicaController.myHashMapEntryList}" 
                              var="trat" 
                              lazy="true"
                              style="width: 1000px; table-layout: fixed; word-wrap: break-word;">
                    <p:column headerText="TRATAMIENTOS" width="200">#{trat.key}</p:column>
                    <p:column headerText="DOSIS" width="200">#{trat.value}</p:column>
                </p:dataTable>
            </p:row>
            <p:panelGrid id="panelEliminarCategoria" styleClass="panelGridSinBordes" columns="2">
                <p:row>
                    <p:column>
                        <p:commandButton 
                            value="Confirmar" 
                            oncomplete="PF('dialogoTratamientos').hide();"/>
                    </p:column>
                </p:row>
            </p:panelGrid>
        </p:dialog>

        <h:form id="IdFormDialogoEditarCategoria">        
            <p:dialog id="IdDialogoEliminarCategoria" header="REALIZAR TRATAMIENTO" widgetVar="aplicaTratamiento" resizable="false" modal="true">  
                <p:panelGrid id="panelEliminarCategoria" styleClass="panelGridSinBordes" columns="1">
                    <p:row>
                        <p:column colspan="2">
                            <h:outputText value="¿ Registrar terapia realizada ?"/>
                        </p:column>
                    </p:row>
                    <p:row>
                        <p:column>
                            <p:commandButton 
                                value="Confirmar" 
                                oncomplete="PF('aplicaTratamiento').hide();"
                                actionListener="#{historiaClinicaController.registraAtencion()}"
                                update="@form"/>
                        </p:column>
                    </p:row>
                </p:panelGrid>
            </p:dialog>
        </h:form>
    </h:body>
</html>