<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:p="http://primefaces.org/ui">  
    <h:head>        
        <title>Clasificaciones</title>
        <link href="../recursos/css/estilos.css" rel="stylesheet"/>        
        <link href="../recursos/css/metro-bootstrap.css" rel="stylesheet"/>
        <link href="../recursos/css/iconFont.css" rel="stylesheet"/>
        <link href="//fonts.googleapis.com/css?family=Comfortaa" rel="stylesheet" />
        <script type="text/javascript" src="../recursos/js/calendario.js"/>
        <script type="text/javascript">
            $(document).on('ready', function (e) {
                $("form").keypress(function (e) {
                    if (e.which == 13) {
                        return false;
                    }
                });
            });
        </script>
    </h:head>
    <h:body>     
        #{historiaClinicaController.initPagosTr()}
        <h:form id="IdFormPagos">  
            <p:growl id="IdMensajeUsuarios"  showDetail="true" sticky="false" autoUpdate="true" life="4000"/>
            <table style="margin-left: auto; margin-right: auto;">                    
                <tr>
                    <td colspan="2">
                        <br/><br/>
                        <p:dataTable 
                            id="IdTablaTratamientos" 
                            var="registro" 
                            widgetVar="wvTablaCategorias"
                            value="#{historiaClinicaController.listaTrNoPagos}"                                     
                            selection="#{historiaClinicaController.pagoSeleccionado}" 
                            rowKey="#{registro.id}"  
                            paginator="true"
                            style="width: 1000px; table-layout: fixed; word-wrap: break-word;"
                            rows="10"                                    
                            paginatorPosition="bottom"                                
                            emptyMessage="No hay terapias pendientes"
                            scrollable="true" 
                            currentPageReportTemplate="Mostrando {startRecord}-{endRecord} de {totalRecords}"
                            paginatorTemplate="{CurrentPageReport} {FirstPageLink} {PreviousPageLink} {PageLinks} {NextPageLink} {LastPageLink} {RowsPerPageDropdown}"                                    
                            pageLinks="5"                                   
                            selectionMode="single"
                            resizableColumns="true"
                            sortBy="#{registro.numSesion}"
                            sortOrder="ascending">   
                            <p:column headerText="SESIÓN #" width="100" filterBy="#{registro.numSesion}" filterMatchMode="contains">  
                                Sesión #{registro.numSesion}  
                            </p:column>                              
                            <p:column headerText="PACIENTE" width="auto" filterBy="#{registro.idPaciente.nombreCompleto}" filterMatchMode="contains">  
                                #{registro.idPaciente.nombreCompleto}
                            </p:column>                                                      
                            <p:column headerText="ESPECIALISTA" width="auto" filterBy="#{registro.idMedico.nombreCompleto}" filterMatchMode="contains">  
                                #{registro.idMedico.nombreCompleto}  
                            </p:column>                         
                        </p:dataTable>  
                    </td>
                </tr>                        
                <tr>
                    <td colspan="2">
                        <br/>
                        <p:commandButton id="IdBtnPago" value="Realizar Pago" oncomplete="PF('dialogoRealizaPago').show()" icon="ui-icon-check" disabled="#{empty historiaClinicaController.listaTrNoPagos}"/>
                        <br/><br/><br/>
                    </td>
                </tr>

            </table>     
            <p:dialog id="IdDialogoEliminarCategoria" header="REALIZAR PAGO" widgetVar="dialogoRealizaPago" resizable="false" modal="true">  
                <p:panelGrid id="panelEliminarCategoria" styleClass="panelGridSinBordes" columns="1">
                    <p:row>
                        <p:column colspan="2">
                            <h:outputText value="¿ Confirmar pago de la terapia ?"/>
                        </p:column>
                    </p:row>
                    <p:row>
                        <p:column>
                            <p:commandButton 
                                value="Confirmar" 
                                oncomplete="PF('dialogoRealizaPago').hide();"
                                actionListener="#{historiaClinicaController.registraPago()}"
                                update="@form"/>
                        </p:column>
                    </p:row>
                </p:panelGrid>
            </p:dialog>
        </h:form>
    </h:body>
</html>
