<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:p="http://primefaces.org/ui"
      xmlns:f="http://xmlns.jcp.org/jsf/core">
    <h:head>
        <title>Facelet Title</title>
        <script src="../recursos/js/calendario.js"/>
        <link href="../recursos/css/estilos.css" rel="stylesheet"/>
        <link href="../recursos/css/metro-bootstrap.css" rel="stylesheet"/>
        <link href="../recursos/css/iconFont.css" rel="stylesheet"/>
        <link href="//fonts.googleapis.com/css?family=Comfortaa" rel="stylesheet" />        
        <style type="text/css"> 
            .ui-panelgrid td, .ui-panelgrid tr
            {
                border-style: none !important;
            }
        </style>    
    </h:head>
    <h:body>
        <br/>
        <p:growl autoUpdate="true" showDetail="true"/>
        <h:form id="formReporte">
            <p:panel>
                <p:panelGrid style="margin: 0 auto;" columns="3">
                    <p:outputLabel value="Tipo de Reporte:" />
                    <p:selectOneMenu value="#{reporteCitMedicaController.tipoReporte}" >
                        <f:selectItems value="#{reporteCitMedicaController.listaReportes}"/>
                        <p:ajax event="change" listener="#{reporteCitMedicaController.habilitarFuncionalidadReporte}" update="@form"/>
                    </p:selectOneMenu>
                    &nbsp;
                    <p:outputLabel value="Paciente: " style="display:#{reporteCitMedicaController.displayBusquedaPaciente}"/>
                    <p:inputText id="idTextIdentificacion" value="#{reporteCitMedicaController.identificacionPaciente}" style="display:#{reporteCitMedicaController.displayBusquedaPaciente}">
                        <p:ajax event="blur" listener="#{reporteCitMedicaController.findPaciente}" update="@form"/>
                    </p:inputText>
                    <p:commandButton
                        id="cbtnPaciente"
                        title="Paciente"
                        style="display:#{reporteCitMedicaController.displayBusquedaPaciente}"
                        onclick="PF('dlgPaciente').show();"
                        icon="ui-icon-search"
                        />
                    <p:outputLabel value="Fecha Inicial:" />
                    <p:calendar 
                        navigator="true" 
                        id="fechIni" 
                        widgetVar="calwidgetini" 
                        value="#{reporteCitMedicaController.fechaInicial}" 
                        locale="es" 
                        maxlength="10" 
                        timeZone="America/Bogota" 
                        pattern="dd/MM/yyyy"  
                        mask="99/99/9999" 
                        size="10"/>
                    &nbsp;
                    <p:outputLabel value="Fecha Final:" />
                    <p:calendar 
                        navigator="true" 
                        id="fechFin" 
                        widgetVar="calwidgetfin" 
                        value="#{reporteCitMedicaController.fechaFinal}" 
                        locale="es" 
                        maxlength="10" 
                        timeZone="America/Bogota" 
                        pattern="dd/MM/yyyy" 
                        mask="99/99/9999"  
                        size="10" />
                    &nbsp;
                    <p:commandButton id="idButtonFiltrar" rendered="#{reporteCitMedicaController.renBtnFiltrar}" value="Filtrar" onclick="PF('dlgfiltrar').show()"/>
                    <p:commandButton id="idButtonReporte" rendered="#{reporteCitMedicaController.renBtnReporte}" actionListener="#{reporteCitMedicaController.generarReporte}" value="Generar Reporte" ajax="false">
                        <f:attribute name="logo_empresa" value="#{indexController.rutaCarpetaImagenes}#{indexController.empresaActual.logo.urlImagen}" />
                    </p:commandButton>
                    &nbsp;
                </p:panelGrid>
            </p:panel>
        </h:form>

        <p:dialog widgetVar="dlgfiltrar" modal="true" resizable="false" header="Filtrar">
            <h:form id="formfiltrado">
                <p:panelGrid style="width: 500px">
                    <f:facet name="header">
                        <p:row>
                            <p:column><p:outputLabel value="Pacientes"/></p:column>
                            <p:column><p:outputLabel value="Medicos"/></p:column>
                        </p:row>
                        <p:row>
                            <p:column><p:commandButton value="&nbsp;" styleClass="icon-filter fg-lightBlue bg-white" style="font-size: 1em; width: 2em; height: 2em; padding-top: 4px;" onclick="PF('dlgPacienteFiltrar').show()"/></p:column>
                            <p:column><p:commandButton value="&nbsp;" styleClass="icon-filter fg-lightBlue bg-white" style="font-size: 1em; width: 2em; height: 2em; padding-top: 4px;" onclick="PF('dlgMedico').show()"/></p:column>                            
                        </p:row>
                    </f:facet>
                    <p:row>
                        <p:column>
                            <p:dataList value="#{reporteCitMedicaController.listPacientes}" var="paciente" type="ordered" emptyMessage="No hay pacientes para filtrar">
                                #{paciente.primerNombre} #{paciente.primerApellido}
                            </p:dataList>                            
                        </p:column>
                        <p:column>
                            <p:dataList value="#{reporteCitMedicaController.listMedicos}" var="medico" type="ordered" emptyMessage="No hay medicos para filtrar">
                                #{medico.primerNombre} #{medico.primerApellido}
                            </p:dataList>
                        </p:column>

                        
                    </p:row>
                </p:panelGrid> 
            
            <br/>
            <div align="center">
                <p:commandButton value="Aceptar" onclick="PF('dlgfiltrar').hide();"/>
                <p:commandButton value="Reiniciar Filtros" actionListener="#{reporteCitMedicaController.limpiarFiltros}" update=":formReporte :formfiltrado"/>
            </div>
            </h:form>
        </p:dialog>

      

        <p:dialog header="Buscar Paciente" widgetVar="dlgPaciente" resizable="false" modal="true">
            <h:form id="formFindPaciente">
                <table>
                    <tr>
                        <td colspan="3">
                            <p:dataTable
                                id="tableElegirPaciente"
                                var="paciente" 
                                value="#{reporteCitMedicaController.pacientes}"
                                rowKey="#{paciente.idPaciente}"  
                                selection="#{reporteCitMedicaController.pacienteSeleccionado}" 
                                paginator="true"
                                style="width: 600px;"
                                rows="10"
                                lazy="true"
                                paginatorPosition="bottom"                                
                                emptyMessage="No se encontraron pacientes"
                                scrollable="true" 
                                pageLinks="5"
                                widgetVar="pacientesTable"
                                selectionMode="single"
                                resizableColumns="true"
                                >
                                <p:column headerText="Nro Documento" width="25%" filterBy="#{paciente.identificacion}" filterMatchMode="contains" filterStyle="width: 145px;">
                                    <h:outputText value="#{paciente.identificacion}"/>                                  
                                </p:column>
                                <p:column headerText="Nombre" width="44%" filterBy="#{paciente.primerNombre} #{paciente.segundoNombre} #{paciente.primerApellido} #{paciente.segundoApellido}" filterStyle="width: 250px;" filterMatchMode="contains">
                                    <h:outputText value="#{paciente.primerNombre} #{paciente.segundoNombre} #{paciente.primerApellido} #{paciente.segundoApellido}" />
                                </p:column>
                            </p:dataTable>
                        </td>
                    </tr>
                    <tr>
                        <td colspan="3">
                            <p:commandButton
                                id="cbtnPaciente"
                                value="Cargar Paciente"
                                actionListener="#{reporteCitMedicaController.addPacienteFiltro}"
                                update=":formfiltrado"
                                oncomplete = "PF('dlgPaciente').hide();"                                
                                />
                        </td>
                    </tr>
                </table>
            </h:form>
        </p:dialog>

        <p:dialog header="Buscar Medico" widgetVar="dlgMedico" resizable="false" modal="true">

            <br/>
            <h:form id="formFindMedico">
                <table>
                    <tr>
                        <td colspan="3">
                            <p:dataTable 
                                id="tableMedicoEsp"
                                var="medico" 
                                value="#{reporteCitMedicaController.medicos}"
                                rowKey="#{medico.idUsuario}"  
                                selection="#{reporteCitMedicaController.medicoSeleccionado}" 
                                paginator="true"
                                style="width: 600px;"
                                rows="10"
                                widgetVar="medicosTable"
                                paginatorPosition="bottom"                                
                                emptyMessage="No hay medicos"
                                scrollable="true" 
                                rowsPerPageTemplate="5,10,15"
                                pageLinks="5"
                                lazy="true"
                                selectionMode="single"
                                resizableColumns="true">
                                <p:column headerText="Nombre" filterBy="#{medico.primerNombre} #{medico.segundoNombre} #{medico.primerApellido} #{medico.segundoApellido}"  filterMatchMode="contains" filterStyle="width: 250px;">
                                    <h:outputText value="#{medico.primerNombre} #{medico.segundoNombre} #{medico.primerApellido} #{medico.segundoApellido}" />
                                </p:column>
                                <p:column headerText="Especialidad" filterBy="#{medico.especialidad.id}" filterMatchMode="exact">
                                    <f:facet name="filter">
                                        <p:selectOneMenu onchange="PF('medicosTable').filter()" style="width: 250px;" >
                                            <f:selectItem itemLabel="..." itemValue="#{null}" noSelectionOption="true" />
                                            <f:selectItems  value="#{citaController.listEspecialidades}" />
                                        </p:selectOneMenu>
                                    </f:facet>        
                                    <h:outputText value="#{medico.especialidad.descripcion}" />
                                </p:column>                          
                            </p:dataTable>
                        </td>
                    </tr>
                    <tr>
                        <td colspan =" 3"><p:commandButton
                                id='cbtnmedico'
                                value = "Cargar Medico"
                                actionListener="#{reporteCitMedicaController.addMedicoFiltro()}"
                                update=":formfiltrado"
                                oncomplete = "PF('dlgMedico').hide();">
                            </p:commandButton>
                        </td>
                    </tr>               
                </table>

            </h:form>
        </p:dialog>

       

        <p:dialog header="Buscar Paciente" widgetVar="dlgPaciente" resizable="false" modal="true">
            <h:form id="formPaciente">
                <table>
                    <tr>
                        <td colspan="3">
                            <p:dataTable
                                id="tableElegirPaciente"
                                var="paciente" 
                                value="#{reporteCitMedicaController.listPacientesBusqueda}"
                                rowKey="#{paciente.idPaciente}"  
                                selection="#{reporteCitMedicaController.paciente}" 
                                paginator="true"
                                style="width: 600px;"
                                rows="10"
                                lazy="true"
                                paginatorPosition="bottom"                                
                                emptyMessage="No se encontraron pacientes"
                                scrollable="true" 
                                pageLinks="5"
                                widgetVar="pacientesTableFiltrar"
                                selectionMode="single"
                                resizableColumns="true"
                                >
                                <p:column headerText="Nro Documento" width="25%" filterBy="#{paciente.identificacion}" filterMatchMode="contains" filterStyle="width: 145px;">
                                    <h:outputText value="#{paciente.identificacion}"/>                                  
                                </p:column>
                                <p:column headerText="Nombre" width="44%" filterBy="#{paciente.primerNombre} #{paciente.segundoNombre} #{paciente.primerApellido} #{paciente.segundoApellido}" filterStyle="width: 250px;" filterMatchMode="contains">
                                    <h:outputText value="#{paciente.primerNombre} #{paciente.segundoNombre} #{paciente.primerApellido} #{paciente.segundoApellido}" />
                                </p:column>
                            </p:dataTable>
                        </td>
                    </tr>
                    <tr>
                        <td colspan="3">
                            <p:commandButton
                                id="cbtnPaciente"
                                value="Cargar Paciente"
                                update = ":formReporte"
                                actionListener="#{reporteCitMedicaController.actualizarPaciente()}"
                                oncomplete = "PF('dlgPaciente').hide();"                                
                                />
                        </td>
                    </tr>
                </table>
            </h:form>
        </p:dialog>  

        <p:dialog header="Buscar Paciente" widgetVar="dlgPacienteFiltrar" resizable="false" modal="true">
            <h:form id="formPacienteFiltrar">
                <table>
                    <tr>
                        <td colspan="3">
                            <p:dataTable
                                id="tableElegirPacientefiltrar"
                                var="paciente" 
                                value="#{reporteCitMedicaController.listPacientesBusqueda}"
                                rowKey="#{paciente.idPaciente}"  
                                selection="#{reporteCitMedicaController.pacienteSeleccionado}" 
                                paginator="true"
                                style="width: 600px;"
                                rows="10"
                                lazy="true"
                                paginatorPosition="bottom"                                
                                emptyMessage="No se encontraron pacientes"
                                scrollable="true" 
                                pageLinks="5"
                                widgetVar="pacientesTable"
                                selectionMode="single"
                                resizableColumns="true"
                                >
                                <p:column headerText="Nro Documento" width="25%" filterBy="#{paciente.identificacion}" filterMatchMode="contains" filterStyle="width: 145px;">
                                    <h:outputText value="#{paciente.identificacion}"/>                                  
                                </p:column>
                                <p:column headerText="Nombre" width="44%" filterBy="#{paciente.primerNombre} #{paciente.segundoNombre} #{paciente.primerApellido} #{paciente.segundoApellido}" filterStyle="width: 250px;" filterMatchMode="contains">
                                    <h:outputText value="#{paciente.primerNombre} #{paciente.segundoNombre} #{paciente.primerApellido} #{paciente.segundoApellido}" />
                                </p:column>
                            </p:dataTable>
                        </td>
                    </tr>
                    <tr>
                        <td colspan="3">
                            <p:commandButton
                                id="cbtnPacienteFiltrar"
                                value="Cargar Paciente"
                                actionListener="#{reporteCitMedicaController.addPacienteFiltro()}"
                                oncomplete = "PF('dlgPacienteFiltrar').hide();"                                
                                />
                        </td>
                    </tr>
                </table>
            </h:form>
        </p:dialog>         
    </h:body>
</html>

