.InactivityLayer {
    display: none;
    position: absolute;
    text-align: center;   
    font-size: 20px;
    top: 0;
    left: 0;
    z-index: 100;
    width: 100%;
    height: 100%;
    background: #000;
    filter:alpha(opacity=30);
    -moz-opacity: 0.3;
    opacity: 0.3;
}  
.panelGridSinBordes tr, .panelGridSinBordes td {
    background: none !important;
    border: none !important;
}

.button-metro-prime{
    font-size: 450% !important;
    height: 100px !important;
    width: 100px !important;
}
body{
    font-size: 10.5px !important;
}



/* Sobreescritura de metodos para primefaces*/
/*
.ui-menu{
    background-color: #4390df !important;    
}
.ui-menuitem-text{
    color: white;        
}
.ui-menu-child {    
    background-color: #4390df !important;    
}
*/

.ui-tabs a {
    color: black;
}

.ui-state-default a, .ui-state-default a:link {
    /*color: #6BC5D8;*/
    color: #000;
    text-decoration: none;
}

.ui-state-active a, .ui-state-active a:link, .ui-state-active a:visited {
    color: #000;
    text-decoration: none;
}

.ui-draggable .ui-dialog-titlebar {
    cursor: move;
    background: #163357;
    border-radius: 1em;
    margin: 5px;
}

.ui-dialog .ui-dialog-title {
    float: left;
    margin: .3em 16px 4px 0;
}

.ui-selectonelistbox-item
{
    color: black !important;
    font-weight: normal !important;

}

.ui-shadow, .ui-inputfield, .ui-widget-content .ui-inputfield, .ui-widget-header .ui-inputfield {
    box-shadow: none !important;
}

.ui-widget-header {
    /*border: 1px solid #4297d7;*/
    /*background: #5c9ccc url("/centromedico/faces/javax.faces.resource/images/ui-bg_gloss-wave_55_5c9ccc_500x100.png?ln=primefaces-redmond") 50% 50% repeat-x;*/
    color: #ffffff;
    background: transparent;
    font-weight: bold;
    border: none;
}

.ui-slidemenu-backward{
    background: #163357 !important;
    color: #fff !important; 
}
.ui-slidemenu-backward:hover{
    background: #6BC5D8 !important;
    color: #000 !important; 
}
.ui-outputlabel{
    color: #163357 !important;
}
.ui-layout-unit-header, .ui-layout-unit-footer {
    padding: 0.4em 0.2em 0.8em 0.2em;
    background: #6BC5D8 !important;
}

.ui-tabs.ui-tabs-top > .ui-tabs-nav li {
    /*border-bottom: 0;*/
    border: 1px solid #6BC5D8;
    top: 1px;
}

.ui-tabs-scrollable .ui-tabs-nav li {
    /*margin: 0 .2em -1px 0;*/
    margin: 0 .2em;
}

.ui-tabs .ui-tabs-nav li {

    list-style: none;
    float: left;
    position: relative;
    margin: 0 .2em;
    padding: 0;
    white-space: nowrap;
}

.ui-paginator .ui-paginator-page .ui-icon, .ui-paginator .ui-paginator-next .ui-icon, .ui-paginator .ui-paginator-last .ui-icon, .ui-paginator .ui-paginator-first .ui-icon, .ui-paginator .ui-paginator-prev .ui-icon {
    margin-bottom: 4px;
}
.ui-paginator .ui-paginator-page:hover, .ui-paginator .ui-paginator-next:hover, .ui-paginator .ui-paginator-last:hover, .ui-paginator .ui-paginator-first:hover, .ui-paginator .ui-paginator-prev:hover, .ui-paginator .ui-paginator-current:hover{
    border: 1px solid #163357 !important;
    background: #163357 !important;
    color: #fff !important;
}
.ui-paginator .ui-paginator-next:hover .ui-icon, .ui-paginator .ui-paginator-last:hover .ui-icon, .ui-paginator .ui-paginator-first:hover .ui-icon, .ui-paginator .ui-paginator-prev:hover .ui-icon, .ui-paginator .ui-paginator-current:hover .ui-icon{
    background-image: url("/centromedico/faces/javax.faces.resource/images/ui-icons_469bdd_256x240.png?ln=primefaces-redmond");
    filter: brightness(1000%);
    -webkit-filter: brightness(1000%);
}

.ui-button-icon-only .ui-icon, .ui-button-text-icon-left .ui-icon, .ui-button-text-icon-right .ui-icon {
    position: absolute;
    top: 50%;
    margin-top: -9px;
}

.ui-widget-content .ui-datatable-empty-message{
    border: 1px solid #6BC5D8 !important;
}

.ui-widget-content .ui-datatable-even, .ui-widget-content .ui-datatable-odd{
    border: 1px solid #6BC5D8;
}

.ui-widget-content .ui-datatable-even:hover , .ui-widget-content .ui-datatable-odd:hover {
    border: 1px solid #163357 !important;
    background: #163357 !important;
    color: #fff !important;
}

.ui-dialog {
    position: fixed;
    padding: 0;
    overflow: hidden;
    border-radius: 1em;
}

.ui-widget-content .ui-datatable-even:active , .ui-widget-content .ui-datatable-odd:active {
    border: 1px solid #000 !important;
    background: #6BC5D8 !important;
    color: #000 !important;
}

.ui-tabs .ui-tabs-nav li .ui-icon {
    float: left;
    margin: 0.55em 0.2em 0 0;
    cursor: pointer;
}

.ui-button .ui-button-text {
    display: block;
    line-height: 1.4;
}

.ui-state-default, .ui-widget-content .ui-state-default, .ui-widget-header .ui-state-default {
    /*border: 1px solid #c5dbec;
    background: #dfeffc url("/centromedico/faces/javax.faces.resource/images/ui-bg_glass_85_dfeffc_1x400.png?ln=primefaces-redmond") 50% 50% repeat-x;*/
    border: 1px solid #6BC5D8;
    color: #163357 !important;
    border-radius: 1rem;
    background: #fff;
    font-weight: bold;
    color: #2e6e9e;
}

.ui-state-highlight, .ui-widget-content .ui-state-highlight, .ui-widget-header .ui-state-highlight {
    /*border: 1px solid #fad42e;*/
    border: none !important;
    /*background: #163357 !important;
    color: #fff !important;*/
    background: #6BC5D8 !important;
    color: #000 !important;
}

.ui-selectonemenu-panel .ui-selectonemenu-items-wrapper {
    border: 1px solid #163357;
    border-radius: 1em;
}
.ui-selectonemenu-panel .ui-selectonemenu-items-wrapper .ui-widget-content .ui-state-hover{
    background: #163357;
    color: #fff !important;
}
.ui-widget-content{
    border:none;
}

/*.ui-state-hover, .ui-widget-content .ui-state-hover, .ui-widget-header .ui-state-hover, .ui-state-focus, .ui-widget-content .ui-state-focus, .ui-widget-header .ui-state-focus {*/
/*.ui-widget-content .ui-state-hover{
    background: #163357;
    color: #fff !important;
}*/

/*.ui-state-default .ui-corner-top .ui-state-hover{
    background: #163357;
    color: #fff;
}*/

.ui-widget-header .ui-state-active {
    background: #6BC5D8 !important;
    color: #000 !important;
    font-weight: bold !important;
}
.ui-button:hover, .ui-button-text-only:hover{
    border: 1px solid #3C597D !important;
    background: #163357 !important;
    color: #fff !important;
}
.ui-button:hover .ui-icon {
    background-image: url("/centromedico/faces/javax.faces.resource/images/ui-icons_469bdd_256x240.png?ln=primefaces-redmond");
    filter: brightness(1000%);
    -webkit-filter: brightness(1000%);
}

.ui-selectonemenu .ui-selectonemenu-trigger {
    border: 1px solid #163357;
    cursor: pointer;
    width: 16px;
    height: 60%;
    position: absolute;
    right: 0;
    top: 0;
    margin-top: 4px;
    margin-right: 4px;
    padding: 0.3px;
}

.ui-icon-triangle-1-s {
    background-position: -64px -15px;
}
.ui-state-active, .ui-widget-content .ui-state-active, .ui-widget-header .ui-state-active {
    color:#163357 !important;
}
.ui-inputswitch .ui-inputswitch-handle {
    margin: 2px;
    width: 16px !important;
    height: 16px !important;
}
.ui-inputswitch-checked > .ui-inputswitch-handle{
     left: 50% !important;
}
.ui-inputswitch-off span{
     color: #cdcdcd !important;
}
.ui-inputswitch {
    width: 50px !important;
}

.ui-selectonemenu .ui-selectonemenu-trigger:hover {
    background: #163357;
    color: #fff;
}

.ui-selectonemenu .ui-selectonemenu-trigger:hover .ui-icon {
    background-image: url("/centromedico/faces/javax.faces.resource/images/ui-icons_469bdd_256x240.png?ln=primefaces-redmond");
    filter: brightness(1000%);
    -webkit-filter: brightness(1000%);
}

.ui-selectonemenu .ui-selectonemenu-trigger .ui-icon {
    margin-top: -0.5px;
    margin-left: 0;
}

.ui-selectonemenu .ui-selectonemenu-label {
    display: block;
    border: none;
    white-space: nowrap;
    overflow: hidden;
    font-weight: normal;
    width: 100%;
    text-align: left;
    margin: 2px;
    border-radius: 1rem;
}
.ui-tabs-panel{    
    margin: 0px !important;
    padding: 0px !important;
}

.ui-tabs .ui-tabs-nav li:hover{
    border: 1px solid #163357 !important;
    background: #163357 !important;
    color: #fff !important;
}

.ui-tabs .ui-tabs-nav li a:hover {
    color: #fff;
    float: left;
    padding: .5em 1em;
    text-decoration: none;
}

.ui-tabs .ui-tabs-nav li:hover .ui-icon{
    background-image: url("/centromedico/faces/javax.faces.resource/images/ui-icons_469bdd_256x240.png?ln=primefaces-redmond");
    filter: brightness(1000%);
    -webkit-filter: brightness(1000%);
}

.ui-state-default .ui-icon {
    background-image: url("/centromedico/faces/javax.faces.resource/images/ui-icons_217bc0_256x240.png?ln=primefaces-redmond");
    filter: contrast(3000%) brightness(70%) sepia(100%) hue-rotate(190deg) saturate(500%);
    -webkit-filter: contrast(3000%) brightness(70%) sepia(100%) hue-rotate(190deg) saturate(500%);
}
.ui-state-default .ui-icon:hover {
    background-image: url("/centromedico/faces/javax.faces.resource/images/ui-icons_469bdd_256x240.png?ln=primefaces-redmond");
    /*filter: brightness(1000%);
    -webkit-filter: brightness(1000%);*/
}

/*.ui-state-default .ui-icon:active {
    background-image: url("/centromedico/faces/javax.faces.resource/images/ui-icons_469bdd_256x240.png?ln=primefaces-redmond");
    filter: sepia(100%) hue-rotate(190deg) saturate(500%);
    -webkit-filter: sepia(100%) hue-rotate(190deg) saturate(500%);
}*/
.ui-menu .ui-menu-list .ui-menuitem{
    border-bottom: 1px solid #dfdfdf; border-radius: 0
}
/*.ui-menu .ui-menu-list .ui-menuitem:hover{
    background: #163357 !important;
    color: #fff !important;
}*/

.ui-menu .ui-menuitem-link .ui-menuitem-icon, .ui-menu .ui-submenu-icon {
    background-image: url("/centromedico/faces/javax.faces.resource/images/ui-icons_217bc0_256x240.png?ln=primefaces-redmond");
    filter: contrast(3000%) brightness(70%) sepia(100%) hue-rotate(190deg) saturate(500%);
    -webkit-filter: contrast(3000%) brightness(70%) sepia(100%) hue-rotate(190deg) saturate(500%);
}

.ui-menu .ui-menu-parent .ui-icon-triangle-1-e, .ui-menu .ui-menu-parent .ui-icon-triangle-1-s, .ui-menubar .ui-menu-child .ui-icon-triangle-1-s, .ui-menubar .ui-menu-child .ui-icon-triangle-1-s {
    background-image: url("/centromedico/faces/javax.faces.resource/images/ui-icons_217bc0_256x240.png?ln=primefaces-redmond");
    filter: contrast(3000%) brightness(70%) sepia(100%) hue-rotate(190deg) saturate(500%);
    -webkit-filter: contrast(3000%) brightness(70%) sepia(100%) hue-rotate(190deg) saturate(500%);
}

.ui-fieldset{
    margin-bottom: 5px !important;
}

.ui-fieldset-legend {        
    margin: 0px !important;
    width: auto;
    height: 15px !important;
    margin-top: 5px !important;
    padding-top: 2px !important;
    padding-bottom: 0px !important;
    font-size: 12px; 
}

.ui-column-filter{/* FILTRO DE DATATABLE SE ALARGUE AL 90% DE LA COLUMNA*/
    width: 90% !important;
}

.ui-slidemenu-wrapper {/* BOTON REGRESAR DEL MENU PRICIPAL SE COLOQUE ABAJO*/
    height: 350px !important;
}
.ui-slidemenu-content {/* CONTENIDO DEL MENU PRINCIPAL TENGA LOS 350 PIXELS QUE SE NECESITA*/
    height: 350px !important;
}

.ui-selectlistbox-listcontainer{/* listas toca ver si se lo usa o no*/
    font-size: 12px !important;
}
.centrar-maximo{
    width: 95%; 
    margin-left: auto; 
    margin-right: auto;
}
.centrar{ 
    margin-left: auto; 
    margin-right: auto;
}

.campoObligatorio{/* Nombres de campo de los formularios obligatorio*/
    /*float: left; padding: 5px;  background-color: #eff5fa; margin: 0px; margin-right: 3px;*/
    float: left; padding: 5px;  background-color: none; margin: 0px; margin-right: 3px;   
}
.campoObligatorio:after{
    color: red;    
    content: "  *";    
}

.campoObligatorio2:after{
    color: red;    
    content: "  *";    
}
.campoNoObligatorio{
    /*float: left; padding: 5px; background-color: #eff5fa; margin: 0px;  margin-right: 3px; */
    float: left; padding: 5px; background-color: none; margin: 0px;  margin-right: 3px; 
}
.labelFormulario{
    float: left; padding: 5px; margin: 0px;  margin-right: 3px; 
}
.labelFormularioBold{
    float: left; padding: 5px; margin: 0px;  margin-right: 3px; font-weight: bold !important; 
}
.campoFormulario{
    float: left; margin-right: 3px;
}
.tablaFormulario{
    margin: 10px;
}

*{
    /*font-family: Lucida Grande, Lucida Sans, Arial, sans-serif !important;*/
    font-family: 'Comfortaa', sans-serif !important;
    font-weight: normal !important;
}

.botonSubMenu{
    font-size: 20px; width: 20px; height: 20px; left: 20px;     
}

.fc button {
    padding: 0.2em .6em;
}

fc-prev-button:hover ui-icon{
    background-image: url("/centromedico/faces/javax.faces.resource/images/ui-icons_469bdd_256x240.png?ln=primefaces-redmond");
    filter: brightness(1000%);
    -webkit-filter: brightness(1000%);   
}

h2{
    color:#163357;
    font-weight: bold;
}

h3{
    color:#0050ef;
    font-weight: bold;
}

/*TEXT AREA USADO EN DIALOGOS (TIENE FONDO AZUL)*/
.textAreaDialogo{
    text-align: match-parent; 
    background-color: #ebf4fb !important; 
    font-size: 13px; 
    font-weight: 900; 
    height: 60px; 
    width: 320px;
}

.width0{ /*DIMENSIONES USADAD EN CAMPOS DE FORMULARIOS DE HISTORIAS CLINICAS*/
    width: 50px; 
}

/*//.ui-selectonemenu-panel{LOS POPUP DE SELECONEMENU SALGAN DISMINUIDOS
//    width: 30% !important;
//}
*/
.noneDisplay{
    display: none;
}

/*DIMENSIONES USADAD EN CAMPOS DE FORMULARIOS DE HISTORIAS CLINICAS*/
.width1{ width: 315px !important; }
.width2{ width: 644px !important; }
.width3{ width: 206px !important; }
.width4{ width: 558px !important; }
.width5{ width: 200px !important; }
.width6{ width: 730px !important; }
.width7{ width: 100px !important; }
.width100p{ width: 100% !important; }
.btnSizeForm{ width: 22px; height: 22px;}/*boton del tamaÃ±o de los componentes del formulario*/

.ui-selectonemenu-item{
    width: 558px !important;
}

/*COLORES PARA LAS AGENDAS*/
.no_disponible .fc-content {
    background: #fabfb7;
    color: brown;
}
.no_disponible {
    background: #fabfb7;
    color: brown;
}
.color_sin_asignar .fc-event-inner {
    background: #b6cfd4;
}
.color_sin_asignar {
    background: #b6cfd4;
}
.disponible .fc-content {
    background: white;
    color: black;
}
.disponible {
    background: white;
    border: 1px solid #000 !important;
    color: black;
}
/*COLORES PARA LA AGENDA MEDICA */
.asignado .fc-event-inner{
    background-color: #ffda9e;
    color: #9a3427;
}
.asignado {
    background-color: #ffda9e;
    color: #9a3427 !important;
}
.no_atendido .fc-event-inner {
    background: #9bd3ae;
    color: black;
}
.no_atendido {
    background: #9bd3ae;
    color: black !important;
}
.libre .fc-event-inner {
    background: white;
    border: 1px !important;
    color: black;
}
.libre {
    background: white;
    color: black;
}
.atendido .fc-event-inner {
    background: #b6cfd4;
    color: #226a94;
}
.atendido {
    background: #b6cfd4;
    color: #226a94 !important;
}

.en_espera .fc-event-inner{
    background-color: #ffda9e;
    color: #d27232;
}
.en_espera {
    background-color: #ffda9e;
    color: #d27232 !important;
}
.reservado .fc-event-inner {
    background: #b6cfd4;
    color: #226a94;
}
.reservado {
    background: #b6cfd4;
    color: #226a94;
}
/*

.disponible .fc-event-inner {
    background: #ccffcc;
}
.no_disponible .fc-event-inner {
    background: #b01919;
}*/

/* CONTENIDO DE UN ACORDEON NO TENGA PADDING ACORDE*/
.ui-accordion-content{
    padding: 0px !important;
} 

/* CUALQUIER TEXTO EN UNA SOLA LINEA, SI SUPERA LA LINEA COLOCA TRES PUNTOS*/
.textoEnUnaLinea{
    overflow: hidden; 
    display: inline-block; 
    text-overflow:ellipsis; 
    white-space: nowrap;
}

/*** CombinaciÃ³n con boostrap **/
.estiloh2{
    color:#0050ef;
    font-weight: bold;
}

/* GENERAL CSS */
body, html{
    margin:0;
    left:0;
    top:0;
    height:100%;
    /*background: #fff !important;*/
}
a{text-decoration: none;color: #000;}
a:hover{text-decoration: none;color: lightskyblue;}
.login-bg{
    background-image: url('../../recursos/img/bg.jpg'); 
    margin: 0;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100%;
}
.login-panel{
    position: relative;
    top: 25%;
    left: 5%;
    background-color: #fff;
    width: 400px;
    height:300px;
    border-radius: 20px;
}
.mt-10{margin-top: 10px !important;}
.mt-20{margin-top: 20px !important;}
.mt-80{margin-top: 80px !important;}
.mt-60{margin-top: 60px !important;}
.m-0{margin: 0px !important;}
.m-10{margin: 10px !important;}
.m-20{margin: 20px !important;}
.center{text-align: center !important;}
.left{text-align: left !important;}
.display-b{display: block !important;}
.center-items {
  display: block !important;
  margin-left: auto !important;
  margin-right: auto !important;
}

.ui-dialog-titlebar{
    background: #163357 !important;
    color: #fff !important;
}


.ui-selectcheckboxmenu .ui-selectcheckboxmenu-trigger {
    border: 1px solid #163357;
    cursor: pointer;
    width: 16px;
    height: 60%;
    position: absolute;
    right: 0;
    top: 0;
    margin-top: 4px;
    margin-right: 4px;
    padding: 0px;
}

.ui-selectcheckboxmenu .ui-selectcheckboxmenu-trigger:hover {
    background: #163357;
    color: #fff;
}

.ui-selectcheckboxmenu .ui-selectcheckboxmenu-trigger:hover .ui-icon {
    background-image: url("/centromedico/faces/javax.faces.resource/images/ui-icons_469bdd_256x240.png?ln=primefaces-redmond");
    filter: brightness(1000%);
    -webkit-filter: brightness(1000%);
}

.ui-selectcheckboxmenu .ui-selectcheckboxmenu-trigger .ui-icon {
    margin-top: 0.5px;
    margin-left: 0;
}

.ui-selectcheckboxmenu .ui-selectcheckboxmenu-label {
    display: block;
    border: none;
    white-space: nowrap;
    overflow: hidden;
    font-weight: normal;
    /*width: 100%;*/
    width: 255px;
    text-align: left;
    margin: 4px;
    border-radius: 1rem;
}

.ui-selectcheckboxmenu .ui-selectcheckboxmenu-trigger:hover .ui-statehover{
    background: #fff;
}
.ui-selectcheckboxmenu .ui-selectcheckboxmenu-label:hover {
    width: 0px;
}
.pt-3{padding-top: 3px;}
.ui-corner-all{
    -moz-border-radius: 1rem !important;
    -webkit-border-radius: 1rem !important;
    border-radius: 1rem !important;
}

.fixed-size {
    table-layout: fixed;
    word-wrap: break-word;
}

.widthObs{ width: 490px !important; }

.noWrap{ white-space: normal !important; }

.ui-datatable-resizable thead th, .ui-datatable-resizable tbody td, .ui-datatable-resizable tfoot td{
    white-space: normal !important;
}
.ui-slidemenu-backward {
    padding: .2em;
        padding-top: 0.4em;
}

.ui-slidemenu-backward .ui-icon-triangle-1-w {
    background-position: -96px -18px;
}

.botonesFichaMedica .ui-state-default, 
.botonesFichaMedica .ui-widget-content .ui-state-default,
.botonesFichaMedica .ui-widget-header .ui-state-default {
    border: 1px solid #163357;
    background: #fff;
    /*background:
    #dfeffc url("/centromedico/faces/javax.faces.resource/images/ui-bg_glass_85_dfeffc_1x400.png?ln=primefaces-redmon|d") 50% 50% repeat-x;*/
    font-weight: bold;
    color: #163357;
}

.botonesFichaMedica .ui-selectonemenu .ui-selectonemenu-trigger {
    border: 1px solid #163357;
    cursor: pointer;
    width: 16px;
    height: 60%;
    position: absolute;
    right: 0;
    top: 0;
    margin-top: 4px;
    margin-right: 4px;
    padding: 0.3px;
}

.botonesFichaMedica .ui-icon-triangle-1-s {
    background-position: -64px -15px;
}
.botonesFichaMedica .ui-state-active, 
.botonesFichaMedica .ui-widget-content .ui-state-active,
.botonesFichaMedica .ui-widget-header .ui-state-active {
    color:#163357;
}
.botonesFichaMedica .ui-state-default,
.botonesFichaMedica .ui-widget-content .ui-state-default,
.botonesFichaMedica .ui-widget-header .ui-state-default {
    /*border: 1px solid #c5dbec;
    background: #dfeffc url("/centromedico/faces/javax.faces.resource/images/ui-bg_glass_85_dfeffc_1x400.png?ln=primefaces-redmond") 50% 50% repeat-x;*/
    border: 1px solid #6BC5D8;
    color: #163357 !important;
    border-radius: 1rem;
    background: #fff;
    font-weight: bold;
    color: #2e6e9e;
}
.botonesFichaMedica.ui-state-default,
.botonesFichaMedica.ui-widget-content .ui-state-default,
.botonesFichaMedica.ui-widget-header .ui-state-default {
    /*border: 1px solid #c5dbec;
    background: #dfeffc url("/centromedico/faces/javax.faces.resource/images/ui-bg_glass_85_dfeffc_1x400.png?ln=primefaces-redmond") 50% 50% repeat-x;*/
    border: 1px solid #6BC5D8;
    color: #163357 !important;
    border-radius: 1rem;
    background: #fff;
    font-weight: bold;
    color: #2e6e9e;
}

.botonesFichaMedica.ui-widget-header .ui-state-active {
    background: #6BC5D8 !important;
    color: #000 !important;
    font-weight: bold !important;
}
.botonesFichaMedica.ui-button:hover, 
.botonesFichaMedica.ui-button-text-only:hover{
    border: 1px solid #3C597D !important;
    background: #163357 !important;
    color: #fff !important;
}

.botonesFichaMedica .ui-selectonemenu .ui-selectonemenu-trigger:hover {
    background: #163357;
    color: #fff;
}

.botonesFichaMedica .ui-selectonemenu .ui-selectonemenu-trigger:hover .ui-icon {
    background-image: url("/centromedico/faces/javax.faces.resource/images/ui-icons_469bdd_256x240.png?ln=primefaces-redmond");
    filter: brightness(1000%);
    -webkit-filter: brightness(1000%);
}

.botonesFichaMedica .ui-selectonemenu .ui-selectonemenu-trigger .ui-icon {
    margin-top: -0.5px;
    margin-left: 0;
}
